.account-password__wrap {
  box-shadow: 0 2px 15px 0 rgba(51, 51, 51, 0.2);
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
  background: #FFFFFF; }
  @media screen and (min-width: 768px) {
    .account-password__wrap .account-password {
      width: 70%; } }
  @media screen and (min-width: 1440px) {
    .account-password__wrap .account-password {
      width: 50%; } }

.account-password .password {
  background: #F4F8FD;
  margin: -1rem 0 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 20px; }
  @media screen and (min-width: 768px) {
    .account-password .password {
      padding: 1.5rem 1.3rem; } }
  .account-password .password__header {
    border-bottom: 2px solid rgba(193, 199, 205, 0.4);
    margin: 0 20px 30px;
    padding: 15px 0; }
    @media screen and (min-width: 768px) {
      .account-password .password__header {
        margin: 0 0 30px;
        padding: 0 0 20px; } }
    .account-password .password__header-copy {
      max-width: 350px; }
  .account-password .password__required {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    color: #354657;
    position: relative;
    padding-left: 50px; }
    @media screen and (min-width: 768px) {
      .account-password .password__required {
        padding-left: 60px; } }
    .account-password .password__required span.password__unchecked,
    .account-password .password__required span.password__validated {
      display: inline-block;
      width: 25px;
      height: 25px;
      min-width: 25px;
      border-radius: 15px;
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%); }
      @media screen and (min-width: 480px) {
        .account-password .password__required span.password__unchecked,
        .account-password .password__required span.password__validated {
          width: 30px;
          height: 30px; } }
    .account-password .password__required span.password__validated {
      background-image: url("/images/icons/complete-circle-fill-green.svg");
      background-repeat: no-repeat;
      background-size: cover; }
  .account-password .password__unchecked {
    background-color: #C1C7CD; }
  .account-password .password .column {
    padding: 0 !important; }

.account-password .pass-wrapper {
  width: 100%;
  margin-bottom: 40px;
  padding-top: 20px; }
  @media screen and (min-width: 480px) {
    .account-password .pass-wrapper {
      width: 385px; } }

.account-password .error {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #DE6C6C; }

.account-password__action {
  padding: 20px 0 0;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .account-password__action {
      width: 70%; } }
  @media screen and (min-width: 1440px) {
    .account-password__action {
      width: 50%; } }

.account-password__complete {
  display: none;
  background: #F4F8FD;
  border-radius: 5px;
  padding: 40px 30px;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .account-password__complete {
      padding: 40px 80px; } }
  .account-password__complete .account-password__complete__account-id {
    font-size: 16px;
    padding: 0 0 20px;
    line-height: 1.2; }
    .account-password__complete .account-password__complete__account-id--label {
      font-weight: 700; }
    .account-password__complete .account-password__complete__account-id--value {
      font-size: 20px;
      font-weight: 800; }

.account-password__label {
  display: flex !important; }

.account-password__show {
  margin-left: auto;
  color: #6E7787;
  font-weight: 500;
  font-size: 14px; }
  @media screen and (min-width: 768px) {
    .account-password__show {
      font-size: 16px; } }

.account-password--full {
  box-shadow: 0 2px 15px 0 rgba(51, 51, 51, 0.2);
  background-color: #FFFFFF;
  border-radius: 5px;
  position: relative;
  padding: 15px 0;
  margin-bottom: 20px;
  margin-top: 20px; }
  @media screen and (min-width: 768px) {
    .account-password--full {
      padding: 30px 40px;
      margin-bottom: 65px; } }
  .account-password--full .account-password__heading {
    text-align: center;
    padding: 0 10px; }
    @media screen and (min-width: 768px) {
      .account-password--full .account-password__heading {
        margin-bottom: 40px;
        padding: 0; } }
  .account-password--full .account-password__checkboxes {
    margin-top: 30px; }
    @media screen and (min-width: 768px) {
      .account-password--full .account-password__checkboxes label {
        font-weight: 500;
        color: #6E7787 !important;
        font-size: 12px !important; } }
