.account-profile__avatar {
  display: inline-block; }
  .account-profile__avatar img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    max-width: 50px; }

.account-profile__heading {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  line-height: 20px; }

.account-profile__content {
  background-color: #F4F8FD;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  margin-top: 10px; }

.account-profile__email {
  font-size: 14px;
  color: #354657;
  text-decoration: none;
  position: relative; }
  .account-profile__email:hover {
    text-decoration: underline; }

.account-profile__tel {
  font-size: 14px;
  color: #354657; }

.account-profile__divider {
  margin: 0 -10px 20px;
  height: 1px;
  background-color: #EEEEEE; }
