.address {
  border: 2px solid #EEEEEE;
  background-color: #FAFAFA;
  border-radius: 5px;
  width: 100%;
  max-width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0 auto; }
  .address__icon {
    margin-bottom: 2px; }
    @media screen and (min-width: 768px) {
      .address__icon {
        margin-right: 10px;
        margin-bottom: 0; } }
  .address__text {
    font-size: 14px;
    font-weight: 600; }
    @media screen and (min-width: 768px) {
      .address__text {
        font-size: 16px; } }
  .address--warning {
    border-color: #DE6C6C;
    background-color: #FBF0F0; }
