.banner-dynamic {
  display: block;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #EEEEEE;
  transition: all .2s ease-in-out;
  text-decoration: none;
  height: 100%;
  /* Medium/Large focal image */
  /* Banner titles */
  /* CTA button */ }
  .banner-dynamic:hover {
    opacity: 0.6; }
  .banner-dynamic__inner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px 0 16px 0;
    background-color: #EEEEEE;
    min-height: 120px;
    height: 100%; }
    @media screen and (min-width: 768px) {
      .banner-dynamic__inner {
        padding-top: 0;
        padding-bottom: 0;
        min-height: auto; } }
  .banner-dynamic__content {
    display: flex;
    height: 100%; }
    @media screen and (min-width: 768px) {
      .banner-dynamic__content {
        align-items: center;
        padding: 10px 15px; } }
    @media screen and (min-width: 1024px) {
      .banner-dynamic__content {
        padding: 20px 15px;
        padding-right: 40px; } }
  .banner-dynamic__offer {
    position: absolute;
    top: 11px;
    left: -10px;
    background-color: #5597E2;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #FFFFFF;
    width: 85px; }
    @media screen and (min-width: 768px) {
      .banner-dynamic__offer {
        position: relative;
        top: 0;
        left: -25px; } }
    @media screen and (min-width: 1024px) {
      .banner-dynamic__offer {
        width: 180px; } }
  .banner-dynamic__offer-image {
    width: auto;
    height: auto; }
  .banner-dynamic__image-mobile {
    position: absolute;
    top: 20px;
    right: 20px;
    height: calc(100% - 40px);
    width: auto !important;
    display: block !important; }
    @media screen and (min-width: 768px) {
      .banner-dynamic__image-mobile {
        display: none !important; } }
  .banner-dynamic__img-desktop {
    display: none; }
    @media screen and (min-width: 768px) {
      .banner-dynamic__img-desktop {
        margin-left: 10px;
        max-width: 100%;
        display: flex;
        align-items: center; } }
    .banner-dynamic__img-desktop img {
      width: auto !important;
      max-height: 100px; }
      @media screen and (min-width: 768px) {
        .banner-dynamic__img-desktop img {
          max-width: 160px; } }
      @media screen and (min-width: 1024px) {
        .banner-dynamic__img-desktop img {
          max-width: 200px; } }
  .banner-dynamic__titles {
    padding-left: 20px;
    padding-right: calc(25% + 44px);
    color: #555555; }
    @media screen and (min-width: 480px) {
      .banner-dynamic__titles {
        padding-right: calc(20% + 20px); } }
    @media screen and (min-width: 768px) {
      .banner-dynamic__titles {
        padding-left: 15px;
        padding-right: 15px;
        flex: 2; } }
    @media screen and (min-width: 1024px) {
      .banner-dynamic__titles {
        padding-left: 30px;
        padding-right: 30px; } }
  .banner-dynamic__title {
    font-weight: 800;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px; }
    @media screen and (min-width: 768px) {
      .banner-dynamic__title {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 5px; } }
    @media screen and (min-width: 1024px) {
      .banner-dynamic__title {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 4px; } }
  .banner-dynamic__subtitle {
    font-weight: 500;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 18px; }
    @media screen and (min-width: 768px) {
      .banner-dynamic__subtitle {
        font-size: 14px;
        line-height: 20px; } }
    @media screen and (min-width: 1024px) {
      .banner-dynamic__subtitle {
        font-size: 16px;
        line-height: 24px; } }
  .banner-dynamic__btns {
    display: none; }
    @media screen and (min-width: 768px) {
      .banner-dynamic__btns {
        flex: 1.3;
        display: flex;
        justify-content: flex-end; } }
    @media screen and (min-width: 1024px) {
      .banner-dynamic__btns {
        flex: 1; } }
  .banner-dynamic__btn.ui {
    border-color: #354657 !important;
    color: #354657 !important;
    background-color: transparent !important;
    box-shadow: none !important;
    margin: 0;
    font-size: 16px !important; }
    .banner-dynamic__btn.ui:hover {
      border-color: #354657 !important;
      color: #354657 !important;
      background-color: transparent !important;
      box-shadow: none !important; }
    .banner-dynamic__btn.ui:not(:disabled):not(.disabled):hover, .banner-dynamic__btn.ui:not(:disabled):not(.disabled):active, .banner-dynamic__btn.ui:not(:disabled):not(.disabled):active:focus {
      border-color: #354657 !important;
      color: #354657 !important;
      background-color: transparent !important;
      box-shadow: none !important; }
    @media screen and (min-width: 768px) {
      .banner-dynamic__btn.ui {
        width: 100%; } }
    @media (max-width: 1024px) {
      .banner-dynamic__btn.ui.ui.button.large, .banner-dynamic__btn.ui.ui.button.large.basic {
        padding: 9px 20px !important; } }
  .banner-dynamic--light .banner-dynamic__title {
    color: #FFFFFF; }
  .banner-dynamic--light .banner-dynamic__subtitle {
    color: #FFFFFF; }
  .banner-dynamic--light .banner-dynamic__btn.ui {
    color: #FFFFFF !important;
    border-color: #FFFFFF !important; }
  .banner-dynamic--dark .banner-dynamic__title {
    color: #354657; }
  .banner-dynamic--dark .banner-dynamic__subtitle {
    color: #354657; }
  .banner-dynamic--dark .banner-dynamic__btn.ui {
    color: #354657 !important;
    border-color: #354657 !important; }

/* Promotion detail, eg. BOGO, 10% off, etc. */
