.body-system-list {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 40px 0 -20px 0; }
  @media screen and (min-width: 480px) {
    .body-system-list {
      margin: 40px 0 -40px 0; } }
  @media screen and (min-width: 768px) {
    .body-system-list {
      justify-content: flex-start; } }
  .body-system-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    width: 33.33%; }
    @media screen and (min-width: 768px) {
      .body-system-list__item {
        width: 50%;
        flex: 0 0 calc(20% - 10px);
        min-height: 85px;
        margin-right: 10px; } }
    @media screen and (min-width: 768px) {
      .body-system-list__item:nth-child(5n), .body-system-list__item:last-child {
        margin-right: 0; } }
  .body-system-list__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #354657; }
    .body-system-list__link:hover {
      color: #354657; }
  .body-system-list__item-img {
    text-align: center;
    height: 35px;
    width: 50px;
    margin-bottom: 5px; }
    @media screen and (min-width: 768px) {
      .body-system-list__item-img {
        height: 45px;
        margin-bottom: 0; } }
  .body-system-list__item-label {
    text-align: center;
    font-size: 12px;
    font-weight: 600; }

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  .body-system-list__item {
    flex: 16.66% !important; } }
