.breadcrumb {
  background: none;
  padding: 0;
  font-size: 0.875rem; }
  .breadcrumb-item, .breadcrumb-item.active,
  .breadcrumb-item + .breadcrumb-item::before {
    color: #BD8BCA; }
  .breadcrumb a {
    color: #BD8BCA;
    text-decoration: none; }
    .breadcrumb a:hover {
      color: #A25EB5; }
  .breadcrumb-item:first-child > a {
    font-weight: 800; }
