.cards--list {
  width: 102%;
  display: flex;
  flex-wrap: wrap; }
  @media screen and (min-width: 480px) {
    .cards--list {
      margin: 0 -1%; } }
  .cards--list.cards--col-1 > .card {
    flex: 0 0 100%;
    margin: 0 0 15px;
    height: auto; }
  @media screen and (min-width: 480px) {
    .cards--list.cards--col-sm-1 > .card {
      flex: 0 0 98%;
      margin: 0 1% 2%;
      height: auto; } }
  @media screen and (min-width: 1024px) {
    .cards--list.cards--col-md-1 > .card {
      flex: 0 0 98%;
      margin: 0 1% 2%;
      height: auto; } }
  .cards--list.cards--col-2 > .card {
    flex: 1 0 50%;
    margin: 0 0 2%;
    height: auto; }
  @media screen and (min-width: 480px) {
    .cards--list.cards--col-sm-2 > .card {
      flex: 1 0 47%;
      margin: 0 1% 2%;
      height: auto; } }
  @media screen and (min-width: 1024px) {
    .cards--list.cards--col-md-2 > .card {
      flex: 0 0 48%;
      margin: 0 1% 2%;
      height: auto; } }
  .cards--list.cards--col-3 > .card {
    flex: 0 0 31.333%;
    margin: 0 1% 1%;
    height: auto; }
  @media screen and (min-width: 480px) {
    .cards--list.cards--col-sm-3 > .card {
      flex: 0 0 31.333%;
      margin: 0 1% 1%;
      height: auto; } }
  @media screen and (min-width: 1024px) {
    .cards--list.cards--col-md-3 > .card {
      flex: 0 0 31.333%;
      margin: 0 1% 1%;
      height: auto; } }
  .cards--list.cards--col-4 > .card {
    flex: 1 0 23%;
    margin: 0 1% 2%;
    height: auto; }
  @media screen and (min-width: 480px) {
    .cards--list.cards--col-sm-4 > .card {
      flex: 1 0 23%;
      margin: 0 1% 2%;
      height: auto; } }
  @media screen and (min-width: 1024px) {
    .cards--list.cards--col-md-4 > .card {
      flex: 1 0 23%;
      margin: 0 1% 2%;
      height: auto; } }
  .cards--list.cards--col-5 > .card {
    flex: 0 0 18%;
    margin: 0 1% 2%;
    height: auto; }
  @media screen and (min-width: 480px) {
    .cards--list.cards--col-sm-5 > .card {
      flex: 0 0 18%;
      margin: 0 1% 2%;
      height: auto; } }
  @media screen and (min-width: 1024px) {
    .cards--list.cards--col-md-5 > .card {
      flex: 0 0 18%;
      margin: 0 1% 2%;
      height: auto; } }
  .cards--list.cards--col-6 > .card {
    flex: 0 0 14.6666%;
    margin: 0 1% 2%;
    height: auto; }
  @media screen and (min-width: 480px) {
    .cards--list.cards--col-sm-6 > .card {
      flex: 0 0 14.6666%;
      margin: 0 1% 2%;
      height: auto; } }
  @media screen and (min-width: 1024px) {
    .cards--list.cards--col-md-6 > .card {
      flex: 0 0 14.6666%;
      margin: 0 1% 2%;
      height: auto; } }
