.card-event-recognition {
  display: block;
  max-width: 800px;
  padding: 30px;
  text-align: center;
  margin-top: 75px; }
  .card-event-recognition__image {
    width: 150px;
    height: 150px;
    border-radius: 1000px;
    margin-top: -105px;
    margin-bottom: 30px; }
  .card-event-recognition__title {
    font-size: 1.5rem; }
  .card-event-recognition__subtitle {
    font-size: 0.875rem;
    color: #555555;
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 30px; }
  .card-event-recognition__features {
    text-align: left;
    font-size: 1rem; }

.card-event-recognition-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 20px; }
  .card-event-recognition-grid--2-col {
    grid-template-columns: 1fr 1fr; }
