.card--image {
  text-align: center;
  width: 100%;
  overflow: hidden;
  transition: all .2s ease-in-out; }
  @media screen and (min-width: 768px) {
    .card--image {
      margin-left: 7px;
      margin-right: 7px; } }
  .card--image .card__image {
    transition: transform .2s ease-in-out;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .card--image .card__body {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px; }
    @media screen and (min-width: 480px) {
      .card--image .card__body {
        padding: 20px; } }
  .card--image .card__heading {
    width: 100%;
    color: #FFFFFF; }
  .card--image .card__actions .card__action {
    flex: 1 0 0%;
    margin: 0; }

@media screen and (min-width: 1024px) {
  .card--image-aside {
    max-width: 420px; } }

.card--image-aside .card__body {
  text-align: left;
  top: 0; }
  @media screen and (min-width: 480px) {
    .card--image-aside .card__body {
      padding: 20px; } }

.card--image--zoom:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer; }
  .card--image--zoom:hover .card__image {
    transform: scale(1.05); }

.card--image--up:hover {
  cursor: pointer;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  transform: translate(0, -10px); }
