.card-account__header {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px; }
  @media screen and (min-width: 768px) {
    .card-account__header {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px; } }

.card-account__intro, .card-account__heading {
  border-bottom: 1px solid #EEEEEE;
  padding-bottom: 15px; }
  @media screen and (max-width: 767px) {
    .card-account__intro, .card-account__heading {
      font-size: 16px; } }
  @media screen and (min-width: 768px) {
    .card-account__intro, .card-account__heading {
      padding-bottom: 25px;
      margin-bottom: 30px;
      border-bottom: 2px solid #EEEEEE; } }
  .card-account__intro--no-border, .card-account__heading--no-border {
    padding-bottom: 0;
    border: none; }

.card-account__heading--media {
  display: flex;
  align-items: center; }
  .card-account__heading--media [class*="icon--"] {
    margin-right: 10px; }

@media screen and (min-width: 768px) {
  .card-account__heading--flush-md {
    margin-bottom: 0; } }

.card-account__intro {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 767px) {
    .card-account__intro {
      margin-bottom: 10px; } }
  .card-account__intro .card-account__heading {
    border: none;
    padding: 0;
    margin: 0; }

.card-account__subtitle {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px; }
  @media screen and (min-width: 768px) {
    .card-account__subtitle {
      margin-top: 0;
      margin-bottom: 16px;
      font-size: 20px;
      line-height: 1.2; } }
  .card-account__subtitle--ml {
    margin-top: 30px;
    margin-bottom: 30px; }

.card-account__subheading {
  margin-bottom: 20px;
  font-weight: 700; }
  @media screen and (max-width: 767px) {
    .card-account__subheading {
      margin-bottom: 12px; } }
  .card-account__subheading--icon {
    display: flex;
    align-items: center; }
    .card-account__subheading--icon span {
      margin-right: 15px; }
  .card-account__subheading--mb {
    margin-bottom: 15px; }
    @media screen and (min-width: 768px) {
      .card-account__subheading--mb {
        margin-bottom: 50px; } }
  .card-account__subheading--mt {
    margin-top: 20px; }
    @media screen and (min-width: 768px) {
      .card-account__subheading--mt {
        margin-top: 50px; } }
  .card-account__subheading--border-top {
    padding-top: 40px;
    margin-top: 40px;
    border-top: 2px solid #EEEEEE; }
  .card-account__subheading--sm {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px; }
  @media screen and (min-width: 768px) {
    .card-account__subheading--minor {
      font-size: 24px;
      line-height: 32px; } }

@media screen and (max-width: 767px) {
  .card-account__intro-text {
    font-size: 14px;
    line-height: 1.4; } }

.card-account__intro-assist {
  display: flex;
  align-items: center; }

.card-account__label-icon {
  display: flex !important;
  align-items: center; }
  .card-account__label-icon span {
    margin-left: 5px; }

.card-account__label-helper {
  display: block;
  font-size: 12px;
  font-weight: 500;
  color: #6E7787; }
  .card-account__label-helper--alt {
    font-style: italic;
    font-size: 14px; }
    @media screen and (min-width: 768px) {
      .card-account__label-helper--alt {
        font-size: inherit; } }

.card-account__label--inline .card-account__label-text {
  padding-right: 5px; }

.card-account__label--inline .card-account__label-helper {
  display: inline-block; }

.card-account__grid--2col .column:first-child {
  padding-right: 0.5rem !important; }

.card-account__grid--2col .column:last-child {
  padding-left: 0.5rem !important; }

.card-account__grid-wrap {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -15px;
  margin-top: 15px;
  padding: 20px;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  background-color: #F4F8FD;
  overflow: hidden; }
  @media screen and (min-width: 768px) {
    .card-account__grid-wrap {
      padding: 30px 45px;
      margin-top: 30px;
      margin-left: -45px;
      margin-right: -45px;
      margin-bottom: -32px; } }
  .card-account__grid-wrap .column:first-child {
    text-align: center; }
    @media screen and (min-width: 768px) {
      .card-account__grid-wrap .column:first-child {
        text-align: left; } }
  .card-account__grid-wrap .column:last-child {
    text-align: center; }
    @media screen and (min-width: 768px) {
      .card-account__grid-wrap .column:last-child {
        text-align: right; } }

.card-account__table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px; }
  @media screen and (min-width: 768px) {
    .card-account__table {
      font-size: 16px; } }
  @media screen and (min-width: 768px) {
    .card-account__table-wrap {
      max-width: 330px; } }
  .card-account__table-wrap--fill {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #EEEEEE;
    background-color: #FAFAFA;
    overflow: hidden;
    padding: 10px;
    margin-top: 20px; }
    @media screen and (min-width: 768px) {
      .card-account__table-wrap--fill {
        max-width: 330px; } }
    .card-account__table-wrap--fill tr td {
      color: #354657; }
    .card-account__table-wrap--fill .card-account__table {
      font-size: 12px !important; }
      @media screen and (min-width: 768px) {
        .card-account__table-wrap--fill .card-account__table {
          font-size: 14px !important; } }
  .card-account__table tr td {
    width: 50%; }
    .card-account__table tr td:last-child {
      text-align: right; }
  .card-account__table thead tr td {
    font-weight: bold; }
  .card-account__table-highlight {
    color: #A25EB5; }

.card-account__link {
  text-decoration: none; }
  .card-account__link-alt {
    color: #DE6C6C;
    margin-top: 20px;
    display: inline-block; }
    @media screen and (min-width: 768px) {
      .card-account__link-alt {
        margin-top: 10px; } }
    .card-account__link-alt:hover {
      color: #DE6C6C; }
  .card-account__link:hover {
    text-decoration: underline; }
  .card-account__link--right {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 500;
    font-size: 14px; }
  .card-account__link--right-red {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 500;
    font-size: 16px;
    color: #DE6C6C; }

.card-account__links-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px auto;
  overflow: hidden;
  font-size: 14px; }
  @media screen and (min-width: 768px) {
    .card-account__links-wrap {
      font-size: 16px; } }
  .card-account__links-wrap a {
    width: 100%;
    text-align: center;
    margin: 10px 20px;
    display: block;
    text-decoration: none;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto; }
    @media screen and (min-width: 480px) {
      .card-account__links-wrap a {
        width: auto; } }
    .card-account__links-wrap a:hover {
      text-decoration: underline; }

.card-account__not-found-link {
  margin-top: 20px;
  display: inline-block; }
  .card-account__not-found-link[data-js-account-address-search-again] {
    display: none;
    position: relative;
    top: 20px;
    padding-top: 20px; }

.card-account__block {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #EEEEEE; }
  .card-account__block-link {
    padding: 15px 0 15px 20px;
    font-size: 16px;
    color: #354657;
    font-weight: 800;
    display: flex;
    align-content: center;
    align-items: center;
    width: auto;
    position: relative;
    background-color: #F4F8FD;
    text-decoration: none;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .card-account__block-link {
        float: right;
        margin: 0;
        width: 265px;
        font-size: 20px; } }
    .card-account__block-link .icon--arrow-right {
      position: absolute;
      right: 20px; }
  .card-account__block:last-child {
    padding-bottom: 0;
    margin-bottom: 10px;
    border-bottom: none; }

.card-account__info {
  border-bottom: 2px solid #EEEEEE;
  margin: 20px 0 30px;
  padding: 20px; }
  @media screen and (min-width: 768px) {
    .card-account__info {
      padding: 5px 20px 20px; } }
  @media screen and (min-width: 1024px) {
    .card-account__info {
      padding: 5px 20px 30px 20px; } }
  .card-account__info--alt {
    border: none;
    margin-bottom: 0; }
  .card-account__info--scroller {
    border: 2px solid #EEEEEE;
    border-radius: 5px; }
    @media screen and (min-width: 768px) {
      .card-account__info--scroller {
        padding-top: 40px; } }

.card-account__info-text {
  font-weight: 500;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 14px;
  line-height: 22px; }
  @media screen and (min-width: 768px) {
    .card-account__info-text {
      font-size: 16px;
      line-height: 24px; } }

.card-account__consent {
  max-width: 550px;
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 25px !important; }

.card-account__value {
  display: inline-block;
  font-size: 16px;
  color: #6E7787; }

.card-account__profile {
  display: none; }
  @media screen and (max-width: 767px) {
    .card-account__profile {
      margin-left: -1em !important;
      margin-right: -1em !important;
      border-radius: 0 !important;
      box-shadow: none !important; } }
  @media screen and (min-width: 768px) {
    .card-account__profile {
      display: block; } }
  .card-account__profile-inner {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: -56px; }
    @media screen and (min-width: 768px) {
      .card-account__profile-inner {
        padding-top: 15px;
        padding-bottom: 30px;
        border-bottom: 1px solid #D1D1D1;
        margin-top: 0;
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 30px;
        padding-right: 30px; } }

.card-account__avatar {
  display: inline-block;
  position: relative; }
  @media screen and (min-width: 768px) {
    .card-account__avatar {
      margin-bottom: 10px; } }
  .card-account__avatar img {
    height: 50px;
    width: 50px;
    max-width: 50px;
    border-radius: 50%;
    border: 2px solid #BD8BCA;
    background-color: #FFFFFF; }
    @media screen and (min-width: 768px) {
      .card-account__avatar img {
        height: 88px;
        width: 88px;
        max-width: 88px;
        border: 4px solid #BD8BCA; } }
  .card-account__avatar-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: #BD8BCA;
    text-decoration: none;
    position: absolute;
    top: -2px;
    right: -11px; }
    @media screen and (min-width: 768px) {
      .card-account__avatar-edit {
        top: 5px;
        right: -5px; } }
    .card-account__avatar-edit::before {
      left: 1px;
      top: 0px;
      position: relative;
      width: 1.2rem;
      height: 1.2rem; }

.card-account__name {
  margin-bottom: 20px; }

.card-account__badges .segment {
  box-shadow: none !important;
  border: solid 1px rgba(53, 70, 87, 0.08);
  background-color: #F4F8FD;
  height: 100%;
  padding: 10px; }

.card-account__badges .grid .column:first-child {
  padding-bottom: 0 !important; }

@media screen and (min-width: 480px) {
  .card-account__badges .grid .column {
    width: 50% !important; }
    .card-account__badges .grid .column:first-child {
      padding-bottom: 1rem !important; } }

@media screen and (min-width: 1024px) {
  .card-account__badges .grid .column {
    width: 100% !important; }
    .card-account__badges .grid .column:first-child {
      padding-bottom: 0 !important; } }

.card-account__badges > .segment {
  margin: 10px 0 0 0; }

.card-account__badges--alt {
  margin-top: -5px;
  margin-bottom: -5px; }

.card-account__id-label {
  color: #6E7787;
  font-size: 12px;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }
  .card-account__id-label > * {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto; }

.card-account__id-value {
  color: #354657;
  font-size: 16px;
  font-weight: 700;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

.card-account__password {
  display: block !important; }
  .card-account__password input {
    width: 100%;
    margin-bottom: 40px; }

.card-account__email {
  margin-bottom: 90px; }

.card-account__divider {
  width: 100%;
  height: 2px;
  background-color: #EEEEEE;
  margin: 20px 0; }
  @media screen and (min-width: 768px) {
    .card-account__divider {
      margin: 40px 0; } }
  @media screen and (min-width: 768px) {
    .card-account__divider--med {
      margin: 30px 0; } }
  @media screen and (min-width: 768px) {
    .card-account__divider--small {
      margin: 20px 0; } }
  .card-account__divider--dt {
    display: none; }
    @media screen and (min-width: 768px) {
      .card-account__divider--dt {
        display: block; } }

.card-account__checkbox .form-check-label {
  font-size: 16px;
  font-weight: 800; }

.card-account__toggle {
  display: flex;
  justify-content: space-between;
  margin: 40px 0; }
  .card-account__toggle .ui.toggle.checkbox.checked input:checked ~ .box:before,
  .card-account__toggle .ui.toggle.checkbox.checked input:checked ~ label:before {
    background-color: #A25EB5 !important; }

.card-account__img-upload {
  margin-top: 15px; }
  @media screen and (min-width: 768px) {
    .card-account__img-upload {
      margin-top: 20px; } }
  .card-account__img-upload-heading {
    margin-bottom: 5px;
    font-style: italic;
    font-size: 14px; }
    @media screen and (min-width: 768px) {
      .card-account__img-upload-heading {
        font-size: 16px; } }
  .card-account__img-upload-icon {
    transform: rotate(180deg); }
  .card-account__img-upload-placeholder {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px; }
    .card-account__img-upload-placeholder p {
      margin-top: 15px;
      font-size: 14px; }
      @media screen and (min-width: 768px) {
        .card-account__img-upload-placeholder p {
          margin-top: 10px;
          font-size: 16px; } }
  .card-account__img-upload-link {
    text-decoration: underline;
    cursor: pointer; }
  .card-account__img-upload .dropzone {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    border: 2px dashed #D1D1D1; }
    @media screen and (min-width: 768px) {
      .card-account__img-upload .dropzone {
        height: 140px; } }

.card-account .field {
  margin-bottom: 20px;
  position: relative; }
  .card-account .field label {
    font-size: 16px !important;
    color: #354657 !important; }
    .card-account .field label em {
      font-weight: normal; }
  @media screen and (max-width: 767px) {
    .ui.form .card-account .field.six.wide {
      width: 100% !important; } }
  .card-account .field__info {
    border-radius: 5px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #F4F8FD;
    margin-top: 20px; }
    .card-account .field__info p {
      margin-left: 20px;
      font-size: 12px;
      line-height: 1.5; }
  .card-account .field input:not(.card-account__password) {
    max-width: 425px; }

.card-account .button--centered {
  margin: 30px auto 10px;
  display: block; }
  @media screen and (min-width: 768px) {
    .card-account .button--centered {
      margin: 45px auto 0; } }

.card-account .site-url {
  width: 100%;
  background-color: #F4F8FD;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 44px;
  padding: 10px;
  margin-bottom: 20px; }
  @media screen and (min-width: 768px) {
    .card-account .site-url {
      margin-bottom: 30px; } }
  .card-account .site-url__icon {
    display: none;
    margin-right: 10px; }
    @media screen and (min-width: 768px) {
      .card-account .site-url__icon {
        display: block; } }
  .card-account .site-url__path {
    flex: 1;
    font-size: 13px;
    max-width: 85%;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    @media screen and (min-width: 768px) {
      .card-account .site-url__path {
        font-size: 16px; } }
  .card-account .site-url__name {
    font-weight: 700; }
  .card-account .site-url__share {
    display: flex;
    align-content: center;
    padding-left: 10px;
    margin-left: auto; }

.card-account .card-date {
  width: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center; }
  .card-account .card-date__icon {
    display: inline-block; }
  .card-account .card-date__day {
    display: block;
    font-size: 20px;
    line-height: 24px;
    font-weight: 800; }
  .card-account .card-date__number {
    font-size: 30px; }
  .card-account .card-date__month {
    display: block;
    font-size: 16px;
    font-weight: 800; }

@media screen and (min-width: 768px) {
  .card-account--padded {
    padding: 35px !important; } }

.card-account .add-telephone {
  display: none;
  margin-top: 40px; }

.card-account .add-email {
  display: none;
  margin-top: 40px; }

.card-account__card-icons {
  position: relative; }
  .card-account__card-icons input {
    padding-right: 110px !important; }
    @media screen and (min-width: 768px) {
      .card-account__card-icons input {
        padding-right: 140px !important; } }
  @media (max-width: 767px) {
    .card-account__card-icons--cvv {
      width: calc(50% - 0.5rem); } }
  .card-account__card-icons--cvv input {
    padding-right: 50px !important; }
  .card-account__card-icons--cvv .tooltip {
    display: none;
    width: 141px;
    height: 100px;
    position: absolute;
    top: -105px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 2px 15px 0 rgba(51, 51, 51, 0.2);
    border: 2px solid #D1D1D1;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding-top: 15px;
    padding-left: 15px; }
    .card-account__card-icons--cvv .tooltip:after, .card-account__card-icons--cvv .tooltip:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    .card-account__card-icons--cvv .tooltip:after {
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #ffffff;
      border-width: 10px;
      margin-left: -10px; }
    .card-account__card-icons--cvv .tooltip:before {
      border-color: rgba(209, 209, 209, 0);
      border-top-color: #D1D1D1;
      border-width: 13px;
      margin-left: -13px; }
  .card-account__card-icons--cvv .card-account__card-icons-cards:hover .tooltip {
    display: block; }
  .card-account__card-icons-cards {
    overflow: visible;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px; }
    .card-account__card-icons-cards-icon {
      float: right; }
      .card-account__card-icons-cards-icon:not(.is-active) {
        opacity: 0.3; }
      .card-account__card-icons-cards-icon:first-child {
        margin-right: 0; }

.card-account__terms {
  text-align: center;
  color: #6E7787;
  font-size: 12px;
  margin: 20px 0; }
  .card-account__terms a {
    color: #6E7787;
    font-weight: bold;
    text-decoration: underline; }
    .card-account__terms a:hover {
      color: #6E7787; }

.card-account__txt-lbl {
  margin-top: 20px; }

.card-account__address-lookup--manual {
  margin-top: -1rem !important; }

.card-account__smallprint {
  font-size: 12px;
  line-height: 18px;
  color: #6E7787; }

.card-account__list {
  margin-top: 30px;
  padding-left: 20px; }

.card-account__radios {
  margin: 24px 0; }
  .card-account__radios .form-check {
    margin: 16px 0; }

.card-account__text--mtl {
  margin-top: 20px; }

.card-account__text--mtxl {
  margin-top: 30px; }

.card-account__text--direct {
  display: block;
  margin-bottom: 10px;
  font-weight: 600; }

.card-account__group {
  margin-bottom: 30px;
  max-width: 425px; }

.card-account label {
  font-weight: 600; }

.card-account--lg {
  padding: 25px 15px 15px 15px !important; }
  @media screen and (min-width: 768px) {
    .card-account--lg {
      padding: 32px 45px !important; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .card-account--lg {
      padding: 32px 35px !important; } }

.card-account--xl {
  padding: 0 0 15px 0 !important; }
  @media screen and (min-width: 768px) {
    .card-account--xl {
      padding: 32px 45px !important; } }
  @media screen and (min-width: 1024px) {
    .card-account--xl {
      padding: 32px 0 60px !important; } }

.card-account--pb0 {
  padding: 30px 15px 0 15px !important; }
  @media screen and (min-width: 768px) {
    .card-account--pb0 {
      padding: 32px 45px 0 45px !important; } }

.card-account--add-address .input {
  margin-bottom: 20px; }

.card-account--edit-address .form-check {
  margin-bottom: 20px; }

.card-account--delivery {
  font-size: 14px !important; }

.card-account--promo .card-account__heading {
  font-weight: 700;
  padding: 0;
  margin: 0 auto 15px;
  font-size: 24px;
  line-height: 28px;
  max-width: 270px; }
  @media screen and (min-width: 768px) {
    .card-account--promo .card-account__heading {
      font-size: 30px;
      line-height: 34px; } }

.ui.grid.js-account-add-address-lookup,
.ui.grid[data-js-address-lookup-loqate-form] {
  display: none; }

.ui.grid.js-account-add-address-manual {
  display: none; }
