.card-event-more {
  background-color: #BD8BCA;
  background-position: center;
  background-size: cover;
  background-blend-mode: luminosity;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  position: relative;
  text-decoration: none; }
  .card-event-more:hover, .card-event-more:active, .card-event-more:focus {
    color: white; }
    .card-event-more:hover:after, .card-event-more:active:after, .card-event-more:focus:after {
      opacity: 0.9; }
  .card-event-more:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #BD8BCA;
    z-index: 1;
    border-radius: 5px;
    opacity: 0.8;
    transition: opacity 0.3s; }
  .card-event-more__inner {
    position: relative;
    z-index: 2;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    line-height: 1;
    padding: 50px 0; }
    .card-event-more__inner:last-child {
      line-height: 1.2; }
  .card-event-more__count {
    font-size: 4.375rem;
    font-weight: 800;
    display: block;
    margin-bottom: 15px; }
  .card-event-more--online {
    background-color: #67b251; }
    .card-event-more--online:after {
      background-color: #67b251; }
  .card-event-more--corporate {
    background-color: #354657; }
    .card-event-more--corporate:after {
      background-color: #354657; }
