.card-area {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 800px;
  margin-bottom: 0;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .card-area {
      text-align: left; } }
  .card-area__body {
    padding: 20px;
    font-size: 0.875rem; }
    .card-area__body h3 {
      font-size: 1.5rem;
      margin-bottom: 1em; }
    .card-area__body > :last-child {
      margin-bottom: 0; }
  .card-area__address {
    font-size: 0.75rem;
    font-weight: 800; }
    .card-area__address br {
      display: none; }
      @media screen and (min-width: 768px) {
        .card-area__address br {
          display: block; } }
  .card-area__cta {
    font-weight: 800;
    text-decoration: none; }
