.card-help {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  box-shadow: none;
  height: auto;
  padding: 0 10px 0;
  background: transparent; }
  .card-help__header {
    margin-bottom: 10px; }
  .card-help .icon--help-circle {
    position: relative;
    left: -10px; }
  .card-help__title {
    flex: 1 0 auto;
    margin: 0 0 15px;
    max-width: 210px; }
    .card-help__title > a {
      color: inherit;
      text-decoration: none; }
      .card-help__title > a:hover {
        color: #BD8BCA;
        text-decoration: underline; }
  .card-help__content {
    font-size: 12px; }
    @media screen and (min-width: 1024px) {
      .card-help__content {
        font-size: 16px; } }
  .card-help__row {
    display: flex;
    margin-top: 20px; }
    .card-help__row--tags {
      display: none; }
      @media screen and (min-width: 1024px) {
        .card-help__row--tags {
          display: flex; } }
  .card-help__tags {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 15px;
    /*
		a.button {
			flex: 1 0 auto;
			min-width: 80px;
			width: auto;
			color: $color-blue-grey;
			margin-left: 0;
			margin-right: 10px;
			font-weight: $font-weight-semi-bold;
			@include bp(lg) {
				margin-right: 10px;
			}
		}
		*/ }
  .card-help__tag {
    background-color: #EEEEEE;
    border-radius: 15px;
    padding: 5px 20px;
    min-width: 80px;
    font-weight: 700;
    font-size: 12px;
    color: #84909B;
    text-align: center;
    margin: 0 10px 10px 0; }
    .card-help__tag:last-of-type {
      margin-right: 0; }
  .card-help__action {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    font-size: 0.9rem; }
  .card-help__likes {
    margin: 0 5px 0 10px;
    font-weight: 700; }
  .card-help__social {
    font-size: 14px; }
  .card-help__social-item {
    padding-left: 30px; }
    .card-help__social-item .icon {
      position: relative;
      top: -4px; }
  .card-help__meta {
    color: #84909B;
    font-size: 1rem; }
  .card-help--grid {
    flex-direction: column;
    padding-top: 0; }
    @media screen and (min-width: 480px) {
      .card-help--grid {
        max-width: 320px; } }
    .card-help--grid .card-help__content {
      font-size: 14px; }
      @media screen and (min-width: 1024px) {
        .card-help--grid .card-help__content {
          font-size: 16px; } }
    .card-help--grid .card-help__body {
      width: 100%; }
    .card-help--grid .card-help__row {
      flex-direction: column; }
      .card-help--grid .card-help__row.card-help__row--tags {
        display: flex; }
    .card-help--grid .card-help__social {
      padding-top: 5px; }
    .card-help--grid .card-help__social-item {
      padding-left: 0; }
    .card-help--grid .card-help__tags a.ui.button {
      min-width: 44px; }
  .card-help--list {
    flex-direction: column; }
    @media screen and (min-width: 1024px) {
      .card-help--list {
        max-width: 80%; } }
    .card-help--list .card-help__header {
      margin-bottom: 10px; }
    .card-help--list .card-help__title {
      flex: initial;
      margin: 0;
      padding: 0;
      max-width: none; }
    .card-help--list .card-help__icon {
      width: 20px;
      height: 20px;
      display: flex;
      flex: 0 0 0%;
      margin-right: 15px; }
      .card-help--list .card-help__icon .icon {
        top: -2px;
        font-size: 20px; }
    .card-help--list .card-help__body {
      padding-left: 35px; }
