.card-event-join {
  display: block;
  padding: 20px;
  max-width: 800px; }
  .card-event-join__title {
    font-size: 1.25rem; }
  .card-event-join__link {
    font-size: 1rem;
    font-weight: 600; }
  .card-event-join__button {
    width: auto;
    margin-bottom: 0; }
