.card-event-details {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 800px; }
  .card-event-details__header {
    color: white;
    background: #BD8BCA;
    text-align: center;
    padding: 20px;
    min-height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .card-event-details__category {
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 0; }
  .card-event-details__type {
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 0; }
  .card-event-details__body {
    padding: 20px; }
  .card-event-details__date-time {
    padding: 20px 10px 20px 66px;
    margin-bottom: 20px;
    border-bottom: 1px solid #EEEEEE;
    background: url("/images/icons/calendar.svg") no-repeat;
    background-position: 10px center;
    background-size: 36px 36px; }
    @media screen and (min-width: 480px) {
      .card-event-details__date-time {
        padding: 20px 20px 20px 90px;
        background-size: 50px 50px;
        background-position: 20px center; } }
  .card-event-details__date {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 5px; }
    .card-event-details__date > sup {
      vertical-align: bottom;
      font-size: 1.375rem; }
    @media screen and (min-width: 480px) {
      .card-event-details__date {
        font-size: 2.0625rem; } }
  .card-event-details__time {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1; }
    @media screen and (min-width: 480px) {
      .card-event-details__time {
        font-size: 1rem; } }
  .card-event-details__organizer {
    text-align: center;
    font-size: 0.875rem;
    padding: 0 20px 20px 20px; }
    .card-event-details__organizer-title {
      margin-bottom: 5px; }
  .card-event-details__advocate {
    display: flex;
    padding: 0 20px 20px 20px; }
    .card-event-details__advocate-image {
      border-radius: 10000px;
      width: 50px;
      height: 50px;
      margin-right: 20px; }
    .card-event-details__advocate-body {
      flex: 1 1 0; }
    .card-event-details__advocate-name {
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 5px; }
    .card-event-details__advocate-phone {
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 1;
      margin-bottom: 10px; }
    .card-event-details__advocate-link {
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 1;
      color: #354657; }
  .card-event-details__share {
    background: #EEEEEE;
    padding: 20px;
    font-size: 0.875rem;
    color: #9b9b9b;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .card-event-details__share-title {
      margin-bottom: 10px;
      text-align: center; }
    @media screen and (min-width: 480px) {
      .card-event-details__share {
        flex-direction: row;
        justify-content: space-between; }
        .card-event-details__share-title {
          margin-bottom: 0; } }
  .card-event-details--corporate .card-event-details__header {
    background: #354657; }
  .card-event-details--online .card-event-details__header {
    background: #67b251; }
