.card-airports {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 800px;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .card-airports {
      text-align: left; } }
  .card-airports__body {
    padding: 20px;
    font-size: 0.875rem; }
    .card-airports__body h3 {
      font-size: 1.5rem;
      margin-bottom: 1em; }
    .card-airports__body > :last-child {
      margin-bottom: 0; }
  .card-airports__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px 0; }
    @media screen and (min-width: 768px) {
      .card-airports__list {
        grid-template-columns: 1fr 1fr; } }
  .card-airports__airport {
    display: flex;
    flex-direction: column; }
    .card-airports__airport:not(:last-child) {
      padding-bottom: 20px;
      border-bottom: 2px solid #D1D1D1; }
    @media screen and (min-width: 768px) {
      .card-airports__airport:not(:last-child) {
        padding-bottom: 0;
        border-bottom: 0; }
      .card-airports__airport:nth-child(2n) {
        border-left: 2px solid #D1D1D1;
        padding-left: 30px; }
      .card-airports__airport:nth-child(2n-1) {
        padding-right: 30px; } }
    .card-airports__airport-name {
      font-size: 0.875rem; }
    .card-airports__airport-description {
      font-size: 0.75rem; }
    .card-airports__airport-cta {
      font-weight: 800;
      text-decoration: none; }
    .card-airports__airport > :last-child {
      margin-bottom: 0;
      margin-top: auto; }
