.change-kit {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 768px) {
    .change-kit {
      justify-content: center;
      flex-direction: row; } }
  .change-kit__item {
    width: 100%;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .change-kit__item {
        max-width: 315px;
        width: calc(50% - 30px); } }
    .change-kit__item--new {
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16); }
      .change-kit__item--new .change-kit__item-label {
        color: #00991D; }
  .change-kit__item-label {
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    color: #84909B;
    border-bottom: 1px solid #EEEEEE;
    padding: 8px; }
  .change-kit__divide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-height: 40px; }
    @media screen and (min-width: 768px) {
      .change-kit__divide {
        max-width: 80px;
        max-height: 100%; } }
    @media screen and (min-width: 1024px) {
      .change-kit__divide {
        max-width: 100px; } }
  .change-kit__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-width: 60px;
    height: 60px;
    transform: rotate(90deg); }
    @media screen and (min-width: 768px) {
      .change-kit__icon {
        min-width: 72px;
        height: 72px;
        transform: rotate(0deg); } }
    .change-kit__icon [class*="icon--"],
    .change-kit__icon [class*="icon--"]::before {
      width: 100%;
      height: 100%; }
