.circle {
  background-color: #BD8BCA;
  width: 32px;
  height: 32px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  color: #FFFFFF;
  font-weight: 700;
  justify-content: center;
  text-align: center;
  border-radius: 100%;
  font-weight: 800; }
  @media screen and (min-width: 768px) {
    .circle {
      width: 40px;
      height: 40px;
      font-size: 16px; } }
