.cta-panel {
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
  height: 230px;
  padding: 150px 10px 0;
  margin-bottom: 760px; }
  @media screen and (min-width: 768px) {
    .cta-panel {
      height: auto;
      padding: 60px 0;
      margin-bottom: 0; } }
  .cta-panel__content {
    max-width: 650px;
    padding: 40px 25px 15px !important;
    text-align: center;
    margin: 0 auto !important; }
  .cta-panel__copy {
    margin-bottom: 30px; }
  .cta-panel__text-link {
    padding: 10px 0 20px;
    display: block;
    max-width: 230px;
    margin: 0 auto;
    text-decoration: none; }
    .cta-panel__text-link:hover {
      text-decoration: underline; }
  .cta-panel__icon {
    margin-bottom: 20px; }
  .cta-panel__perks {
    margin: 30px 0; }
    @media screen and (min-width: 768px) {
      .cta-panel__perks {
        display: flex;
        justify-content: space-between; } }
  .cta-panel__perk {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 30px; }
    @media screen and (min-width: 768px) {
      .cta-panel__perk {
        width: 160px;
        margin-bottom: 0; }
        .cta-panel__perk:nth-child(2) {
          width: 180px; } }
    .cta-panel__perk i {
      margin-bottom: 10px; }
