.datepicker {
  position: relative; }
  .datepicker .ui-datepicker-trigger {
    position: absolute;
    top: 10px;
    right: 10px; }
  .datepicker__key {
    max-width: 340px;
    margin: 40px auto 0; }
    .datepicker__key-row {
      display: flex;
      font-family: "rawline", sans-serif;
      font-weight: 700;
      font-size: 1rem;
      margin-bottom: 5px;
      align-items: center;
      margin-bottom: 10px; }
      @media screen and (min-width: 768px) {
        .datepicker__key-row {
          margin-bottom: 15px; } }
      .datepicker__key-row:last-child {
        margin-bottom: 0; }
    .datepicker__key-item {
      display: grid;
      align-content: center;
      position: relative;
      text-align: center;
      width: 30px;
      height: 30px;
      margin-right: 10px; }
      @media screen and (min-width: 480px) {
        .datepicker__key-item {
          width: 40px;
          height: 40px; } }
      .datepicker__key-item::before {
        content: ' ';
        font-size: 20px;
        display: block;
        border-radius: 20px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        border: 2px solid #354657;
        right: 0;
        width: 30px;
        height: 30px;
        top: 0; }
        @media screen and (min-width: 480px) {
          .datepicker__key-item::before {
            width: 40px;
            height: 40px; } }
      .datepicker__key-item.pom {
        color: #A25EB5; }
        .datepicker__key-item.pom:before {
          border: solid 2px #A25EB5; }
      .datepicker__key-item.available-processing {
        color: #354657; }
        .datepicker__key-item.available-processing:before {
          border: solid 2px #354657; }
      .datepicker__key-item.unavailable-processing {
        color: #D1D1D1; }
        .datepicker__key-item.unavailable-processing:before {
          border: 0; }
    .datepicker__key-text {
      text-align: left;
      max-width: 80%;
      font-size: 14px;
      line-height: 1.43; }
      @media screen and (min-width: 768px) {
        .datepicker__key-text {
          font-size: 16px;
          line-height: 20px; } }
  .datepicker-carousel__item {
    width: 100%; }
  .datepicker-carousel .owl-nav {
    display: none !important; }

.ui-datepicker {
  background: #F4F8FD;
  width: auto;
  padding: 10px; }
  @media screen and (min-width: 480px) {
    .ui-datepicker {
      padding: 30px 60px; } }
  .ui-datepicker .ui-datepicker-group {
    padding: 0 10px; }
  .ui-datepicker .ui-datepicker-title {
    font-weight: 700;
    line-height: 26px;
    font-size: 20px; }
    @media screen and (min-width: 480px) {
      .ui-datepicker .ui-datepicker-title {
        margin-bottom: 20px;
        font-size: 30px; } }
  .ui-datepicker .ui-datepicker-calendar th {
    border-bottom: 2px solid #354657;
    font-size: 16px;
    font-weight: 700; }
  .ui-datepicker .ui-datepicker-calendar td {
    border: 2px solid #F4F8FD;
    text-align: center;
    font-weight: 700;
    font-size: 16px; }
    @media screen and (min-width: 480px) {
      .ui-datepicker .ui-datepicker-calendar td {
        font-size: 20px; } }
    .ui-datepicker .ui-datepicker-calendar td a {
      color: #354657;
      text-align: center; }
    .ui-datepicker .ui-datepicker-calendar td span {
      text-align: center; }
    .ui-datepicker .ui-datepicker-calendar td.unavailable-processing {
      color: #D1D1D1; }
    .ui-datepicker .ui-datepicker-calendar td.pom {
      position: relative;
      color: #A25EB5; }
      .ui-datepicker .ui-datepicker-calendar td.pom::before {
        content: ' ';
        display: block;
        border: 2px solid #A25EB5;
        border-radius: 20px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 30px;
        height: 30px; }
        @media screen and (min-width: 480px) {
          .ui-datepicker .ui-datepicker-calendar td.pom::before {
            width: 40px;
            height: 40px; } }
    .ui-datepicker .ui-datepicker-calendar td.available-processing {
      position: relative;
      color: #354657; }
      .ui-datepicker .ui-datepicker-calendar td.available-processing::before {
        content: ' ';
        display: block;
        border-radius: 20px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        border: 2px solid #354657;
        right: 0;
        width: 30px;
        height: 30px; }
        @media screen and (min-width: 480px) {
          .ui-datepicker .ui-datepicker-calendar td.available-processing::before {
            width: 40px;
            height: 40px; } }
    .ui-datepicker .ui-datepicker-calendar td.ui-datepicker-current-day {
      /*background: $color-purple;
        a {
          color: #fff;
        }*/ }
    .ui-datepicker .ui-datepicker-calendar td.ui-datepicker-today {
      /*a {
          color: #fff;
        }*/ }
  .ui-datepicker .ui-datepicker-prev {
    background: url(/images/icons/arrow-right.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
    cursor: pointer; }
  .ui-datepicker .ui-datepicker-next {
    background: url(/images/icons/arrow-right.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer; }

#ui-datepicker-div.ui-datepicker {
  border-radius: 5px;
  box-shadow: 0 2px 15px 0 rgba(51, 51, 51, 0.2);
  background-color: #FFFFFF; }

#ui-datepicker-div.ui-datepicker .ui-datepicker-calendar td {
  border: none; }
