.enroll-total__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0 10px 0 5px;
  text-align: left; }

.enroll-total__total {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px; }

.enroll-total__note {
  font-size: 12px;
  line-height: 18px;
  color: #84909B;
  display: block; }

.enroll-total__pv {
  color: #A25EB5;
  font-size: 16px;
  line-height: 24px; }

.enroll-total__button {
  width: 100%;
  margin: 0 !important; }
