.essential-products {
  margin-bottom: 25px; }
  .essential-products__heading {
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px; }
    @media screen and (min-width: 1024px) {
      .essential-products__heading {
        margin-bottom: 24px;
        font-size: 48px;
        line-height: 56px; } }
  .essential-products__list {
    margin-top: 0;
    padding-top: 0; }
    @media screen and (min-width: 1024px) {
      .essential-products__list {
        overflow: visible; } }
    .essential-products__list .owl-nav {
      width: calc(100% + (48px + 48px)) !important;
      margin-left: -48px;
      margin-right: 0;
      height: 48px !important; }
    .essential-products__list .owl-prev,
    .essential-products__list .owl-next {
      width: 48px !important;
      height: 48px !important; }
      .essential-products__list .owl-prev img,
      .essential-products__list .owl-next img {
        width: 100%;
        height: 100%; }
    .essential-products__list .owl-prev {
      left: 0 !important; }
    .essential-products__list .owl-next {
      right: 0 !important; }
