/* Pageload */
body.hidden {
  display: none; }

.header,
.overlay-loading__body,
.bar-loading,
.wrapper-spinner,
.spinner {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  will-change: all; }

#offcanvas-menu,
.header,
.overlay-loading__body .wrapper-spinner {
  animation-fill-mode: forwards;
  animation: loadIn 0.75s linear;
  z-index: 500; }

.overlay-loading__body {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: #FFFFFF;
  animation-fill-mode: forwards; }
  .overlay-loading__body .bar-loading {
    display: inline-block;
    float: left;
    margin: 0;
    width: 0;
    background-color: #BD8BCA;
    height: 5px;
    animation-delay: 0.75s;
    animation-duration: 1.25s;
    animation-name: fullWidth;
    -webkit-animation-name: fullWidth;
    animation-fill-mode: forwards; }
  .overlay-loading__body .wrapper-spinner {
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-fill-mode: forwards;
    animation: loadIn 0.75s linear; }
  .overlay-loading__body .spinner {
    width: 100px;
    height: 100px;
    display: block;
    background: url(/images/spinner-brand.svg);
    background-repeat: no-repeat;
    background-size: contain;
    animation: loader 1.7s linear;
    animation-iteration-count: infinite; }
  .overlay-loading__body .text-loading {
    display: none; }
  .overlay-loading__body.fadeOutHide .spinner {
    transition: opacity 0.2s ease-in-out;
    opacity: 0; }

/*************************************
 PageLoad Animations
 *************************************/
@keyframes loadIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes loadIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fullWidth {
  from {
    width: 0%; }
  to {
    width: 100%; } }

@-webkit-keyframes fullWidth {
  from {
    width: 0%; }
  to {
    width: 100%; } }

@keyframes fadeOutHide {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes fadeOutHide {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.fadeOutHide {
  animation-duration: 1.5s;
  animation-name: fadeOutHide;
  -webkit-animation-name: fadeOutHide; }

/* Interaction Loading */
body.js-no-scroll {
  overflow: hidden; }

.overlay-loading__body.js-interaction-load {
  animation-fill-mode: forwards;
  animation: loadIn .25s linear;
  z-index: 1001;
  background-color: rgba(255, 255, 255, 0.7); }
  .overlay-loading__body.js-interaction-load.fadeOutHide {
    animation-duration: .25s;
    animation-name: fadeOutHide;
    -webkit-animation-name: fadeOutHide;
    animation-fill-mode: forwards; }
  .overlay-loading__body.js-interaction-load .bar-loading {
    display: none; }
  .overlay-loading__body.js-interaction-load .wrapper-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    padding: 20px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 rgba(51, 51, 51, 0.2); }
  .overlay-loading__body.js-interaction-load .spinner {
    width: 70px;
    height: 70px;
    transition: none !important;
    opacity: 1 !important; }
  .overlay-loading__body.js-interaction-load .text-loading {
    display: block;
    width: 80%;
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px; }

.overlay-loading__body.overlay-static {
  background-color: rgba(255, 255, 255, 0.9); }

.overlay-loading__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 2px 15px 0 rgba(51, 51, 51, 0.2); }
  .overlay-loading__content > .wrapper-spinner {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    text-align: center;
    width: 80px;
    height: 80px; }
    .overlay-loading__content > .wrapper-spinner .spinner {
      width: 80px;
      height: 80px; }
  .overlay-loading__content .overlay-loading__text {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    margin-top: 15px; }

.js-overlay-blur > *:not(aside) {
  -webkit-filter: blur(3px);
  filter: blur(3px); }
