.ui.loader {
  z-index: 0; }
  .ui.loader:before {
    background-image: url("/images/loader.svg");
    display: none; }
  .ui.loader:after {
    background-image: url("/images/loader.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    animation-duration: 1.5s; }
