.loyalty-info__inner {
  border-radius: 5px;
  border: solid 2px #EEEEEE;
  padding: 18px 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF; }
  @media screen and (min-width: 768px) {
    .loyalty-info__inner {
      flex-direction: row; } }

.loyalty-info__icon {
  width: 25px;
  height: 25px;
  margin-bottom: 10px; }
  @media screen and (min-width: 768px) {
    .loyalty-info__icon {
      width: 40px;
      height: 40px;
      margin-bottom: 0;
      margin-right: 25px; } }

.loyalty-info__name {
  margin-bottom: 5px; }

.loyalty-info__details {
  display: flex;
  font-size: 14px;
  justify-content: center;
  margin: 0; }
  @media screen and (min-width: 768px) {
    .loyalty-info__details {
      font-size: 16px;
      justify-content: flex-start; } }
  .loyalty-info__details > * {
    padding-right: 3px; }

.loyalty-info__pv {
  margin-left: 15px; }

.loyalty-info__cta {
  margin-top: 15px; }
  @media screen and (min-width: 768px) {
    .loyalty-info__cta {
      margin-left: auto;
      margin-top: 0;
      min-width: 150px; } }

.loyalty-info__alert {
  display: none; }
