.lrp-manage-tabs .ui.menu {
  box-shadow: unset;
  border: none;
  border-bottom: 1px solid #EEEEEE;
  border-radius: 0;
  margin: 0; }
  @media screen and (min-width: 768px) {
    .lrp-manage-tabs .ui.menu {
      margin: 0;
      padding-left: 40px !important; } }
  .lrp-manage-tabs .ui.menu .lrp-manage-tabs__item {
    flex: 0 0 auto;
    padding: 35px 0;
    background: #FFFFFF;
    border-radius: 0;
    color: #354657;
    font-weight: 600;
    margin: 0 10px;
    border-bottom: 2px solid transparent;
    text-align: center;
    justify-content: center;
    font-size: 14px; }
    @media screen and (min-width: 768px) {
      .lrp-manage-tabs .ui.menu .lrp-manage-tabs__item {
        font-size: 1rem;
        padding: 35px 0;
        margin-right: 30px; } }
    @media screen and (min-width: 1024px) {
      .lrp-manage-tabs .ui.menu .lrp-manage-tabs__item {
        margin-right: 50px; } }
    .lrp-manage-tabs .ui.menu .lrp-manage-tabs__item:last-of-type {
      margin-right: 0; }
    .lrp-manage-tabs .ui.menu .lrp-manage-tabs__item:before {
      display: none; }
    .lrp-manage-tabs .ui.menu .lrp-manage-tabs__item:hover {
      color: #354657;
      background-color: transparent;
      border-color: #EEEEEE; }
    .lrp-manage-tabs .ui.menu .lrp-manage-tabs__item.active {
      color: #A25EB5;
      border-color: #A25EB5; }

.lrp-manage-tabs .ui.accordion {
  width: 100%; }
  @media screen and (min-width: 1024px) {
    .lrp-manage-tabs .ui.accordion {
      max-width: 800px; } }

@media screen and (min-width: 768px) {
  .lrp-manage-tabs__tab {
    padding-top: 20px; } }

@media screen and (min-width: 1024px) {
  .lrp-manage-tabs__tab {
    padding-top: 40px; } }

.lrp-manage-tabs .lrp__main {
  padding-top: 15px; }
