.membership-promo {
  position: relative;
  width: 100%;
  border: 2px solid #A25EB5;
  background-color: #F5EEF7;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 16px 12px 25px;
  margin-top: 20px;
  margin-bottom: 20px; }
  @media screen and (min-width: 1024px) {
    .membership-promo {
      padding-bottom: 40px;
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 0;
      margin-bottom: 0; } }
  .membership-promo::before, .membership-promo::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #EEEEEE;
    width: calc(100% + 2rem);
    position: absolute;
    left: -1rem; }
    @media screen and (min-width: 768px) {
      .membership-promo::before, .membership-promo::after {
        display: none; } }
  .membership-promo::before {
    top: -24px; }
  .membership-promo::after {
    bottom: -24px; }
  .membership-promo__img {
    margin: 0 auto 5px;
    width: 80px; }
    @media screen and (min-width: 1024px) {
      .membership-promo__img {
        width: 120px; } }
  .membership-promo__text {
    font-size: 16px;
    line-height: 24px; }
    @media screen and (min-width: 1024px) {
      .membership-promo__text {
        font-size: 20px;
        line-height: 28px; } }
  .membership-promo__button {
    margin: 0 auto !important; }
    @media screen and (min-width: 768px) {
      .membership-promo__button {
        min-width: 0 !important;
        width: 100%;
        max-width: 350px !important; } }
  .membership-promo--ctr {
    margin-left: 0; }
  @media screen and (max-width: 767px) {
    .membership-promo--xs-tighten {
      margin-top: -8px;
      margin-bottom: 8px; } }
