.menu-tile {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 2px 15px 0 rgba(51, 51, 51, 0.2);
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  margin-top: 20px;
  padding: 30px; }
  @media screen and (min-width: 768px) {
    .menu-tile {
      margin-top: 0;
      height: 100%; } }
  .menu-tile__heading {
    font-size: 20px;
    margin: 0 0 10px 0; }
  .menu-tile__image {
    width: 60px;
    height: 60px;
    margin-bottom: 20px; }
  .menu-tile .ui.basic.button {
    width: 220px;
    background-color: #FFFFFF !important;
    margin-top: auto !important;
    margin-bottom: 0 !important; }
    .menu-tile .ui.basic.button:hover {
      background-color: #FFFFFF !important; }
