.multi-loyalty-order {
  position: absolute;
  background-color: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  min-width: 275px;
  z-index: 1000;
  max-height: 100vh;
  transition: all .3s;
  overflow: hidden;
  opacity: 0; }
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    .multi-loyalty-order {
      /* IE10+ specific styles */
      left: 0 !important; } }
  @media screen and (min-width: 480px) {
    .multi-loyalty-order {
      left: auto; } }
  @media screen and (min-width: 768px) {
    .multi-loyalty-order {
      max-height: 100vh;
      position: absolute;
      bottom: 0;
      width: 315px; } }
  .multi-loyalty-order--open {
    max-height: 100vh !important;
    opacity: 1;
    bottom: 20px; }
  @media screen and (max-width: 767px) {
    .multi-loyalty-order--item, .multi-loyalty-order--fixed {
      position: fixed;
      max-height: 0;
      bottom: -100%;
      opacity: 1 !important; } }
  .multi-loyalty-order__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 5px; }
    @media screen and (min-width: 768px) {
      .multi-loyalty-order__header {
        padding: 25px 20px 10px 20px; } }
  .multi-loyalty-order__close {
    padding: 0;
    border: 0;
    background: transparent;
    margin-left: 10px;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 10px;
    right: 12px; }
  .multi-loyalty-order__heading {
    margin: 0;
    color: #354657;
    font-weight: 700; }
  .multi-loyalty-order__list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    margin-right: 0;
    margin-left: 0; }
  .multi-loyalty-order--scroller .multi-loyalty-order__list {
    overflow-y: auto;
    max-height: 299px;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 15px; }
  .multi-loyalty-order__item {
    border-bottom: 1px solid #EEEEEE;
    display: flex;
    padding: 10px 0 10px;
    justify-content: space-between;
    transition: all ease-in-out 0.4s;
    flex-direction: column; }
    @media screen and (min-width: 768px) {
      .multi-loyalty-order__item {
        padding: 10px 0; } }
    .multi-loyalty-order__item:last-of-type {
      border-bottom: none; }
    .multi-loyalty-order__item--selected {
      background: #F5EEF7; }
  .multi-loyalty-order__primary {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px; }
    @media screen and (min-width: 768px) {
      .multi-loyalty-order__primary {
        align-items: flex-start;
        padding-left: 20px;
        padding-right: 20px; } }
    @media screen and (min-width: 1024px) {
      .multi-loyalty-order__primary {
        flex-direction: row;
        align-items: center; } }
  .multi-loyalty-order__date {
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    color: #354657; }
  .multi-loyalty-order__prices {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    color: #354657;
    text-align: left; }
    @media screen and (min-width: 768px) {
      .multi-loyalty-order__prices {
        font-size: 16px; } }
  .multi-loyalty-order__pv {
    color: #A25EB5;
    margin-left: 10px; }
  .multi-loyalty-order__secondary {
    display: flex;
    padding: 15px 20px; }
  .multi-loyalty-order__products {
    display: flex;
    padding-inline-start: 0; }
    @media screen and (min-width: 768px) {
      .multi-loyalty-order__products {
        padding-inline-start: 0; } }
    @media screen and (min-width: 1024px) {
      .multi-loyalty-order__products {
        display: flex;
        list-style: none outside none;
        margin: 0;
        padding: 0; } }
  .multi-loyalty-order__product {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    padding: 7px;
    border-radius: 5px;
    width: 55px;
    margin-right: 10px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    .multi-loyalty-order__product--more .multi-loyalty-order__product-img {
      opacity: .1; }
  .multi-loyalty-order__product-additional {
    font-weight: 800;
    z-index: 200;
    position: absolute;
    font-size: 16px;
    color: #354657; }
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
      .multi-loyalty-order__product-additional {
        /* IE10+ specific styles */
        position: absolute;
        top: 30px;
        left: 13px; } }
  .multi-loyalty-order__add {
    background: transparent;
    border: 0;
    padding: 0;
    margin-left: auto;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    border: 0; }
    .multi-loyalty-order__add [class*="icon--"]::before {
      width: 32px;
      height: 32px; }
    .multi-loyalty-order__add.ui.button.primary {
      min-width: 80px !important;
      margin: auto 0 auto auto; }
  .product--list .multi-loyalty-order {
    width: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1); }
    @media screen and (min-width: 768px) {
      .product--list .multi-loyalty-order {
        top: 0;
        right: 0;
        bottom: 0;
        left: auto;
        padding-bottom: 5px; } }
    .product--list .multi-loyalty-order .multi-loyalty-order__header {
      padding-bottom: 0; }
    .product--list .multi-loyalty-order .multi-loyalty-order__heading {
      font-size: 16px; }
    .product--list .multi-loyalty-order .multi-loyalty-order__list {
      padding: 0 0; }
    .product--list .multi-loyalty-order .multi-loyalty-order__item {
      flex-direction: row;
      align-items: center; }
    .product--list .multi-loyalty-order .multi-loyalty-order__close {
      right: 5px; }
    .product--list .multi-loyalty-order .multi-loyalty-order__primary {
      flex: 1;
      margin: 0;
      flex-direction: row;
      padding-left: 0;
      padding-right: 0; }
    .product--list .multi-loyalty-order .multi-loyalty-order__date {
      font-size: 14px; }
    .product--list .multi-loyalty-order .multi-loyalty-order__prices {
      flex-direction: row; }
    .product--list .multi-loyalty-order .multi-loyalty-order__price {
      margin-left: 15px; }
    .product--list .multi-loyalty-order .multi-loyalty-order__pv {
      margin-left: 10px; }
    .product--list .multi-loyalty-order .multi-loyalty-order__products {
      display: none; }
    .product--list .multi-loyalty-order .multi-loyalty-order__add {
      margin-left: 15px; }
      @media screen and (min-width: 768px) {
        .product--list .multi-loyalty-order .multi-loyalty-order__add {
          margin-left: 15px; } }
    .product--list .multi-loyalty-order .multi-loyalty-order__add.ui.button.primary {
      font-size: 14px;
      padding: 5px 10px 5px 10px;
      min-width: auto !important; }

.multi-loyalty-order--overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 80;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(193, 199, 205, 0.7); }
  @media screen and (min-width: 480px) {
    .multi-loyalty-order--overlay {
      display: none; } }

@media screen and (max-width: 767px) {
  .products--list .product.product--list .multi-loyalty-order {
    position: absolute;
    width: auto;
    left: 0;
    right: 0;
    bottom: 10px; } }

@media screen and (min-width: 480px) {
  .products--list .product.product--list .multi-loyalty-order {
    top: 10px;
    left: 80px;
    right: auto;
    bottom: auto; } }

@media screen and (min-width: 768px) {
  .products--list .product.product--list .multi-loyalty-order {
    left: 80px;
    right: 0;
    width: auto;
    top: 10px; } }

@media screen and (min-width: 1024px) {
  .products--list .product.product--list .multi-loyalty-order {
    top: 0;
    left: 154px; } }

.products--list .product.product--list .multi-loyalty-order .multi-loyalty-order__header {
  padding-top: 15px;
  padding-left: 10px; }

@media screen and (max-width: 767px) {
  .products--list .product.product--list .multi-loyalty-order .multi-loyalty-order__price {
    margin-left: 0; } }

@media screen and (max-width: 767px) {
  .products--list .product.product--list .multi-loyalty-order .multi-loyalty-order__primary {
    flex-direction: column; } }

.products--list .product.product--list .multi-loyalty-order .multi-loyalty-order__item {
  padding: 5px 10px; }

.products--list .product.product--list .multi-loyalty-order .multi-loyalty-order__secondary {
  padding: 10px 10px; }
  @media screen and (min-width: 768px) {
    .products--list .product.product--list .multi-loyalty-order .multi-loyalty-order__secondary {
      padding: 7px 0 7px 12px; } }

.products--list .product.product--list .multi-loyalty-order .multi-loyalty-order__pv,
.products--list .product.product--list .multi-loyalty-order .multi-loyalty-order__price {
  font-size: 14px; }

.products.products--grid.products--col-2.products--col-sm-4.products--col-md-6 .multi-loyalty-order,
.owl-item .multi-loyalty-order,
.products--grid-6x .multi-loyalty-order {
  z-index: 9999;
  bottom: 20px;
  width: 200px;
  min-width: 200px;
  position: absolute;
  left: auto;
  right: auto; }
  @media screen and (min-width: 768px) {
    .products.products--grid.products--col-2.products--col-sm-4.products--col-md-6 .multi-loyalty-order,
    .owl-item .multi-loyalty-order,
    .products--grid-6x .multi-loyalty-order {
      bottom: 20px; } }
  .products.products--grid.products--col-2.products--col-sm-4.products--col-md-6 .multi-loyalty-order .multi-loyalty-order__list,
  .owl-item .multi-loyalty-order .multi-loyalty-order__list,
  .products--grid-6x .multi-loyalty-order .multi-loyalty-order__list {
    padding-bottom: 10px; }
  .products.products--grid.products--col-2.products--col-sm-4.products--col-md-6 .multi-loyalty-order .multi-loyalty-order__header,
  .owl-item .multi-loyalty-order .multi-loyalty-order__header,
  .products--grid-6x .multi-loyalty-order .multi-loyalty-order__header {
    padding-top: 25px; }
  .products.products--grid.products--col-2.products--col-sm-4.products--col-md-6 .multi-loyalty-order .multi-loyalty-order__products,
  .owl-item .multi-loyalty-order .multi-loyalty-order__products,
  .products--grid-6x .multi-loyalty-order .multi-loyalty-order__products {
    display: none; }
  .products.products--grid.products--col-2.products--col-sm-4.products--col-md-6 .multi-loyalty-order .multi-loyalty-order__primary,
  .owl-item .multi-loyalty-order .multi-loyalty-order__primary,
  .products--grid-6x .multi-loyalty-order .multi-loyalty-order__primary {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 0; }
  .products.products--grid.products--col-2.products--col-sm-4.products--col-md-6 .multi-loyalty-order .multi-loyalty-order__secondary,
  .owl-item .multi-loyalty-order .multi-loyalty-order__secondary,
  .products--grid-6x .multi-loyalty-order .multi-loyalty-order__secondary {
    padding: 0 15px 0 5px !important;
    padding: 0 15px; }
  .products.products--grid.products--col-2.products--col-sm-4.products--col-md-6 .multi-loyalty-order .multi-loyalty-order__item,
  .owl-item .multi-loyalty-order .multi-loyalty-order__item,
  .products--grid-6x .multi-loyalty-order .multi-loyalty-order__item {
    flex-direction: row; }
  .products.products--grid.products--col-2.products--col-sm-4.products--col-md-6 .multi-loyalty-order .multi-loyalty-order__heading,
  .owl-item .multi-loyalty-order .multi-loyalty-order__heading,
  .products--grid-6x .multi-loyalty-order .multi-loyalty-order__heading {
    font-size: 16px; }
  .products.products--grid.products--col-2.products--col-sm-4.products--col-md-6 .multi-loyalty-order .multi-loyalty-order__pv,
  .products.products--grid.products--col-2.products--col-sm-4.products--col-md-6 .multi-loyalty-order .multi-loyalty-order__price,
  .owl-item .multi-loyalty-order .multi-loyalty-order__pv,
  .owl-item .multi-loyalty-order .multi-loyalty-order__price,
  .products--grid-6x .multi-loyalty-order .multi-loyalty-order__pv,
  .products--grid-6x .multi-loyalty-order .multi-loyalty-order__price {
    font-size: 12px; }
  .products.products--grid.products--col-2.products--col-sm-4.products--col-md-6 .multi-loyalty-order .multi-loyalty-order__pv,
  .owl-item .multi-loyalty-order .multi-loyalty-order__pv,
  .products--grid-6x .multi-loyalty-order .multi-loyalty-order__pv {
    margin-left: 0; }
  .products.products--grid.products--col-2.products--col-sm-4.products--col-md-6 .multi-loyalty-order .multi-loyalty-order__prices,
  .owl-item .multi-loyalty-order .multi-loyalty-order__prices,
  .products--grid-6x .multi-loyalty-order .multi-loyalty-order__prices {
    flex-direction: column;
    font-size: 12px;
    line-height: 17px; }
  .products.products--grid.products--col-2.products--col-sm-4.products--col-md-6 .multi-loyalty-order .multi-loyalty-order__date,
  .owl-item .multi-loyalty-order .multi-loyalty-order__date,
  .products--grid-6x .multi-loyalty-order .multi-loyalty-order__date {
    font-size: 14px;
    line-height: 20px; }
  .products.products--grid.products--col-2.products--col-sm-4.products--col-md-6 .multi-loyalty-order .multi-loyalty-order__add.ui.button.primary,
  .owl-item .multi-loyalty-order .multi-loyalty-order__add.ui.button.primary,
  .products--grid-6x .multi-loyalty-order .multi-loyalty-order__add.ui.button.primary {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0;
    min-width: auto !important; }

@media screen and (max-width: 767px) {
  .promo .multi-loyalty-order {
    position: absolute;
    bottom: 140px;
    width: auto;
    left: auto; } }

@media screen and (min-width: 768px) {
  .promo .multi-loyalty-order {
    bottom: 150px; } }

@media screen and (max-width: 767px) {
  .promo .multi-loyalty-order .multi-loyalty-order__products {
    display: none; } }

@media screen and (max-width: 767px) {
  .promo .multi-loyalty-order .multi-loyalty-order__item {
    flex-direction: row; } }

@media screen and (max-width: 767px) {
  .promo .multi-loyalty-order .multi-loyalty-order__primary {
    flex-direction: column;
    text-align: left; } }

@media screen and (max-width: 767px) {
  .promo .multi-loyalty-order .multi-loyalty-order__secondary {
    padding: 0 15px; } }

@media screen and (max-width: 767px) {
  .multi-loyalty-order--mbsm-dtlg {
    position: absolute;
    bottom: 110px;
    width: auto;
    left: auto;
    margin-left: -5px;
    min-width: 200px; } }

@media screen and (min-width: 1024px) {
  .multi-loyalty-order--mbsm-dtlg {
    bottom: 125px; }
    .multi-loyalty-order--mbsm-dtlg--open {
      bottom: 125px; } }

@media screen and (max-width: 767px) {
  .multi-loyalty-order--mbsm-dtlg .multi-loyalty-order__products {
    display: none; } }

@media screen and (max-width: 767px) {
  .multi-loyalty-order--mbsm-dtlg .multi-loyalty-order__item {
    flex-direction: row; } }

@media screen and (max-width: 767px) {
  .multi-loyalty-order--mbsm-dtlg .multi-loyalty-order__primary {
    flex-direction: column;
    text-align: left; } }

@media screen and (max-width: 767px) {
  .multi-loyalty-order--mbsm-dtlg .multi-loyalty-order__secondary {
    padding: 0 15px; } }

@media screen and (max-width: 767px) {
  .multi-loyalty-order--mbsm-dtlg .multi-loyalty-order__list {
    max-height: 160px; } }

@media screen and (max-width: 767px) {
  .multi-loyalty-order--mbfx-dtlg {
    position: fixed;
    max-height: 0;
    left: 0;
    right: 0;
    bottom: -100%;
    opacity: 1 !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 99999; } }

@media screen and (max-width: 767px) {
  .multi-loyalty-order--mbfx-dtlg.multi-loyalty-order--open {
    bottom: 0; } }

.multi-loyalty-order--mbsm-dtsm {
  z-index: 9999; }
  @media screen and (max-width: 767px) {
    .multi-loyalty-order--mbsm-dtsm {
      position: absolute;
      left: auto;
      bottom: 120px;
      width: 200px;
      min-width: 200px; } }
  @media screen and (min-width: 768px) {
    .multi-loyalty-order--mbsm-dtsm {
      width: 200px;
      min-width: 200px; } }
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    .multi-loyalty-order--mbsm-dtsm {
      left: 50px !important; } }
  .multi-loyalty-order--mbsm-dtsm .multi-loyalty-order__header {
    padding-top: 25px; }
  .multi-loyalty-order--mbsm-dtsm .multi-loyalty-order__products {
    display: none; }
  .multi-loyalty-order--mbsm-dtsm .multi-loyalty-order__primary {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start; }
  .multi-loyalty-order--mbsm-dtsm .multi-loyalty-order__secondary {
    padding: 0 15px 0 5px !important; }
  .multi-loyalty-order--mbsm-dtsm .multi-loyalty-order__item {
    flex-direction: row; }
  .multi-loyalty-order--mbsm-dtsm .multi-loyalty-order__secondary {
    padding: 0 15px; }
  .multi-loyalty-order--mbsm-dtsm .multi-loyalty-order__heading {
    font-size: 16px; }
  .multi-loyalty-order--mbsm-dtsm .multi-loyalty-order__pv,
  .multi-loyalty-order--mbsm-dtsm .multi-loyalty-order__price {
    font-size: 12px; }
  .multi-loyalty-order--mbsm-dtsm .multi-loyalty-order__prices {
    flex-direction: column;
    line-height: 17px; }
  .multi-loyalty-order--mbsm-dtsm .multi-loyalty-order__pv {
    margin-left: 0; }
  .multi-loyalty-order--mbsm-dtsm .multi-loyalty-order__date {
    font-size: 14px;
    line-height: 20px; }
  .multi-loyalty-order--mbsm-dtsm .product__overlay {
    width: 100%; }
  .multi-loyalty-order--mbsm-dtsm .product__overlay-icon {
    margin: 5px auto 5px; }
  .multi-loyalty-order--mbsm-dtsm .multi-loyalty-order__add.ui.button {
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: auto !important;
    margin-top: 0;
    font-size: 14px; }

.multi-loyalty-order--mbls-dtls {
  width: 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1); }
  @media screen and (min-width: 768px) {
    .multi-loyalty-order--mbls-dtls {
      top: auto;
      right: 0;
      bottom: 115px;
      left: auto;
      padding-bottom: 5px; } }
  @media screen and (min-width: 1024px) {
    .multi-loyalty-order--mbls-dtls {
      max-width: 80%; } }
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    .multi-loyalty-order--mbls-dtls {
      left: 18px !important; } }
  .multi-loyalty-order--mbls-dtls .multi-loyalty-order__header {
    padding-bottom: 0;
    padding-top: 15px;
    padding-left: 10px; }
  .multi-loyalty-order--mbls-dtls .multi-loyalty-order__heading {
    font-size: 16px; }
  @media screen and (min-width: 768px) {
    .multi-loyalty-order--mbls-dtls .multi-loyalty-order__list {
      padding: 0 0; } }
  .multi-loyalty-order--mbls-dtls .multi-loyalty-order__item {
    flex-direction: row;
    align-items: center;
    padding: 10px 10px 10px 15px; }
    @media screen and (min-width: 768px) {
      .multi-loyalty-order--mbls-dtls .multi-loyalty-order__item {
        padding: 5px 10px; } }
  .multi-loyalty-order--mbls-dtls .multi-loyalty-order__primary {
    flex: 1;
    margin: 0;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0; }
    @media screen and (max-width: 767px) {
      .multi-loyalty-order--mbls-dtls .multi-loyalty-order__primary {
        flex-direction: column; } }
  .multi-loyalty-order--mbls-dtls .multi-loyalty-order__secondary {
    padding: 10px 10px; }
    @media screen and (min-width: 768px) {
      .multi-loyalty-order--mbls-dtls .multi-loyalty-order__secondary {
        padding: 7px 0 7px 12px; } }
  .multi-loyalty-order--mbls-dtls .multi-loyalty-order__date {
    font-size: 14px; }
    @media screen and (min-width: 1440px) {
      .multi-loyalty-order--mbls-dtls .multi-loyalty-order__date {
        font-size: 16px; } }
  .multi-loyalty-order--mbls-dtls .multi-loyalty-order__prices {
    flex-direction: row; }
  .multi-loyalty-order--mbls-dtls .multi-loyalty-order__price {
    margin-left: 15px; }
    @media screen and (max-width: 767px) {
      .multi-loyalty-order--mbls-dtls .multi-loyalty-order__price {
        margin-left: 0; } }
  .multi-loyalty-order--mbls-dtls .multi-loyalty-order__pv {
    margin-left: 10px; }
  .multi-loyalty-order--mbls-dtls .multi-loyalty-order__products {
    display: none; }
  .multi-loyalty-order--mbls-dtls .multi-loyalty-order__pv,
  .multi-loyalty-order--mbls-dtls .multi-loyalty-order__price {
    font-size: 14px; }
  .multi-loyalty-order--mbls-dtls .multi-loyalty-order__add {
    margin-left: 15px; }
    @media screen and (min-width: 768px) {
      .multi-loyalty-order--mbls-dtls .multi-loyalty-order__add {
        margin-left: 15px; } }
  .multi-loyalty-order--mbls-dtls .product__overlay {
    width: 100%; }
  .multi-loyalty-order--mbls-dtls .product__overlay-icon {
    margin: 5px auto 5px; }
  .multi-loyalty-order--mbls-dtls .multi-loyalty-order__add.ui.button.primary {
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    min-width: auto !important; }
  @media screen and (max-width: 767px) {
    .multi-loyalty-order--mbls-dtls {
      position: absolute;
      width: auto;
      left: 30px;
      bottom: 95px;
      right: 30px; } }
  @media screen and (min-width: 480px) {
    .multi-loyalty-order--mbls-dtls {
      max-width: 70%;
      right: auto; } }
  @media screen and (min-width: 768px) {
    .multi-loyalty-order--mbls-dtls {
      left: auto;
      max-width: 85%;
      right: auto; } }
  @media screen and (min-width: 1024px) {
    .multi-loyalty-order--mbls-dtls {
      max-width: 60%;
      right: auto; } }
  @media screen and (min-width: 1440px) {
    .multi-loyalty-order--mbls-dtls {
      max-width: 50%;
      right: auto; } }

.products.products--grid.products--col-2.products--col-sm-4.products--col-md-6 .multi-loyalty-order.multi-loyalty-order--scroller,
.owl-item .multi-loyalty-order.multi-loyalty-order--scroller,
.products--grid-6x .multi-loyalty-order.multi-loyalty-order--scroller {
  min-width: 215px; }

@media screen and (max-width: 767px) {
  .products.products--grid.products--col-2.products--col-sm-4.products--col-md-6 .multi-loyalty-order.multi-loyalty-order--scroller .multi-loyalty-order__list,
  .owl-item .multi-loyalty-order.multi-loyalty-order--scroller .multi-loyalty-order__list,
  .products--grid-6x .multi-loyalty-order.multi-loyalty-order--scroller .multi-loyalty-order__list {
    max-height: 160px; } }

.products.products--grid.products--col-2.products--col-sm-4.products--col-md-6 .multi-loyalty-order.multi-loyalty-order--scroller .multi-loyalty-order__secondary,
.owl-item .multi-loyalty-order.multi-loyalty-order--scroller .multi-loyalty-order__secondary,
.products--grid-6x .multi-loyalty-order.multi-loyalty-order--scroller .multi-loyalty-order__secondary {
  padding-left: 0 !important; }

.product--list .multi-loyalty-order.multi-loyalty-order--scroller .multi-loyalty-order__list {
  max-height: 102px; }
  @media screen and (max-width: 767px) {
    .product--list .multi-loyalty-order.multi-loyalty-order--scroller .multi-loyalty-order__list {
      max-height: 108px; } }

.products.products--grid.products--col-2.products--col-sm-4.products--col-md-6 .multi-loyalty-order--scroller .multi-loyalty-order__list,
.owl-item .multi-loyalty-order--scroller .multi-loyalty-order__list,
.products--grid-6x .multi-loyalty-order.multi-loyalty-order--scroller .multi-loyalty-order__list {
  max-height: 125px; }

.multi-loyalty-order.multi-loyalty-order--scroller .multi-loyalty-order__add.ui.button.primary {
  min-width: auto !important; }

@media screen and (min-width: 768px) {
  .spotlight-product .multi-loyalty-order {
    left: -45px; } }

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .spotlight-product .multi-loyalty-order {
    /* IE10+ specific styles */
    left: -45px !important; } }

@media screen and (min-width: 768px) {
  .product-featured .multi-loyalty-order {
    left: -45px; } }

@media screen and (min-width: 1024px) {
  .product-featured .multi-loyalty-order {
    left: -30px; } }

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .product-featured .multi-loyalty-order {
    /* IE10+ specific styles */
    left: -30px !important; } }

@media screen and (min-width: 768px) {
  .loyalties .product-featured .multi-loyalty-order {
    left: -45px; } }

@media screen and (min-width: 1024px) {
  .loyalties .product-featured .multi-loyalty-order {
    left: -45px; } }

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .loyalties .product-featured .multi-loyalty-order {
    /* IE10+ specific styles */
    left: -45px !important; } }
