.notification {
  overflow: hidden;
  margin: 0;
  margin-bottom: -5px !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  width: 100%;
  border-bottom: 5px solid transparent;
  align-items: center;
  z-index: 9999999;
  padding: 0.5em 0 !important;
  transition: margin-top .3s, opacity .3s .3s !important; }
  @media screen and (min-width: 768px) {
    .notification {
      align-items: center;
      padding: 0.75em 0 !important; } }
  .notification > .container {
    position: relative; }
  .notification--danger {
    background-color: #F2C4C4 !important;
    border-color: #DE6C6C; }
  .notification--warning {
    background-color: #FCE0BD !important;
    border-color: #F8B259; }
  .notification--success {
    background-color: #CAE2B0 !important;
    border-color: #7BB739; }
  .notification--info {
    background-color: #C79ED3 !important;
    border-color: #A25EB5; }
  .notification--error {
    background-color: #FBF0F0 !important;
    border-color: #DE6C6C; }
    .notification--error .notification__copy {
      color: #DE6C6C; }
    .notification--error a {
      color: #DE6C6C;
      display: inline-block;
      margin-left: 10px; }
  .notification__close {
    top: 3px;
    right: -15px;
    position: absolute;
    cursor: pointer; }
    @media screen and (max-width: 767px) {
      .notification__close::before {
        font-size: 10px; } }
    @media screen and (min-width: 768px) {
      .notification__close {
        top: -3px;
        right: -5px; } }
    @media screen and (min-width: 1024px) {
      .notification__close {
        right: 15px; } }
  .notification__icon {
    float: left;
    margin-right: 15px;
    position: relative;
    top: 2px; }
  .notification__copy {
    float: left;
    width: calc(100% - 60px);
    font-weight: 700;
    color: #354657; }
    .notification__copy,
    .notification__copy p {
      font-size: 12px;
      line-height: 18px; }
      @media screen and (min-width: 768px) {
        .notification__copy,
        .notification__copy p {
          font-size: 16px;
          line-height: 20px; } }
    .notification__copy p {
      display: inline-block;
      margin: 0 !important; }
      @media screen and (min-width: 768px) {
        .notification__copy p {
          font-size: 14px;
          line-height: 20px;
          padding-right: 40px; } }
  .notification__cta {
    color: #354657;
    text-decoration: none;
    font-weight: bold;
    text-decoration: underline;
    display: block;
    margin-top: 5px;
    font-size: 12px;
    line-height: 18px; }
    @media screen and (min-width: 768px) {
      .notification__cta {
        display: inline-block;
        margin-top: 0;
        font-size: 14px;
        line-height: 20px; } }
    .notification__cta:hover, .notification__cta:focus {
      color: #354657;
      text-decoration: none; }
  .notification__inner {
    display: flex; }

body.global-notification {
  transition: all ease-in-out 0.5s; }
