.products--grid {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap; }
  @media (max-width: 374px) {
    .products--grid {
      overflow: visible; } }
  @media screen and (min-width: 1024px) {
    .products--grid.products--col-1 > .product {
      flex: 0 0 98%;
      margin: 0 1% 2%;
      height: auto;
      max-width: 98%;
      min-width: 98%; } }
  .products--grid.products--col-2 > .product {
    height: auto;
    flex: 1 0 45%;
    margin: 0 2.5% 2%;
    max-width: 45%;
    min-width: 45%; }
    @media screen and (min-width: 768px) {
      .products--grid.products--col-2 > .product {
        flex: 1 0 48%;
        margin: 0 1% 2%;
        max-width: 48%;
        min-width: 48%; } }
  @media screen and (min-width: 480px) {
    .products--grid.products--col-sm-2 > .product {
      flex: 1 0 45%;
      margin: 0 2% 2%;
      height: auto;
      max-width: 45%;
      min-width: 45%; } }
  @media screen and (min-width: 1024px) {
    .products--grid.products--col-md-2 > .product {
      flex: 1 0 45%;
      margin: 0 2% 2%;
      height: auto;
      max-width: 45%;
      min-width: 45%; } }
  .products--grid.products--col-3 > .product {
    flex: 0 0 31.333%;
    margin: 0 1% 2%;
    height: auto;
    max-width: 31.333%;
    min-width: 31.333%; }
  @media screen and (min-width: 480px) {
    .products--grid.products--col-sm-3 > .product {
      flex: 0 0 31.333%;
      margin: 0 1% 2%;
      height: auto;
      max-width: 31.333%;
      min-width: 31.333%; } }
  @media screen and (min-width: 768px) {
    .products--grid.products--col-md-3 > .product {
      flex: 1 0 31.333%;
      margin: 0 1% 2%;
      height: auto;
      max-width: 31.333%;
      min-width: 31.333%; } }
  .products--grid.products--col-4 > .product {
    flex: 1 0 23%;
    margin: 0 1% 2%;
    height: auto;
    max-width: 23%;
    min-width: 23%; }
  @media screen and (min-width: 480px) {
    .products--grid.products--col-sm-4 > .product {
      flex: 1 0 23%;
      margin: 0 1% 2%;
      height: auto;
      max-width: 23%;
      min-width: 23%; } }
  @media screen and (min-width: 768px) {
    .products--grid.products--col-md-4 > .product {
      flex: 1 0 23%;
      margin: 0 1% 2%;
      height: auto;
      max-width: 23.75%;
      min-width: 23.75%; } }
  @media screen and (min-width: 1024px) {
    .products--grid.products--col-lg-4 > .product {
      flex: 1 0 23%;
      margin: 0 1% 2%;
      height: auto;
      max-width: 23%;
      min-width: 23%; } }
  .products--grid.products--col-5 > .product {
    flex: 0 0 18%;
    margin: 0 1% 2%;
    height: auto;
    max-width: 18%;
    min-width: 18%; }
  @media screen and (min-width: 480px) {
    .products--grid.products--col-sm-5 > .product {
      flex: 0 0 18%;
      margin: 0 1% 2%;
      height: auto;
      max-width: 18%;
      min-width: 18%; } }
  @media screen and (min-width: 1024px) {
    .products--grid.products--col-md-5 > .product {
      flex: 0 0 18%;
      margin: 0 1% 2%;
      height: auto;
      max-width: 18%;
      min-width: 18%; } }
  .products--grid.products--col-6 > .product {
    flex: 0 0 17.6666%;
    margin: 0 1% 2%;
    height: auto;
    max-width: 17.6666%;
    min-width: 17.6666%; }
  @media screen and (min-width: 480px) {
    .products--grid.products--col-sm-6 > .product {
      flex: 0 0 14.6666%;
      margin: 0 1% 2%;
      height: auto;
      max-width: 14.6666%;
      min-width: 14.6666%; } }
  @media screen and (min-width: 1025px) {
    .products--grid.products--col-md-6 > .product {
      flex: 0 0 14.6666%;
      margin: 0 1% 2%;
      height: auto;
      max-width: 14.6666%;
      min-width: 14.6666%; } }
  @media screen and (min-width: 1024px) {
    .products--grid.products--col-lg-6 > .product {
      flex: 0 0 14.6666%;
      margin: 0 1% 2%;
      height: auto;
      max-width: 14.6666%;
      min-width: 14.6666%; } }
  @media screen and (min-width: 1440px) {
    .products--grid.products--col-xl-6 > .product {
      flex: 0 0 14.6666%;
      margin: 0 1% 2%;
      height: auto;
      max-width: 14.6666%;
      min-width: 14.6666%; } }

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  .products--grid .product {
    min-height: 400px !important; } }

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  .product--grid.product {
    min-height: 400px !important; } }

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  .product--grid .product__image {
    display: block !important;
    position: relative !important; } }

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  .product--grid.product .product__image {
    display: flex !important;
    position: relative !important; } }

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  .product--grid .product__image .product_thumbnail {
    position: absolute !important;
    bottom: 0 !important;
    display: inline-block !important; } }

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  .product__details__footer {
    align-items: center !important; } }

@media screen and (min-width: 480px) {
  .products--grid.products--col-2.products--col-sm-3.products--col-md-4 > .product.product--grid:nth-child(3n + 3) .multi-loyalty-order {
    right: 0 !important; } }

@media screen and (min-width: 768px) {
  .products--grid.products--col-2.products--col-sm-3.products--col-md-4 > .product.product--grid:nth-child(3n + 3) .multi-loyalty-order {
    right: auto !important; } }

@media screen and (min-width: 480px) {
  .products--grid.products--col-2.products--col-sm-3.products--col-md-4 > .product.product--grid:nth-child(3n + 1) .multi-loyalty-order {
    left: 0 !important; } }

@media screen and (min-width: 768px) {
  .products--grid.products--col-2.products--col-sm-3.products--col-md-4 > .product.product--grid:nth-child(3n + 1) .multi-loyalty-order {
    left: auto !important; } }

@media screen and (min-width: 768px) {
  .products--grid.products--col-2.products--col-sm-3.products--col-md-4 > .product.product--grid:nth-child(4n + 4) .multi-loyalty-order {
    right: 0 !important; } }

@media screen and (min-width: 768px) {
  .products--grid.products--col-2.products--col-sm-3.products--col-md-4 > .product.product--grid:nth-child(4n + 1) .multi-loyalty-order {
    left: 0 !important; } }
