.profile-photo__inner {
  border: 2px solid #EEEEEE;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px; }
  @media screen and (min-width: 768px) {
    .profile-photo__inner {
      padding: 30px; } }

.profile-photo__current {
  border-radius: 100%;
  border: 3px solid #BD8BCA; }

.profile-photo__delete {
  display: block;
  font-size: 16px;
  color: #354657;
  margin-top: 10px; }
