.read-more__content {
  display: block;
  display: -webkit-box;
  height: 120px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  display: box;
  /* As specified */
  display: -moz-box;
  /* Mozilla */
  display: -webkit-box;
  /* WebKit */
  /* Children should be oriented vertically */
  box-orient: vertical;
  /* As specified */
  -moz-box-orient: vertical;
  /* Mozilla */
  -webkit-box-orient: vertical;
  /* WebKit */
  /* Pack children to the top of this box */
  box-pack: center;
  /* As specified */
  -moz-box-pack: center;
  /* Mozilla */
  -webkit-box-pack: center;
  /* WebKit */
  /* Align children to the horizontal center of this box */
  box-align: center;
  /* As specified */
  -moz-box-align: center;
  /* Mozilla */
  -webkit-box-align: center;
  /* WebKit */ }
  @media screen and (min-width: 768px) {
    .read-more__content {
      height: 120px;
      line-height: 24px; } }

.read-more__link {
  display: block;
  font-weight: 600; }

.read-more__link-text--less {
  display: none; }

@media screen and (min-width: 768px) {
  .read-more--xs .read-more__link {
    display: none; } }

@media screen and (min-width: 768px) {
  .read-more--xs .read-more__content {
    overflow: visible;
    text-overflow: initial;
    height: auto;
    -webkit-line-clamp: initial; } }

@media screen and (min-width: 1024px) {
  .read-more--xs-lg .read-more__link {
    display: none; } }

@media screen and (min-width: 1024px) {
  .read-more--xs-lg .read-more__content {
    overflow: visible;
    text-overflow: initial;
    height: auto;
    -webkit-line-clamp: initial; } }

.read-more--open.read-more__content {
  overflow: visible;
  text-overflow: initial;
  height: auto;
  -webkit-line-clamp: initial; }
