.ribbon {
  background-color: #9D57B2;
  transform: rotate(90deg);
  transform-origin: top left;
  clip-path: polygon(100% 0, 88% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
  border-radius: 3px;
  position: absolute;
  z-index: 10;
  top: 10px;
  height: 22px; }
  .ribbon__text {
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: normal;
    font-weight: 700;
    padding-left: 6px;
    padding-right: 13px;
    line-height: 21px;
    font-size: 11px; }
    @media screen and (min-width: 768px) {
      .ribbon__text {
        font-size: 12px; } }
  .ribbon--land {
    transform: none; }
  .ribbon--nudge-r {
    left: 25px; }
