.rwp-profile {
  display: flex; }
  .rwp-profile--menu {
    width: 280px;
    margin-bottom: 20px; }
  .rwp-profile--pushnav {
    margin: 20px; }
  .rwp-profile__image {
    margin-right: 15px;
    max-height: 65px; }
  .rwp-profile__details {
    display: block;
    padding-top: 5px; }
  .rwp-profile__heading {
    font-size: 16px;
    margin-bottom: 8px;
    line-height: 1;
    color: #354657; }
  .rwp-profile__copy {
    font-size: 12px;
    margin-bottom: 0;
    line-height: 1;
    color: #84909B; }
  .rwp-profile__link {
    margin-top: 8px;
    font-size: 12px;
    color: #A25EB5;
    line-height: 1;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 20px;
    overflow: hidden; }
    .rwp-profile__link:hover {
      text-decoration: underline; }
    .rwp-profile__link-expand {
      display: block;
      width: 30px;
      height: 20px;
      margin-top: 5px;
      background-image: url("/images/chevron-up-purple.svg");
      transform: rotate(180deg);
      margin-left: auto; }
  .rwp-profile__no-avatar {
    margin-right: 15px; }
