.selected-kit {
  border-bottom: 2px solid #EEEEEE;
  padding: 0 16px 32px;
  margin-bottom: 20px; }
  @media screen and (min-width: 768px) {
    .selected-kit {
      padding: 24px 16px 24px;
      margin-bottom: 0;
      width: 100%;
      margin-left: 0;
      flex-wrap: nowrap; } }
  @media screen and (min-width: 1024px) {
    .selected-kit {
      padding: 30px 24px 40px; } }
  .selected-kit__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%; }
  .selected-kit__action {
    color: #84909B;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    line-height: 22px; }
    @media screen and (min-width: 1024px) {
      .selected-kit__action {
        font-size: 16px;
        margin-left: 20px; } }
    .selected-kit__action:hover, .selected-kit__action:focus {
      color: #84909B; }
  .selected-kit__title {
    font-size: 20px;
    line-height: 28px;
    margin: 0 0 8px 0;
    font-weight: 700; }
    @media screen and (min-width: 1024px) {
      .selected-kit__title {
        font-size: 30px;
        line-height: 34px;
        padding-top: 0; } }
  .selected-kit__body-text {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: normal; }
    @media screen and (min-width: 768px) {
      .selected-kit__body-text {
        font-size: 16px;
        line-height: 24px; } }
  .selected-kit__progress {
    margin-top: 15px;
    width: 100%; }
    @media screen and (min-width: 480px) {
      .selected-kit__progress {
        margin-top: 30px; } }
  .selected-kit__progress-text {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 22px; }
    @media screen and (min-width: 768px) {
      .selected-kit__progress-text {
        font-size: 16px;
        line-height: 24px; } }
    .selected-kit__progress-text a {
      text-decoration: none; }
  .selected-kit__products {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; }
    .selected-kit__products--collapsible {
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: -8px;
      margin-top: 5px; }
      @media screen and (min-width: 1024px) {
        .selected-kit__products--collapsible {
          flex-direction: column;
          margin-left: 0;
          margin-top: 0; } }
    .selected-kit__products--bordered {
      border-top: 2px solid #EEEEEE;
      margin-top: 24px;
      padding-top: 16px; }
    .selected-kit__products--modal {
      padding: 0 8px; }
      @media screen and (min-width: 768px) {
        .selected-kit__products--modal {
          padding: 0 64px; } }
  @media screen and (min-width: 1024px) {
    .selected-kit__product {
      margin-left: 16px;
      margin-right: 16px; } }
  .selected-kit__product:last-of-type {
    border-bottom: 0; }
  .selected-kit__product--collapsible {
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    margin-left: 8px;
    margin-bottom: 8px; }
    @media screen and (max-width: 767px) {
      .selected-kit__product--collapsible {
        width: calc(25% - 8px); }
        .selected-kit__product--collapsible:nth-child(n+5) {
          display: none; } }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .selected-kit__product--collapsible {
        width: calc(16.666% - 8px); }
        .selected-kit__product--collapsible:nth-child(n+7) {
          display: none; } }
    @media screen and (min-width: 1024px) {
      .selected-kit__product--collapsible {
        border-radius: 0;
        border: 0;
        border-bottom: 1px solid #EEEEEE;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 0;
        width: auto; } }
  .selected-kit__view {
    color: #0067DC;
    margin-top: 8px;
    font-size: 14px;
    line-height: 22px;
    display: inline-block;
    font-weight: 500; }
    @media screen and (min-width: 1024px) {
      .selected-kit__view {
        display: none; } }
  .selected-kit--products {
    padding: 0;
    border: 0; }
    @media screen and (max-width: 767px) {
      .selected-kit--products {
        margin-bottom: 0; } }
    @media screen and (min-width: 768px) {
      .selected-kit--products {
        padding: 0; } }
    @media screen and (min-width: 1024px) {
      .selected-kit--products {
        padding: 32px 0; } }
    @media screen and (min-width: 1024px) {
      .selected-kit--products .selected-kit__inner {
        padding: 0 30px; } }
    .selected-kit--products .selected-kit__product--kit {
      margin-right: 0; }
      @media screen and (max-width: 1023px) {
        .selected-kit--products .selected-kit__product--kit {
          display: flex;
          align-items: center; } }
      @media screen and (min-width: 1024px) {
        .selected-kit--products .selected-kit__product--kit {
          border-bottom: 2px solid #EEEEEE;
          margin-bottom: 20px;
          margin-left: 0;
          padding: 0 30px 40px; } }
  @media screen and (max-width: 767px) {
    .selected-kit--flush-mob {
      margin-left: -16px;
      width: calc(100% + 32px); } }
  @media screen and (max-width: 1023px) {
    .selected-kit--review {
      padding: 0;
      border-bottom: 0; } }
  .selected-kit--modal .selected-kit__inner {
    width: 100%;
    padding: 0 8px; }
    @media screen and (min-width: 768px) {
      .selected-kit--modal .selected-kit__inner {
        padding: 0 64px; } }
  .selected-kit--modal .selected-kit__body-text,
  .selected-kit--modal .selected-kit__progress-text {
    font-size: 14px !important;
    line-height: 22px !important; }
    @media screen and (min-width: 768px) {
      .selected-kit--modal .selected-kit__body-text,
      .selected-kit--modal .selected-kit__progress-text {
        font-size: 16px !important;
        line-height: 24px !important; } }
  .selected-kit--modal .selected-kit__progress {
    margin-top: 0; }
  .selected-kit--modal .selected-kit__product {
    margin-left: 8px;
    margin-right: 8px; }
    .selected-kit--modal .selected-kit__product:not(:last-of-type) {
      border-bottom: 1px solid #EEEEEE; }
    @media screen and (min-width: 768px) {
      .selected-kit--modal .selected-kit__product {
        margin-left: 64px;
        margin-right: 64px; } }
    .selected-kit--modal .selected-kit__product--kit {
      padding-bottom: 32px;
      margin-left: 0;
      margin-right: 0;
      margin-top: 8px;
      border-bottom: 2px solid #EEEEEE; }
      @media screen and (min-width: 768px) {
        .selected-kit--modal .selected-kit__product--kit {
          margin-left: 0;
          margin-right: 0;
          padding-bottom: 40px; } }
  .selected-kit--pyo {
    margin-bottom: 0; }
    .selected-kit--pyo .selected-kit__inner {
      padding-bottom: 8px; }
      @media screen and (min-width: 1024px) {
        .selected-kit--pyo .selected-kit__inner {
          margin-bottom: 20px;
          border-bottom: 2px solid #EEEEEE;
          padding-bottom: 46px; } }
    @media screen and (max-width: 1023px) {
      .selected-kit--pyo .selected-kit__body-text,
      .selected-kit--pyo .selected-kit__progress {
        display: none; } }
