.switcher {
  max-width: 220px;
  margin-bottom: 20px;
  /* Hide default HTML checkbox */ }
  @media screen and (min-width: 1024px) {
    .switcher {
      max-width: 220px; } }
  .switcher__label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 3px; }
  .switcher__title {
    font-size: 22px;
    margin-bottom: 25px; }
  .switcher__subtitle {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: .75em;
    display: flex; }
    .switcher__subtitle .icon--help {
      position: relative;
      margin-left: 5px;
      top: 1px;
      display: inline-block; }
    .switcher__subtitle a {
      display: flex;
      align-items: center; }
  .switcher__bg {
    background-color: #FFFFFF;
    position: absolute;
    z-index: -2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50px; }
  .switcher__switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    height: 54px;
    background-color: transparent; }
    .switcher__switch > * {
      flex: 1; }
    .switcher__switch.off .switcher__switch-label--us {
      color: #D1D1D1;
      background: transparent;
      margin-left: 10px;
      pointer-events: none;
      padding-left: 45px; }
      @media screen and (min-width: 768px) {
        .switcher__switch.off .switcher__switch-label--us {
          margin-left: 15px;
          padding-left: 30px; } }
      @media screen and (min-width: 1440px) {
        .switcher__switch.off .switcher__switch-label--us {
          margin-left: 10px;
          padding-left: 45px; } }
      .switcher__switch.off .switcher__switch-label--us:before {
        filter: saturate(0%);
        opacity: 0.4; }
    .switcher__switch.on .switcher__switch-label--canada {
      color: #D1D1D1;
      pointer-events: none; }
      .switcher__switch.on .switcher__switch-label--canada:before {
        filter: saturate(0%);
        opacity: 0.4; }
    .switcher__switch.on .switcher__switch-label--us {
      margin-left: 10px;
      padding-left: 45px; }
      @media screen and (min-width: 768px) {
        .switcher__switch.on .switcher__switch-label--us {
          margin-left: 15px;
          padding-left: 30px; } }
      @media screen and (min-width: 1440px) {
        .switcher__switch.on .switcher__switch-label--us {
          margin-left: 10px;
          padding-left: 45px; } }
    .switcher__switch.on .slider:before {
      width: calc(50% - 10px);
      margin-left: 20px; }
  .switcher__switch-control {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 54px;
    top: 0;
    left: 0; }
  .switcher__switch-label {
    text-align: center;
    font-weight: 700;
    position: relative;
    z-index: 11;
    padding-left: 35px;
    background: transparent;
    margin: 10px;
    border-radius: 50px;
    height: 25px; }
    .switcher__switch-label::before {
      position: absolute;
      content: "";
      height: 28px;
      width: 28px;
      left: 0;
      bottom: 4px;
      top: 0;
      transition: .4s;
      border-radius: 50%; }
  .switcher__switch-control input {
    opacity: 0;
    width: 0;
    height: 0; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  transition: .4s;
  box-shadow: 0 0px 20px 0 rgba(96, 75, 102, 0.35);
  border-radius: 60px; }

.slider:before {
  position: absolute;
  content: "";
  height: 46px;
  width: 50%;
  left: 4px;
  top: 4px;
  bottom: 4px;
  background-color: #F4F8FD;
  background-color: #eaf0f7;
  transition: .4s;
  border-radius: 50px; }

input.slider__input:checked + .slider {
  background-color: transparent; }

input.slider__input:checked + .slider:before {
  transform: translateX(92%);
  transform: translateX(calc(100% - 8px)); }

.switcher--basic {
  position: relative;
  height: 50px;
  width: 250px;
  margin-top: 10px;
  margin-bottom: 5px;
  background: #FFFFFF;
  border-radius: 25px;
  border: 2px solid #9D57B2; }
  .switcher--basic .switcher__label {
    position: relative;
    z-index: 2;
    float: left;
    width: 123px;
    line-height: 46px;
    font-size: 16px;
    font-weight: 700;
    color: #9D57B2;
    text-align: center;
    cursor: pointer;
    margin: 0; }
    .switcher--basic .switcher__label:active {
      font-weight: bold; }
    .switcher--basic .switcher__label--off {
      padding-left: 2px; }
    .switcher--basic .switcher__label--on {
      padding-right: 2px; }
  .switcher--basic .switcher__input {
    display: none; }
  .switcher--basic .switcher__input:checked + .switcher__label {
    color: #FFFFFF;
    transition: color 0.15s ease-out; }
  .switcher--basic .switcher__input:checked + .switcher__label--on ~ .switcher__selection {
    left: 123px; }
  .switcher--basic .switcher__selection {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    width: 123px;
    height: 100%;
    border-radius: 25px;
    background-color: #9D57B2;
    transition: left 0.15s ease-out;
    border: 2px solid #FFFFFF; }

.switcher--basic-alt {
  position: relative;
  height: 50px;
  width: 100%;
  max-width: 420px;
  margin-top: 0;
  margin-bottom: 0;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  border: 2px solid #FFFFFF;
  overflow: hidden; }
  @media screen and (min-width: 768px) {
    .switcher--basic-alt {
      height: 60px; } }
  .switcher--basic-alt .switcher__label {
    position: relative;
    z-index: 2;
    float: left;
    width: 50%;
    line-height: 50px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    margin: 0;
    font-size: 16px; }
    @media screen and (min-width: 768px) {
      .switcher--basic-alt .switcher__label {
        font-size: 20px;
        line-height: 56px; } }
    .switcher--basic-alt .switcher__label:active {
      font-weight: bold; }
    .switcher--basic-alt .switcher__label--off {
      padding-left: 2px; }
    .switcher--basic-alt .switcher__label--on {
      padding-right: 2px; }
  .switcher--basic-alt .switcher__input {
    display: none; }
  .switcher--basic-alt .switcher__input:checked + .switcher__label {
    color: #9D57B2;
    transition: color 0.15s ease-out; }
  .switcher--basic-alt .switcher__input:checked + .switcher__label--on ~ .switcher__selection {
    left: calc(50% - 3px); }
    @media screen and (min-width: 768px) {
      .switcher--basic-alt .switcher__input:checked + .switcher__label--on ~ .switcher__selection {
        left: calc(50% - 2px); } }
  .switcher--basic-alt .switcher__selection {
    position: absolute;
    z-index: 1;
    top: 3px;
    left: 3px;
    display: block;
    width: 50%;
    height: 40px;
    border-radius: 30px;
    background-color: #FFFFFF;
    transition: left 0.15s ease-out;
    border: 2px solid #FFFFFF; }
    @media screen and (min-width: 768px) {
      .switcher--basic-alt .switcher__selection {
        height: 52px;
        top: 2px;
        left: 2px; } }

.switcher--earnings {
  position: relative;
  height: 130px;
  max-width: 390px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  border: 2px solid #FFFFFF;
  overflow: hidden; }
  @media screen and (max-width: 767px) {
    .switcher--earnings {
      margin-left: auto;
      margin-right: auto;
      height: 60px; } }
  .switcher--earnings .switcher__inner {
    display: flex;
    flex-direction: row;
    align-items: center; }
    @media screen and (min-width: 768px) {
      .switcher--earnings .switcher__inner {
        flex-direction: column; } }
  .switcher--earnings .switcher__label {
    position: relative;
    z-index: 2;
    float: left;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    margin: 0;
    height: 100%; }
    .switcher--earnings .switcher__label:active {
      font-weight: bold; }
    .switcher--earnings .switcher__label--off {
      padding-left: 2px; }
    .switcher--earnings .switcher__label--on {
      padding-right: 2px; }
    .switcher--earnings .switcher__label--loyalty .switcher__icon {
      background-image: url("/images/icons/rewards-white.svg"); }
    .switcher--earnings .switcher__label--shipping .switcher__icon {
      background-image: url("/images/icons/delivery-white.svg"); }
  .switcher--earnings .switcher__input {
    display: none; }
  .switcher--earnings .switcher__input:checked + .switcher__label {
    color: #9D57B2;
    transition: color 0.15s ease-out; }
  .switcher--earnings .switcher__input:checked + .switcher__label--loyalty .switcher__icon {
    background-image: url("/images/icons/rewards-brand.svg"); }
  .switcher--earnings .switcher__input:checked + .switcher__label--shipping .switcher__icon {
    background-image: url("/images/icons/delivery-brand.svg"); }
  .switcher--earnings .switcher__input:checked + .switcher__label--on ~ .switcher__selection {
    left: calc(50% + 2px); }
  .switcher--earnings .switcher__selection {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    width: 50%;
    height: 100%;
    background-color: #FFFFFF;
    transition: left 0.15s ease-out; }
  .switcher--earnings .switcher__icon {
    background-size: cover;
    width: 42px;
    height: 42px; }
    @media screen and (max-width: 767px) {
      .switcher--earnings .switcher__icon {
        width: 32px;
        height: 32px;
        margin-right: 5px; } }
  .switcher--earnings .switcher__title {
    font-weight: 500;
    margin: 0;
    font-size: 12px; }
    @media screen and (min-width: 768px) {
      .switcher--earnings .switcher__title {
        font-size: 16px; } }
  .switcher--earnings .switcher__value {
    font-weight: 700;
    font-size: 16px; }
    @media screen and (min-width: 768px) {
      .switcher--earnings .switcher__value {
        font-size: 20px; } }

.switcher--account {
  position: relative;
  height: 40px;
  max-width: 274px;
  width: 100%;
  margin: 0 auto;
  background: #FFFFFF;
  border-radius: 20px;
  border: 2px solid #9D57B2; }
  @media screen and (min-width: 768px) {
    .switcher--account {
      margin: 10px auto 5px;
      height: 50px;
      max-width: 490px;
      border-radius: 25px; } }
  .switcher--account .switcher__label {
    position: relative;
    z-index: 2;
    float: left;
    width: 135px;
    line-height: 38px;
    font-weight: 700;
    color: #9D57B2;
    text-align: center;
    cursor: pointer;
    margin: 0;
    font-size: 12px; }
    @media screen and (min-width: 768px) {
      .switcher--account .switcher__label {
        font-size: 16px;
        width: 243px;
        line-height: 46px; } }
    .switcher--account .switcher__label:active {
      font-weight: bold; }
    .switcher--account .switcher__label--wc {
      padding-left: 2px; }
    .switcher--account .switcher__label--wa {
      padding-right: 2px; }
  .switcher--account .switcher__input {
    display: none; }
  .switcher--account .switcher__input:checked + .switcher__label {
    color: #FFFFFF;
    transition: color 0.15s ease-out; }
  .switcher--account .switcher__input:checked + .switcher__label--wa ~ .switcher__selection {
    left: 135px; }
    @media screen and (min-width: 768px) {
      .switcher--account .switcher__input:checked + .switcher__label--wa ~ .switcher__selection {
        left: 243px; } }
  .switcher--account .switcher__selection {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    width: 135px;
    height: 100%;
    background-color: #9D57B2;
    transition: left 0.15s ease-out;
    border-radius: 20px; }
    @media screen and (min-width: 768px) {
      .switcher--account .switcher__selection {
        border-radius: 25px;
        width: 243px; } }

.switcher--delivery {
  position: relative;
  height: 44px;
  width: 240px;
  margin-bottom: 15px;
  background: #FFFFFF;
  border-radius: 25px;
  border: 2px solid #9D57B2; }
  @media screen and (min-width: 768px) {
    .switcher--delivery {
      width: 360px;
      height: 50px; } }
  .switcher--delivery .switcher__label {
    position: relative;
    z-index: 2;
    float: left;
    width: 118px;
    line-height: 44px;
    font-size: 14px;
    font-weight: 700;
    color: #9D57B2;
    text-align: center;
    cursor: pointer;
    margin: 0; }
    .switcher--delivery .switcher__label:active {
      font-weight: bold; }
    .switcher--delivery .switcher__label--off {
      padding-left: 2px; }
    .switcher--delivery .switcher__label--on {
      padding-right: 2px; }
    @media screen and (min-width: 768px) {
      .switcher--delivery .switcher__label {
        width: 178px;
        line-height: 50px;
        font-size: 16px; } }
  .switcher--delivery .switcher__input {
    display: none; }
  .switcher--delivery .switcher__input:checked + .switcher__label {
    color: #FFFFFF;
    transition: color 0.15s ease-out; }
  .switcher--delivery .switcher__input:checked + .switcher__label--on ~ .switcher__selection {
    left: 118px; }
    @media screen and (min-width: 768px) {
      .switcher--delivery .switcher__input:checked + .switcher__label--on ~ .switcher__selection {
        left: 178px; } }
  .switcher--delivery .switcher__selection {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    width: 118px;
    height: 100%;
    border-radius: 25px;
    background-color: #9D57B2;
    transition: left 0.15s ease-out; }
    @media screen and (min-width: 768px) {
      .switcher--delivery .switcher__selection {
        width: 178px; } }

.switcher--block {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
  background: #FFFFFF;
  border-radius: 5px;
  border: 2px solid #BD8BCA;
  display: flex; }
  @media screen and (min-width: 768px) {
    .switcher--block {
      width: 250px; } }
  @media screen and (min-width: 1440px) {
    .switcher--block {
      width: 550px; } }
  .switcher--block label.switcher__label {
    position: relative;
    z-index: 2;
    float: left;
    line-height: 46px;
    font-size: 16px;
    font-weight: 700;
    color: #9D57B2 !important;
    text-align: center;
    cursor: pointer;
    margin: 0;
    width: 50%; }
    @media screen and (min-width: 768px) {
      .switcher--block label.switcher__label {
        width: 124.090909091px; } }
    @media screen and (min-width: 1440px) {
      .switcher--block label.switcher__label {
        width: 273px; } }
    .switcher--block label.switcher__label:active {
      font-weight: bold; }
    .switcher--block label.switcher__label--off {
      padding-left: 2px; }
    .switcher--block label.switcher__label--on {
      padding-right: 2px; }
  .switcher--block .switcher__input {
    display: none; }
  .switcher--block .switcher__selection {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    background-color: #9D57B2;
    transition: left 0.15s ease-out;
    border: none;
    border-radius: 3px 0 0 3px;
    border-right: 2px solid #BD8BCA;
    color: #FFFFFF;
    width: 50%; }
    @media screen and (min-width: 768px) {
      .switcher--block .switcher__selection {
        width: 124.090909091px; } }
    @media screen and (min-width: 1440px) {
      .switcher--block .switcher__selection {
        width: 273px; } }
  .switcher--block .switcher__input:checked + .switcher__label {
    color: #FFFFFF !important;
    transition: color 0.15s ease-out; }
  .switcher--block .switcher__input:checked + .switcher__label--on ~ .switcher__selection {
    border-radius: 0 3px 3px 0;
    border-left: 2px solid #BD8BCA;
    border-right: none;
    left: 50%; }
    @media screen and (min-width: 768px) {
      .switcher--block .switcher__input:checked + .switcher__label--on ~ .switcher__selection {
        left: 123px; } }
    @media screen and (min-width: 1440px) {
      .switcher--block .switcher__input:checked + .switcher__label--on ~ .switcher__selection {
        left: 273px; } }
