.table th {
  padding: .25em .75em .75em; }

.table td {
  padding: .1em .75em; }

.table td.has-icon {
  color: #aaabad; }
  .table td.has-icon .icon {
    position: relative;
    top: 4px;
    margin-right: 10px; }

@media screen and (max-width: 767px) {
  .table:not(.orders__table) thead tr {
    display: none; }
  .table:not(.orders__table) tr {
    display: block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding-top: 10px; }
  .table:not(.orders__table) td {
    padding: 0;
    line-height: 1.3;
    display: block; } }
