.tax-info {
  padding: 20px 0 25px; }
  @media screen and (min-width: 768px) {
    .tax-info {
      padding: 30px 0 35px; } }
  .tax-info__title {
    margin: 0 0 10px 0; }
    @media screen and (min-width: 768px) {
      .tax-info__title {
        font-size: 30px;
        line-height: 36px; } }
  .tax-info__intro {
    margin: 0 0 10px 0; }
    @media screen and (min-width: 768px) {
      .tax-info__intro {
        margin: 0 0 20px 0;
        font-size: 16px;
        line-height: 19px; } }
  .tax-info__field {
    display: flex;
    flex-wrap: wrap;
    max-width: 425px; }
    .tax-info__field--stack {
      flex-direction: column; }
    .tax-info__field--gender {
      margin-top: 20px !important; }
    .tax-info__field--vat {
      padding-bottom: 30px;
      margin-bottom: 0 !important;
      max-width: 100%; }
      .tax-info__field--vat input::placeholder {
        color: #354657 !important; }
      .tax-info__field--vat::after {
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        background: #EEEEEE;
        left: 0;
        right: 0;
        bottom: 0; }
      .tax-info__field--vat .tax-info__field-label {
        width: 100%; }
    .tax-info__field--tax-code {
      max-width: 100%; }
      .tax-info__field--tax-code .tax-info__field-input {
        min-width: auto;
        max-width: 425px !important; }
  .tax-info__field-label {
    margin-bottom: 10px !important; }
    @media screen and (min-width: 768px) {
      .tax-info__field-label {
        font-size: 16px;
        line-height: 19px; } }
  .tax-info__field-label-opt {
    color: #6E7787;
    font-style: italic;
    font-weight: 500; }
    .tax-info__field-label-opt--reqd {
      display: none; }
  .tax-info__field-help {
    margin-left: auto; }
    @media screen and (min-width: 768px) {
      .tax-info__field-help {
        font-size: 14px;
        line-height: 19px; } }
  .tax-info__field-input {
    border-radius: 5px !important;
    width: 100%; }
  .tax-info__field-input-icon {
    position: absolute;
    top: 10px;
    right: 15px; }
  .tax-info__field-toggle {
    width: 100%; }
  .tax-info__message {
    color: #6E7787;
    margin: 10px 0 20px; }
    @media screen and (min-width: 768px) {
      .tax-info__message {
        font-size: 16px;
        line-height: 19px; } }
  .tax-info--rates {
    border-top: none; }
  .tax-info__user-rates {
    display: none; }
    .tax-info__user-rates .form-check-label {
      font-weight: 600 !important;
      align-items: flex-start; }
      .tax-info__user-rates .form-check-label .form-check-label__group.input-group {
        border: none; }
      .tax-info__user-rates .form-check-label .dropdown__text {
        text-transform: uppercase !important; }
      .tax-info__user-rates .form-check-label .ui.dropdown:not(.button) > .text {
        font-weight: 600 !important; }
  .tax-info--bt {
    border-top: 2px solid #EEEEEE; }
