.ui.toggle.checkbox {
  min-height: 30px; }

/* Input */
.ui.toggle.checkbox input {
  width: 50px;
  height: 30px; }

.ui.toggle.checkbox .box,
.ui.toggle.checkbox label {
  padding-left: 50px; }

/* Switch */
.ui.toggle.checkbox .box:before,
.ui.toggle.checkbox label:before {
  width: 50px;
  height: 30px;
  border: 1px solid #D1D1D1;
  background-color: #FFFFFF; }

.ui.toggle.checkbox input:checked ~ label:before {
  border: solid 1px #D1D1D1 !important; }

.ui.toggle.checkbox input:checked ~ label:after {
  border: solid #eaeaea;
  border-width: 0px; }

/* Handle */
.ui.toggle.checkbox .box:after,
.ui.toggle.checkbox label:after {
  background: #FFFFFF;
  width: 30px;
  height: 30px; }

.ui.toggle.checkbox input ~ .box:after,
.ui.toggle.checkbox input ~ label:after {
  background-color: #FFFFFF; }

/* Focus */
.ui.toggle.checkbox input:focus ~ .box:before,
.ui.toggle.checkbox input:focus ~ label:before {
  background-color: #FFFFFF;
  border: 1px solid #D1D1D1; }

/* Hover */
.ui.toggle.checkbox .box:hover::before,
.ui.toggle.checkbox label:hover::before {
  background-color: #FFFFFF;
  border: 1px solid #D1D1D1; }

/* Active */
.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ label:before {
  background-color: #0067DC !important; }

.ui.toggle.checkbox input:checked ~ .box:after,
.ui.toggle.checkbox input:checked ~ label:after {
  left: 20px; }

/* Active Focus */
.ui.toggle.checkbox input:focus:checked ~ .box:before,
.ui.toggle.checkbox input:focus:checked ~ label:before {
  background-color: #0067DC !important; }
