* {
  font-variant-numeric: lining-nums;
  -webkit-font-feature-settings: "lnum" on;
  -moz-font-feature-settings: "lnum" on;
  -ms-font-feature-settings: "lnum" on;
  font-feature-settings: "lnum" on; }

body {
  font-family: "rawline", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: -0.31px;
  color: #354657;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media screen and (min-width: 480px) {
    body {
      line-height: 1.6;
      font-size: 1.25rem; } }

h1, h2, h3, h4, h5, h6 {
  font-family: "rawline", sans-serif;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 0.5em;
  margin-top: 0; }

h1, .h1 {
  font-size: 2.4975rem; }
  @media screen and (min-width: 480px) {
    h1, .h1 {
      font-size: 3.825rem; } }
  @media screen and (min-width: 1024px) {
    h1, .h1 {
      font-size: 4.05rem; } }
  @media screen and (min-width: 1024px) {
    h1, .h1 {
      font-size: 3.6rem; } }
  @media screen and (min-width: 1440px) {
    h1, .h1 {
      font-size: 4.5rem; } }

h2, .h2 {
  font-size: 2.6rem; }
  @media screen and (min-width: 480px) {
    h2, .h2 {
      font-size: 3.4rem; } }
  @media screen and (min-width: 1024px) {
    h2, .h2 {
      font-size: 4rem; } }

h3, .h3 {
  font-size: 1.38rem; }
  @media screen and (min-width: 1024px) {
    h3, .h3 {
      font-size: 2.3rem; } }

h4, .h4 {
  font-size: 1.235rem; }
  @media screen and (min-width: 1024px) {
    h4, .h4 {
      font-size: 1.9rem; } }

h5, .h5 {
  font-size: 1.2rem; }
  @media screen and (min-width: 1024px) {
    h5, .h5 {
      font-size: 1.5rem; } }

h6, .h6 {
  font-size: 1rem; }

a {
  color: #9D57B2;
  text-decoration: underline;
  transition: color .3s; }
  a:hover, a:focus, a:active {
    color: #A25EB5;
    outline: none;
    text-decoration: none; }

p {
  margin-bottom: 1rem; }

strong {
  font-weight: 700; }

.text-lg {
  font-size: 20px; }
  .text-lg small {
    font-size: 12px; }

.text-sm {
  font-size: 12px;
  color: #D1D1D1; }

.text-center {
  text-align: center; }

.fw-bold {
  font-weight: 700; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "rawline", sans-serif;
  font-weight: 800; }

h1,
.h1 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 20px; }
  @media screen and (min-width: 768px) {
    h1,
    .h1 {
      font-size: 64px;
      line-height: 64px; } }

h2,
.h2 {
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 20px; }
  @media screen and (min-width: 768px) {
    h2,
    .h2 {
      font-size: 36px;
      line-height: 36px; } }
  @media screen and (min-width: 1024px) {
    h2,
    .h2 {
      font-size: 48px;
      line-height: 48px; } }

h3,
.h3 {
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 16px; }
  @media screen and (min-width: 768px) {
    h3,
    .h3 {
      font-size: 30px;
      line-height: 34px; } }

h4,
.h4 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px; }
  @media screen and (min-width: 768px) {
    h4,
    .h4 {
      font-size: 20px;
      line-height: 24px; } }

h5,
.h5 {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 12px; }
  @media screen and (min-width: 768px) {
    h5,
    .h5 {
      font-size: 16px;
      line-height: 20px; } }

h6,
.h6 {
  font-size: 14px;
  line-height: 17px; }
  @media screen and (min-width: 768px) {
    h6,
    .h6 {
      font-size: 14px;
      line-height: 18px; } }

p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px; }
  @media screen and (min-width: 768px) {
    p {
      margin-bottom: 24px; } }

.fs-s p,
.fs-s {
  margin-bottom: 18px;
  font-size: 12px !important;
  line-height: 18px !important;
  color: #84909B !important; }

.fs-fbc p,
.fs-fbc {
  font-size: 20px !important;
  line-height: 28px !important;
  margin-bottom: 24px; }
  @media screen and (min-width: 768px) {
    .fs-fbc p,
    .fs-fbc {
      margin-bottom: 28px; } }
