.account-order {
  border-radius: 5px;
  background-color: #F4F8FD;
  margin-bottom: 40px; }
  @media screen and (min-width: 768px) {
    .account-order {
      padding: 20px;
      margin-bottom: 10px; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .account-order {
      padding-top: 30px; } }
  .account-order--open {
    padding: 20px;
    margin-bottom: 0; }
    @media screen and (min-width: 768px) {
      .account-order--open {
        margin-bottom: 20px; } }
    .account-order--open .account-order__products {
      margin-top: 20px;
      margin-bottom: 20px; }
  .account-order--push {
    margin-bottom: 40px; }
    @media screen and (min-width: 1024px) {
      .account-order--push {
        margin-bottom: 75px; } }
  .account-order--alt {
    padding: 0; }
    .account-order--alt .account-order__wrap {
      background-color: transparent;
      padding-bottom: 0;
      text-align: center;
      font-size: 14px; }
      @media screen and (min-width: 768px) {
        .account-order--alt .account-order__wrap {
          text-align: left;
          font-size: 16px; } }
    .account-order--alt .account-order__table {
      margin: 0 auto; }
    .account-order--alt .tracking__wrap {
      background-color: transparent; }
  @media screen and (max-width: 767px) {
    .account-order--empty {
      margin-bottom: 0; } }
  .account-order--empty .account-order__details {
    text-align: center;
    padding: 20px 20px 10px;
    margin: 0; }
    @media screen and (min-width: 768px) {
      .account-order--empty .account-order__details {
        padding: 30px 20px; } }
  .account-order--empty .account-order__note {
    font-style: italic;
    font-size: 16px;
    font-weight: 500; }
    @media screen and (min-width: 768px) {
      .account-order--empty .account-order__note {
        font-size: 20px; } }
  .account-order--empty .account-order__button {
    display: inline-block;
    width: auto; }
  .account-order--full {
    padding: 0;
    background-color: transparent;
    margin-bottom: 0; }
    .account-order--full .account-order__inner {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px; }
      @media screen and (min-width: 768px) {
        .account-order--full .account-order__inner {
          margin-bottom: 0; } }
    .account-order--full .account-order__intro-text {
      font-size: 14px;
      line-height: 1.4; }
    .account-order--full .account-order__number {
      margin-bottom: 5px; }
      @media screen and (max-width: 767px) {
        .account-order--full .account-order__number {
          font-size: 16px; } }
    .account-order--full .account-order__button-wrapper {
      flex-basis: 100%;
      margin-top: 10px; }
      @media screen and (min-width: 768px) {
        .account-order--full .account-order__button-wrapper {
          flex-basis: unset;
          order: 2;
          margin-top: 0;
          margin-left: auto; } }
    .account-order--full .account-order__button {
      width: 100%;
      margin-right: 0; }
      @media screen and (min-width: 768px) {
        .account-order--full .account-order__button {
          width: auto; } }
    .account-order--full .account-order__status {
      line-height: 2;
      font-size: 14px;
      margin-bottom: 20px;
      margin-top: 20px; }
      @media screen and (max-width: 767px) {
        .account-order--full .account-order__status strong {
          font-weight: 500; } }
      @media screen and (min-width: 768px) {
        .account-order--full .account-order__status {
          font-size: 16px;
          line-height: 1.75;
          margin-bottom: 0;
          margin-top: 30px;
          order: 4; } }
    .account-order--full .account-order__divider {
      margin-bottom: 0; }
      @media screen and (min-width: 768px) {
        .account-order--full .account-order__divider {
          order: 3; } }
    .account-order--full .account-order__ctas {
      display: flex;
      margin-top: 30px;
      justify-content: flex-start; }
      @media screen and (min-width: 768px) {
        .account-order--full .account-order__ctas {
          justify-content: space-between;
          order: 5;
          flex-basis: 260px;
          margin-top: 50px; } }
    .account-order--full .account-order__ctas-link {
      font-size: 14px;
      color: #354657;
      float: none;
      margin-right: 25px; }
      @media screen and (min-width: 768px) {
        .account-order--full .account-order__ctas-link {
          margin-right: 0; } }
      .account-order--full .account-order__ctas-link:last-of-type {
        margin-right: 0; }
      @media screen and (max-width: 767px) {
        .account-order--full .account-order__ctas-link [class*="icon--"], .account-order--full .account-order__ctas-link [class*="icon--"]:before {
          width: 24px;
          height: 24px; } }
  @media (max-width: 767px) {
    .account-order__details {
      margin: 0 -20px; } }
  .account-order__order-number {
    margin-bottom: 2px; }
    @media screen and (min-width: 768px) {
      .account-order__order-number {
        margin-bottom: 10px; } }
  .account-order__button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: -15px; }
    @media screen and (min-width: 768px) {
      .account-order__button-wrapper {
        display: inline-flex;
        width: auto;
        margin-top: 0; } }
    .account-order__button-wrapper .button {
      display: inline-block;
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 0 !important; }
      @media screen and (max-width: 767px) {
        .account-order__button-wrapper .button {
          margin-left: 15px;
          padding-left: 10px !important;
          padding-right: 10px !important;
          margin-bottom: 0 !important; } }
    .account-order__button-wrapper a {
      text-decoration: none; }
      @media screen and (min-width: 768px) {
        .account-order__button-wrapper a {
          margin-right: 15px; } }
    @media (min-width: 450px) {
      .account-order__button-wrapper {
        flex-wrap: nowrap; } }
    @media screen and (min-width: 768px) {
      .account-order__button-wrapper {
        float: right; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .account-order__button-wrapper {
        float: none; } }
  .account-order__button-track {
    margin-right: 30px; }
  .account-order__divider {
    width: 100%;
    height: 2px;
    background-color: #EEEEEE;
    margin-top: 20px; }
  .account-order__status {
    margin-top: 40px; }
  .account-order__label-inline {
    color: #354657;
    display: inline-flex;
    align-items: center;
    margin-right: 15px;
    position: relative;
    font-weight: 500;
    font-size: 14px; }
    @media screen and (min-width: 768px) {
      .account-order__label-inline {
        margin-right: 35px;
        font-size: 16px; } }
    .account-order__label-inline .icon--delivery {
      position: absolute;
      top: -3px;
      right: -40px; }
  @media screen and (min-width: 768px) {
    .account-order__label-inline-value {
      font-weight: 800; } }
  .account-order__ctas {
    width: 100%;
    overflow: hidden; }
    @media screen and (min-width: 768px) {
      .account-order__ctas {
        margin-top: auto;
        margin-left: auto;
        width: 220px; } }
    .account-order__ctas-link {
      display: inline-flex;
      align-items: center;
      color: #354657;
      text-decoration: none; }
      .account-order__ctas-link:hover {
        text-decoration: underline; }
      .account-order__ctas-link i {
        margin-right: 10px; }
      .account-order__ctas-link:first-child {
        float: left; }
      .account-order__ctas-link:last-child {
        float: right; }
  .account-order__grid {
    align-self: flex-end !important;
    align-items: center !important;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 0 !important; }
    @media screen and (min-width: 768px) {
      .account-order__grid {
        margin-right: 0 !important; } }
  .account-order__info {
    font-size: 14px; }
    @media screen and (min-width: 768px) {
      .account-order__info {
        font-size: 16px; } }
  .account-order__wrap {
    background-color: #FFFFFF;
    padding: 10px 10px 0;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    font-size: 14px; }
    @media screen and (min-width: 768px) {
      .account-order__wrap {
        padding: 20px 20px 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        font-size: 16px; } }
    @media screen and (max-width: 767px) {
      .account-order__wrap > .ui.two.column.grid.stackable {
        margin-left: -15px !important;
        margin-right: -15px !important; } }
  @media screen and (min-width: 768px) {
    .account-order__details > .column:last-child {
      display: flex; }
      .account-order__details > .column:last-child > .account-order__grid {
        margin-top: auto;
        margin-bottom: 0;
        margin-left: 0;
        width: 100%;
        height: auto; } }
  .account-order__products {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-bottom: -15px; }
  .account-order__product {
    position: relative;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    width: calc(33.333% - 15px); }
    @media screen and (min-width: 768px) {
      .account-order__product {
        width: 75px; } }
    @media screen and (min-width: 1024px) {
      .account-order__product {
        max-width: 100%; } }
    .account-order__product img {
      max-height: 100px; }
      @media screen and (min-width: 768px) {
        .account-order__product img {
          max-height: 100%; } }
  .account-order__table {
    font-size: 14px;
    margin-top: -20px; }
    @media screen and (min-width: 768px) {
      .account-order__table {
        font-size: 16px;
        margin-top: 0; } }
    .account-order__table tr td:first-child {
      padding-right: 10px; }
    @media screen and (min-width: 768px) {
      .account-order__table {
        float: right; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .account-order__table {
        float: none;
        margin-bottom: 15px; } }
  .account-order__price {
    font-weight: 800; }
  .account-order .tracking__wrap {
    padding: 0 0 20px 0;
    box-shadow: none; }
  .account-order .track-order {
    max-width: 100%; }
    @media (max-width: 767px) {
      .account-order .track-order {
        width: 100%;
        margin-left: 0; } }
  .account-order .complete {
    color: #7BB739; }
  .account-order .pending,
  .account-order .cancelled {
    color: #DE6C6C; }
