.add-to-loyalty {
  margin: 15px 0;
  padding: 25px 10px;
  border-top: 2px solid #EEEEEE; }
  @media screen and (min-width: 768px) {
    .add-to-loyalty {
      margin: 30px 20px;
      padding: 25px 15px; } }
  @media screen and (min-width: 1024px) {
    .add-to-loyalty {
      margin: 50px auto 25px;
      padding: 25px 5px; } }
  .add-to-loyalty__list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    counter-reset: loyalty-items-counter;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    justify-content: center; }
    @media screen and (min-width: 480px) {
      .add-to-loyalty__list {
        flex-direction: row;
        flex-wrap: wrap; } }
    @media screen and (min-width: 1024px) {
      .add-to-loyalty__list {
        padding: 0 10px; } }
  .add-to-loyalty__card {
    position: relative;
    margin: 5px;
    min-height: 145px;
    border: 1px solid #F5EEF7;
    background-color: #F4F8FD;
    border-radius: 5px;
    flex: 0 calc(100% - 10px); }
    .add-to-loyalty__card:before {
      content: counter(loyalty-items-counter);
      counter-increment: loyalty-items-counter;
      position: absolute;
      top: 50%;
      left: 10px;
      margin: -40px 0 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 80px;
      border: 2px solid #A25EB5;
      border-radius: 100%;
      text-align: center;
      font-size: 40px;
      font-weight: 800;
      color: #A25EB5; }
      @media screen and (min-width: 768px) {
        .add-to-loyalty__card:before {
          margin: -44px 0 0 -44px;
          margin: 0;
          top: 20px;
          left: calc(50% - 44px);
          font-size: 48px;
          width: 88px;
          height: 88px; } }
      @media (min-width: 900px) {
        .add-to-loyalty__card:before {
          top: auto;
          bottom: 50%; } }
    @media screen and (min-width: 768px) {
      .add-to-loyalty__card {
        flex: 0 calc(50% - 10px);
        min-height: 180px; } }
    @media (min-width: 900px) and (max-width: 1100px) {
      .add-to-loyalty__card {
        flex: 0 calc(33.33% - 20px);
        min-height: 320px;
        margin: 10px; } }
    @media (min-width: 1101px) {
      .add-to-loyalty__card {
        margin: 10px;
        flex: 0 calc(16.66% - 20px);
        min-height: 350px; } }
  .add-to-loyalty__placeholder {
    position: absolute;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    padding: 0 5px;
    left: 100px;
    width: calc(100% - 100px);
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 180px; }
    @media screen and (min-width: 768px) {
      .add-to-loyalty__placeholder {
        top: 100px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        width: 180px;
        left: calc(50% - 90px);
        margin: 15px 0 0;
        height: auto; } }
    @media (min-width: 900px) {
      .add-to-loyalty__placeholder {
        top: 50%; } }
  .add-to-loyalty__result {
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    margin: 25px 0 30px; }
  .add-to-loyalty__saving {
    font-size: 16px;
    line-height: 24px; }
    @media screen and (min-width: 768px) {
      .add-to-loyalty__saving {
        font-size: 20px; } }
  .add-to-loyalty__actions {
    text-align: center;
    border-top: 2px solid #EEEEEE;
    padding-top: 30px; }
  .add-to-loyalty__button {
    margin: 0 auto !important;
    width: 265px !important; }
