.bag__toggle {
  background-color: #F4F8FD;
  padding: 15px 15px;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  justify-content: space-between;
  z-index: -1;
  align-items: flex-start; }
  .bag__toggle .tooltip {
    margin-left: 0;
    margin-right: auto;
    align-self: flex-start;
    order: 3; }
    @media screen and (min-width: 480px) {
      .bag__toggle .tooltip {
        order: 2; } }
    @media screen and (max-width: 767px) {
      .bag__toggle .tooltip {
        right: 0; } }
  .bag__toggle--lrp {
    padding: 15px 25px;
    margin-left: -30px;
    margin-right: -30px; }
    @media screen and (min-width: 768px) {
      .bag__toggle--lrp {
        margin-left: -35px;
        margin-right: -35px;
        padding: 15px 50px; } }
    @media screen and (min-width: 1024px) {
      .bag__toggle--lrp {
        margin-left: -40px;
        margin-right: -40px;
        padding: 15px 50px; } }
    @media screen and (min-width: 480px) {
      .bag__toggle--lrp .bag__toggle-field {
        order: 2; } }
    @media screen and (min-width: 1024px) {
      .bag__toggle--lrp .bag__toggle-field {
        order: 3;
        margin-right: 410px; } }
    @media screen and (min-width: 480px) {
      .bag__toggle--lrp .tooltip {
        order: 3; } }

.bag__toggle-info {
  order: 1; }

.bag__toggle-info-display {
  display: flex; }

.bag__toggle-label {
  font-size: 16px;
  display: inline-flex;
  margin-right: 5px; }
  .bag__toggle-label > span {
    margin-right: 5px; }
  .bag__toggle-label > i {
    align-self: center;
    margin-left: 15px; }

.bag__toggle-field {
  display: flex;
  align-items: center;
  order: 2; }
  @media screen and (min-width: 480px) {
    .bag__toggle-field {
      order: 3;
      margin-right: 5px;
      margin-left: 5px; } }
  .bag__toggle-field > .inline.field {
    display: flex; }

.bag__toggle-note {
  color: #84909B;
  font-size: 12px;
  margin-right: 10px;
  display: none;
  padding-top: 5px;
  padding-left: 32px; }
  @media screen and (min-width: 768px) {
    .bag__toggle-note {
      padding-top: 5px;
      padding-left: 0; } }
  .bag__toggle-note--active {
    display: block; }

.bag__head {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 5px 0; }
  @media screen and (min-width: 768px) {
    .bag__head {
      padding: 15px 10px 0 10px; } }

.bag__head-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin: 0 !important; }
  @media screen and (min-width: 768px) {
    .bag__head-title {
      font-size: 20px; } }

.bag__head-aside {
  display: none; }
  @media screen and (min-width: 768px) {
    .bag__head-aside {
      display: flex; } }

.bag__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px; }
  @media screen and (min-width: 768px) {
    .bag__footer {
      border-top: 2px solid #EEEEEE;
      margin-left: -15px;
      margin-right: -15px;
      padding-top: 32px;
      padding-bottom: 30px;
      width: calc(100% + 30px); } }
  .bag__footer--dt {
    display: none; }
    @media screen and (min-width: 768px) {
      .bag__footer--dt {
        display: flex; } }

.bag__footer-btn.ui.button {
  margin-right: 0;
  min-width: calc(100% - 20px); }

.bag__footer-link {
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
  color: #9D57B2; }

.bag__portable-ctas {
  padding-top: 25px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .bag__portable-ctas--mob {
    display: flex; }
    @media screen and (min-width: 768px) {
      .bag__portable-ctas--mob {
        display: none; } }

.bag__inner {
  padding: 15px;
  position: relative; }

.bag__wrapper {
  position: relative; }

.bag__loader {
  position: absolute;
  top: 19%;
  left: calc(50% - 25px);
  z-index: 500;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  display: none; }
  .bag__loader--active {
    display: flex; }
  .bag__loader--inner {
    left: calc(50% - 25px);
    top: 35%; }

.bag__heading {
  border-bottom: 2px solid #EEEEEE;
  padding: 20px;
  margin: 0; }
  @media screen and (min-width: 768px) {
    .bag__heading {
      padding: 40px; } }

.bag__search {
  position: relative;
  padding-bottom: 40px; }
  .bag__search-results {
    display: none;
    margin-top: 10px;
    position: absolute;
    top: 94px;
    left: 0;
    height: calc(100% - 100px);
    width: 100%;
    z-index: 200;
    background-color: #FFFFFF;
    padding: 0 25px 0 0; }
  .bag__search-products {
    padding-right: 50px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    padding-left: 30px; }

.bag__message {
  text-align: center;
  font-style: italic;
  margin: 40px 0 65px;
  padding-top: 20px; }
  .bag__message,
  .bag__message p {
    font-size: 20px; }
  .bag__message--tight {
    margin: 20px 0;
    padding-top: 0; }

.bag__cta {
  text-align: center;
  margin-bottom: 30px; }

.bag__items {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  padding-top: 20px; }
  @media screen and (max-width: 767px) {
    .bag__items {
      padding-top: 0;
      margin-left: -5px;
      margin-right: -5px; } }
  @media screen and (max-width: 767px) {
    .bag__items--modal {
      margin-right: -10px; } }
  .bag__items--modal .product-bag__title {
    padding-top: 10px; }
  .bag__items--points-active .bag__item {
    border-bottom: none; }

.bag__item {
  border-bottom: 1px solid #EEEEEE; }
  .bag__item:last-of-type {
    margin-top: 0;
    border-bottom: none; }
    .bag__item:last-of-type .product-bag--checkout {
      border-bottom: none; }

.bag--user .bag__inner {
  padding: 0; }
  .bag--user .bag__inner .search__inner .form-control::placeholder {
    font-size: 16px;
    line-height: 24px; }

.bag--compact .bag__summary {
  border-bottom: 1px solid #D1D1D1;
  display: flex;
  justify-content: space-between;
  padding: 0 5px 12px; }

.bag--compact .bag__qty {
  font-weight: 800;
  margin-right: 20px; }

.bag--compact .bag__price {
  font-weight: 800; }

.bag--compact .bag__cost {
  display: flex; }

.bag--compact .bag__total {
  font-weight: 800; }

.bag--compact .bag__pv {
  color: #BD8BCA;
  margin-left: 15px; }

.bag--compact .bag__caveat {
  font-size: 12px;
  color: #84909B;
  display: block;
  text-align: center; }

.bag--compact .bag__scroller {
  height: 400px;
  padding-right: 15px;
  margin-bottom: 20px; }

.bag--compact .bag__item {
  border-color: #D1D1D1;
  margin-top: 0; }
