.dropdown .dropdown-menu {
  border-radius: 0 0 5px 5px;
  margin: 0; }

.dropdown .dropdown-toggle {
  padding: 0;
  border: none; }

.dropdown--lang {
  border: none; }
  .dropdown--lang .dropdown-toggle {
    font-family: "rawline", sans-serif;
    width: auto;
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0;
    height: 100%;
    background: transparent; }
    .dropdown--lang .dropdown-toggle::after {
      border: none;
      width: 15px;
      height: 15px;
      background: url("/images/icons/arrow-up.svg") center center no-repeat transparent;
      background-size: 15px;
      position: relative;
      top: 5px;
      right: -5px; }
  .dropdown--lang .dropdown-menu {
    background: #BD8BCA;
    border: none;
    box-shadow: none; }
  .dropdown--lang .dropdown-item {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: "rawline", sans-serif;
    font-weight: 600; }
    .dropdown--lang .dropdown-item:hover {
      background-color: transparent;
      text-decoration: underline; }
    .dropdown--lang .dropdown-item--child {
      font-size: 14px;
      padding-left: 45px; }
  .dropdown--lang .dropdown-body {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap; }
  .dropdown--lang .dropdown-footer {
    border-top: 1px solid #FFFFFF;
    padding-top: 0;
    padding-bottom: 5px;
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 0;
    padding-right: 0;
    width: auto; }
    .dropdown--lang .dropdown-footer .dropdown-item {
      padding-left: 0 !important;
      padding-right: 0 !important;
      display: flex;
      align-items: center;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem; }
      .dropdown--lang .dropdown-footer .dropdown-item:hover {
        color: #A25EB5;
        text-decoration: underline !important; }
      .dropdown--lang .dropdown-footer .dropdown-item span {
        margin-right: 10px; }
  .dropdown--lang.show .dropdown-toggle::after {
    background: url("/images/icons/arrow-down.svg") center center no-repeat transparent;
    background-size: 15px; }

.dropdown--lang-white .dropdown-toggle {
  background-color: transparent;
  color: #354657 !important;
  text-transform: none;
  font-weight: 700;
  width: auto;
  margin: 0;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 30px;
  border-radius: 0;
  min-width: auto;
  background: url("/images/icons/arrow-down.svg") center right no-repeat transparent;
  background-size: 15px; }
  @media screen and (min-width: 1024px) {
    .dropdown--lang-white .dropdown-toggle {
      margin-top: -4px; } }
  .dropdown--lang-white .dropdown-toggle:hover, .dropdown--lang-white .dropdown-toggle:focus, .dropdown--lang-white .dropdown-toggle:active {
    outline: none;
    cursor: pointer; }
  .dropdown--lang-white .dropdown-toggle.active .dropdown-toggle {
    background-image: url("/images/icons/arrow-up.svg"); }

.dropdown--lang-white .dropdown-menu {
  background-color: #FFFFFF;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1); }

.dropdown--lang-white .dropdown-item {
  color: #354657; }
  .dropdown--lang-white .dropdown-item.active {
    color: #A25EB5;
    background-color: transparent;
    font-weight: 800; }

.dropdown--lang-white .dropdown-footer {
  border-top: 1px solid #EEEEEE; }
  .dropdown--lang-white .dropdown-footer .dropdown-item {
    padding-left: 0; }

.dropdown--lang-purple .dropdown-toggle {
  padding-left: 0;
  border: none;
  color: #FFFFFF !important;
  min-width: auto;
  padding: 0 30px 0 0;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: transparent !important;
  background: url("/images/icons/arrow-down-white.svg") right center no-repeat transparent;
  background-size: 15px; }
  .dropdown--lang-purple .dropdown-toggle span {
    position: relative;
    top: 1px; }
  .dropdown--lang-purple .dropdown-toggle:hover, .dropdown--lang-purple .dropdown-toggle:focus, .dropdown--lang-purple .dropdown-toggle:active {
    outline: none;
    cursor: pointer; }
  .dropdown--lang-purple .dropdown-toggle.active .dropdown-toggle {
    background-image: url("/images/icons/arrow-up-white.svg"); }

.dropdown--lang-enroll .dropdown-toggle {
  color: #FFFFFF !important;
  font-size: 14px;
  background-image: url("/images/icons/arrow-down-brand.svg");
  background-size: 25px; }
  .dropdown--lang-enroll .dropdown-toggle.active .dropdown-toggle {
    background-image: url("/images/icons/arrow-up-brand.svg"); }

.dropdown--lang-large .dropdown-toggle {
  background-image: url("/images/icons/arrow-down-brand.svg");
  background-size: 25px;
  font-size: 14px !important; }
  .dropdown--lang-large .dropdown-toggle.active .dropdown-toggle {
    background-image: url("/images/icons/arrow-up-brand.svg"); }

.dropdown--white-invert .dropdown-toggle {
  font-size: 16px;
  background-repeat: no-repeat;
  background-image: url("/images/icons/arrow-down-brand.svg");
  background-size: 25px;
  background-position: calc(100% - 5px) center;
  background-color: #FFFFFF;
  color: #354657 !important;
  border-radius: 4px;
  margin-bottom: 0 !important;
  text-transform: none;
  font-weight: 700;
  padding: 10px 38px 10px 12px; }
  .dropdown--white-invert .dropdown-toggle.active .dropdown-toggle {
    background-image: url("/images/icons/arrow-up-brand.svg"); }

.dropdown.dropdown--lang .dropdown-item {
  width: 100%;
  padding: 0.25rem 1.5rem;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0; }
  .dropdown.dropdown--lang .dropdown-item:hover {
    text-decoration: none; }

.dropdown.dropdown--lang .dropdown-item--child {
  font-size: 14px !important;
  padding-left: 45px !important; }
  .dropdown.dropdown--lang .dropdown-item--child:hover {
    color: #A25EB5;
    text-decoration: underline; }

.dropdown.dropdown--lang-white .dropdown-item.active {
  color: #A25EB5 !important;
  background-color: transparent;
  font-weight: 800 !important; }
  .dropdown.dropdown--lang-white .dropdown-item.active:hover {
    text-decoration: none; }

.ui.bottom.left.pointing.dropdown > .menu {
  border: none;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1); }

.ui.bottom.pointing.dropdown > .menu:after,
.ui.bottom.left.pointing.dropdown > .menu:after {
  display: none;
  content: ''; }

.dropdown--lang-white .dropdown-toggle::after {
  background: url(/images/icons/arrow-down.svg) center center no-repeat transparent;
  background-size: 15px; }

.dropdown--lang .dropdown-toggle::after {
  border: none;
  width: 15px;
  height: 15px;
  background: url(/images/icons/arrow-up.svg) center center no-repeat transparent;
  background-size: 15px;
  position: relative;
  top: 5px;
  right: -5px; }

.footer__sub-footer-language-dropdown.ui.icon.button.active .icon--arrow-up {
  display: none; }

.footer__sub-footer-language-dropdown.ui.icon.button.active .icon--arrow-down {
  display: block; }

.ui.bottom.pointing.dropdown > .menu {
  margin-bottom: 20px; }
  @media (max-width: 500px) {
    .ui.bottom.pointing.dropdown > .menu {
      left: auto;
      right: 0; } }

.region-bar__body .region-bar__lang .dropdown.dropdown--lang .dropdown-menu {
  background-color: #BD8BCA;
  border: none;
  box-shadow: none;
  border-radius: 0 0 5px 5px;
  margin: 0; }

.region-bar__body .region-bar__lang .dropdown.dropdown--lang .dropdown-item {
  color: #FFFFFF;
  font-size: 16px;
  text-transform: capitalize; }
  .region-bar__body .region-bar__lang .dropdown.dropdown--lang .dropdown-item--child {
    font-size: 14px; }

.region-bar__body .region-bar__lang .ui.pointing.dropdown > .menu:after {
  display: none;
  content: ''; }

.region-bar__body .region-bar__lang .dropdown.dropdown--lang.dropdown--lang-purple .ui.dropdown .menu .item {
  color: #FFFFFF; }
  .region-bar__body .region-bar__lang .dropdown.dropdown--lang.dropdown--lang-purple .ui.dropdown .menu .item.active {
    color: #FFFFFF; }

.dropdown.dropdown--lang .footer__sub-footer-language-dropdown-toggle.dropdown-toggle.ui.button::after {
  content: '';
  border: none;
  width: 15px;
  height: 15px;
  background: url(/images/icons/arrow-up.svg) center center no-repeat transparent;
  background-size: 15px;
  position: relative;
  top: 5px;
  right: -5px;
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  background: url(/images/icons/arrow-down.svg) center center no-repeat transparent;
  background-size: 15px; }

.dropdown.dropdown--lang.dropdown--lang-white .footer__sub-footer-language-dropdown-toggle.dropdown-toggle::after {
  background: url(/images/icons/arrow-down.svg) center center no-repeat transparent;
  background-size: 15px; }

.dropdown.dropdown--lang.dropdown--lang-white .footer__sub-footer-language-dropdown.active .footer__sub-footer-language-dropdown-toggle.dropdown-toggle::after {
  background: url(/images/icons/arrow-up.svg) center center no-repeat transparent;
  background-size: 15px; }

.dropdown.dropdown--lang.dropdown--lang-purple .footer__sub-footer-language-dropdown .footer__sub-footer-language-dropdown-toggle.dropdown-toggle::after {
  background: url(/images/icons/arrow-down-white.svg) center center no-repeat transparent;
  background-size: 15px; }

.dropdown.dropdown--lang.dropdown--lang-purple .footer__sub-footer-language-dropdown.active .footer__sub-footer-language-dropdown-toggle.dropdown-toggle::after {
  background: url(/images/icons/arrow-up-white.svg) center center no-repeat transparent;
  background-size: 15px; }

.ui.dropdown.dropdown--fx.dropdown--filter-dt {
  display: none !important;
  box-shadow: none;
  border: 2px solid #EEEEEE; }
  .ui.dropdown.dropdown--fx.dropdown--filter-dt:hover {
    box-shadow: none; }
  @media screen and (min-width: 768px) {
    .ui.dropdown.dropdown--fx.dropdown--filter-dt {
      margin-left: 20px;
      display: flex !important;
      min-width: 175px !important;
      max-width: 175px; } }
  .ui.dropdown.dropdown--fx.dropdown--filter-dt .dropdown__menu {
    min-width: 210px;
    box-shadow: 0 2px 15px 0 rgba(51, 51, 51, 0.2) !important;
    top: 55px;
    left: auto;
    right: -2px;
    min-height: 290px !important; }
  .ui.dropdown.dropdown--fx.dropdown--filter-dt .dropdown__menu-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 15px !important;
    padding-right: 15px !important;
    color: #354657; }
    .ui.dropdown.dropdown--fx.dropdown--filter-dt .dropdown__menu-item.active {
      background-color: #F5EEF7;
      color: #A25EB5;
      font-weight: 500; }
    .ui.dropdown.dropdown--fx.dropdown--filter-dt .dropdown__menu-item.filtered {
      background-color: #F5EEF7;
      color: #A25EB5;
      font-weight: 500; }
    .ui.dropdown.dropdown--fx.dropdown--filter-dt .dropdown__menu-item--header {
      display: flex;
      justify-content: space-between;
      min-height: 40px;
      background-color: #FFFFFF !important;
      font-size: 14px;
      line-height: 24px;
      font-weight: 500;
      cursor: default;
      border-bottom: 1px solid #EEEEEE;
      padding: 4px 15px 4px 15px !important; }
      .ui.dropdown.dropdown--fx.dropdown--filter-dt .dropdown__menu-item--header.active, .ui.dropdown.dropdown--fx.dropdown--filter-dt .dropdown__menu-item--header:hover {
        background-color: #FFFFFF !important; }
  .ui.dropdown.dropdown--fx.dropdown--filter-dt .dropdown__menu-status {
    color: #84909B; }
  .ui.dropdown.dropdown--fx.dropdown--filter-dt .dropdown__menu-clear {
    font-weight: 500; }
  .ui.dropdown.dropdown--fx.dropdown--filter-dt .dropdown__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 115px;
    margin-left: 5px; }
  .ui.dropdown.dropdown--fx.dropdown--filter-dt .dropdown__item-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 130px;
    font-size: 16px;
    line-height: 24px; }
