@media screen and (min-width: 768px) {
  .final-check {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
    position: relative;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 625px;
    margin-bottom: 70px; } }

@media screen and (min-width: 1024px) {
  .final-check {
    background-color: #FFFFFF;
    box-shadow: none;
    max-width: none;
    position: static;
    margin-top: -65px; } }

@media screen and (max-width: 1023px) {
  .final-check .ui.grid.container {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important; }
    .final-check .ui.grid.container > .row {
      margin-top: 0 !important;
      margin-bottom: 0 !important; }
      .final-check .ui.grid.container > .row > .column {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important; } }

.final-check__primary {
  padding: 24px 0;
  background-color: #FFFFFF;
  border-bottom: 2px solid #EEEEEE; }
  @media screen and (min-width: 768px) {
    .final-check__primary {
      padding: 40px 0; } }
  @media screen and (min-width: 1024px) {
    .final-check__primary {
      padding: 0;
      border-radius: 5px;
      box-shadow: 0px 2px 15px rgba(51, 51, 51, 0.2);
      border-bottom: 0; } }

.final-check__secondary {
  display: flex !important;
  flex-direction: column; }

.final-check__summary {
  padding: 32px 0; }
  @media screen and (min-width: 768px) {
    .final-check__summary {
      padding: 40px 0; } }
  @media screen and (min-width: 1024px) {
    .final-check__summary {
      order: 1;
      padding: 0;
      margin-bottom: 20px; } }

.final-check__alert {
  padding: 24px 0;
  border-bottom: 2px solid #EEEEEE; }
  @media screen and (min-width: 768px) {
    .final-check__alert {
      padding: 40px 0; } }
  @media screen and (min-width: 1024px) {
    .final-check__alert {
      padding: 0;
      border: 0;
      order: 2;
      margin-bottom: 20px; } }

.final-check__account {
  background-color: #FFFFFF;
  border-bottom: 2px solid #EEEEEE;
  padding: 24px 0; }
  @media screen and (min-width: 768px) {
    .final-check__account {
      padding: 40px 0; } }
  @media screen and (min-width: 1024px) {
    .final-check__account {
      border-radius: 5px;
      border: 2px solid #EEEEEE;
      order: 3;
      padding: 30px; } }

@media screen and (max-width: 1023px) {
  .final-check__inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 500px;
    padding: 0 8px; } }
