#site-wrapper,
#site-canvas {
  height: auto;
  min-height: 100vh;
  overflow-x: hidden; }

#site-canvas {
  display: flex;
  flex-direction: column; }

.footer {
  font-size: 0.9rem;
  margin-top: auto;
  width: 100%; }

.footer__subscribe {
  padding: 20px 0;
  background: #F4F8FD; }
  @media screen and (min-width: 768px) {
    .footer__subscribe {
      padding: 30px 0; } }
  @media screen and (min-width: 1024px) {
    .footer__subscribe__container {
      display: flex; } }

.footer__subscribe-form {
  flex: 1 0 0%;
  width: 600px;
  max-width: 100%;
  margin: 0 auto; }
  .footer__subscribe-form__heading {
    margin: 0; }

.footer__subscribe-form-input-wrap {
  width: 100%; }
  .footer__subscribe-form-input-wrap input.footer__subscribe-form-input:focus, .footer__subscribe-form-input-wrap input.footer__subscribe-form-input:active {
    border-color: rgba(34, 36, 38, 0.15); }

.ui.input > input.footer__subscribe-form-input {
  height: 50px; }
  @media screen and (min-width: 768px) {
    .ui.input > input.footer__subscribe-form-input {
      max-height: 50px;
      margin-right: 20px; } }
  .ui.input > input.footer__subscribe-form-input::placeholder {
    color: #84909B;
    font-family: "rawline", sans-serif; }

.footer__subscribe-form-button.ui[class*="right labeled"].icon.button {
  position: absolute;
  right: 5px;
  width: 30px;
  top: 10px;
  min-width: 30px;
  height: 30px;
  padding: 0 !important; }
  @media screen and (min-width: 768px) {
    .footer__subscribe-form-button.ui[class*="right labeled"].icon.button {
      right: 0; } }
  .footer__subscribe-form-button.ui[class*="right labeled"].icon.button span {
    display: none; }
    @media screen and (min-width: 768px) {
      .footer__subscribe-form-button.ui[class*="right labeled"].icon.button span {
        display: block; } }
    @media only screen and (max-width: 736px) and (orientation: landscape) {
      .footer__subscribe-form-button.ui[class*="right labeled"].icon.button span {
        display: none; } }
  .footer__subscribe-form-button.ui[class*="right labeled"].icon.button i {
    right: -3px !important; }
  @media screen and (min-width: 768px) {
    .footer__subscribe-form-button.ui[class*="right labeled"].icon.button {
      min-width: 200px;
      text-indent: 0;
      position: relative;
      height: 50px;
      top: 0; }
      .footer__subscribe-form-button.ui[class*="right labeled"].icon.button i {
        display: none; } }
  .footer__subscribe-form-button.ui[class*="right labeled"].icon.button #subscribe_button_text {
    display: none; }
    @media screen and (min-width: 768px) {
      .footer__subscribe-form-button.ui[class*="right labeled"].icon.button #subscribe_button_text {
        display: inline-block; } }

.footer__social-icons .social-icons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center; }
  @media screen and (min-width: 480px) {
    .footer__social-icons .social-icons {
      justify-content: center; } }
  @media screen and (min-width: 1024px) {
    .footer__social-icons .social-icons {
      justify-content: flex-end; } }

@media screen and (min-width: 768px) {
  .footer__social-icons {
    display: flex;
    justify-content: flex-end; } }

.footer__cta {
  padding: 20px 0;
  border-bottom: 2px solid #EEEEEE;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .footer__cta {
      padding: 30px 0; } }
  @media screen and (min-width: 1024px) {
    .footer__cta {
      text-align: left; } }
  @media screen and (max-width: 767px) {
    .footer__cta .ui.button.primary {
      max-width: 280px; } }
  .footer__cta--bt {
    border-top: 2px solid #EEEEEE; }
    @media screen and (min-width: 768px) {
      .footer__cta--bt {
        margin-top: 45px; } }

.footer__ctas {
  margin-top: -10px; }
  @media screen and (min-width: 768px) {
    .footer__ctas {
      text-align: center; } }
  @media screen and (min-width: 1024px) {
    .footer__ctas {
      text-align: left; } }
  .footer__ctas .button {
    width: 100%; }
    @media screen and (min-width: 480px) {
      .footer__ctas .button {
        width: auto; } }

.footer__links {
  padding-bottom: 25px; }
  .footer__links__groups {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0; }
  .footer__links__group {
    width: 50%;
    margin-bottom: 30px; }
    @media screen and (min-width: 768px) {
      .footer__links__group {
        width: auto;
        flex: 1 0 0%; } }
    @media screen and (min-width: 1024px) {
      .footer__links__group {
        margin-bottom: 10px; } }
    @media (max-width: 1020px) {
      .footer__links__group:nth-child(3) {
        margin-bottom: 0; } }
    @media (max-width: 1020px) {
      .footer__links__group:last-child {
        margin-bottom: 0; } }
  .footer__links__heading {
    margin: 12px 0; }
  .footer__links__list {
    list-style: none;
    margin: 0;
    padding: 0; }
    .footer__links__list__item {
      padding: 2px 0; }
    .footer__links__list__link {
      color: #354657;
      text-decoration: none;
      transition: none; }
      .footer__links__list__link:hover, .footer__links__list__link:focus, .footer__links__list__link:active {
        border-bottom: 1px solid #BD8BCA; }
  .footer__links--alt {
    margin-bottom: 50px; }
    .footer__links--alt .footer__links__list__link {
      font-size: 16px; }
    .footer__links--alt .footer__links__heading {
      font-size: 20px; }

.footer__sub-footer {
  padding: 0 15px;
  border-top: 2px solid #EEEEEE;
  text-align: center; }
  @media screen and (min-width: 1024px) {
    .footer__sub-footer {
      padding: 0 0 10px; } }
  @media screen and (min-width: 1024px) {
    .footer__sub-footer__container {
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: center; } }
  .footer__sub-footer .segment {
    padding: 1em 0 !important; }
  .footer__sub-footer__address {
    margin-bottom: 20px; }
    @media screen and (min-width: 1024px) {
      .footer__sub-footer__address {
        margin-bottom: 0; } }
    .footer__sub-footer__address ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      @media screen and (min-width: 1024px) {
        .footer__sub-footer__address ul {
          display: flex; } }
      @media screen and (min-width: 1024px) {
        .footer__sub-footer__address ul li {
          padding-right: 5px;
          border-right: 1px solid #354657;
          margin-right: 5px;
          line-height: 1; }
          .footer__sub-footer__address ul li:last-of-type {
            border: none; } }
    .footer__sub-footer__address a {
      color: #354657;
      text-decoration: none;
      transition: none; }
  .footer__sub-footer__links {
    padding: 0;
    margin: 10px 0;
    list-style: none; }
    @media screen and (min-width: 1024px) {
      .footer__sub-footer__links {
        margin: 0;
        display: flex; } }
    .footer__sub-footer__links li {
      margin: 0 0 3px;
      border-right: 1px solid #7893ad;
      padding: 0 10px;
      line-height: 14px;
      margin: 0; }
      .footer__sub-footer__links li:last-of-type {
        border: none; }
    .footer__sub-footer__links a {
      color: #354657;
      text-decoration: none; }
      .footer__sub-footer__links a:hover, .footer__sub-footer__links a:active, .footer__sub-footer__links a:focus {
        color: #BD8BCA; }
    .footer__sub-footer__links .footer__sub-footer__links____link {
      transition: none;
      font-size: 14px; }
      .footer__sub-footer__links .footer__sub-footer__links____link:hover, .footer__sub-footer__links .footer__sub-footer__links____link:focus, .footer__sub-footer__links .footer__sub-footer__links____link:active {
        border-bottom: 1px solid #BD8BCA; }
  .footer__sub-footer__copyright__logo {
    display: inline-block;
    margin: 0 10px 0 0;
    position: relative;
    width: 16px;
    top: 4px; }

.footer__sub-footer-language-dropdown.ui.icon.button {
  font-size: 12px;
  width: auto;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0;
  background-color: transparent; }

.footer__sub-footer-language-full,
.footer__sub-footer-language-short {
  font-weight: 800;
  color: #354657; }

.footer__sub-footer__links {
  width: calc(100% + 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  order: 3;
  border-top: 2px solid #EEEEEE;
  margin: 20px -30px 0;
  padding: 25px 30px 0; }
  @media screen and (min-width: 1024px) {
    .footer__sub-footer__links {
      border: none;
      margin: 0;
      padding: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between; } }
  @media screen and (min-width: 1024px) {
    .footer__sub-footer__links {
      display: flex;
      order: 2;
      width: auto;
      margin-left: auto; } }

.footer__sub-footer__container {
  display: flex;
  flex-wrap: wrap; }

.footer__sub-footer__copyright {
  order: 1;
  font-size: 0.85rem; }
  @media screen and (min-width: 768px) {
    .footer__sub-footer__copyright {
      font-size: 1rem; } }

.footer__sub-footer-language {
  order: 2;
  align-self: flex-end;
  margin-left: auto; }

.dropdown-toggle.footer__sub-footer-language-dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: center; }
  .dropdown-toggle.footer__sub-footer-language-dropdown-toggle [class*="icon--"] {
    top: 0; }
  .dropdown-toggle.footer__sub-footer-language-dropdown-toggle .icon--arrow-down {
    display: none; }

.footer__sub-footer-language-dropdown.ui.dropdown .menu {
  border: none;
  background-color: #FFFFFF;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1); }
  .footer__sub-footer-language-dropdown.ui.dropdown .menu:after {
    display: none; }

.footer__sub-footer__links li {
  margin-bottom: 10px; }
  @media screen and (min-width: 1024px) {
    .footer__sub-footer__links li {
      margin-bottom: -4px; } }

.footer__links-header {
  padding-top: 40px; }
  @media screen and (min-width: 768px) {
    .footer__links-header {
      padding-top: 50px; } }

.footer__links-title {
  text-align: center;
  font-size: 26px;
  line-height: 26px; }
  @media screen and (min-width: 1024px) {
    .footer__links-title {
      font-size: 48px;
      line-height: 48px; } }
