.header {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 910 !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #EEEEEE;
  padding: 0;
  font-size: 1rem; }
  .header__border {
    display: block;
    height: 5px;
    width: 100%;
    background-color: #BD8BCA; }
  .header__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 100;
    height: 77px;
    width: 100%;
    max-width: 1440px; }
    @media screen and (min-width: 1024px) {
      .header__inner {
        height: 95px; } }
  .header__logo {
    display: flex;
    flex: 1 0 0%;
    justify-content: center; }
    @media screen and (min-width: 1024px) {
      .header__logo {
        flex: inherit; } }
    .header__logo-link {
      display: flex;
      align-items: center; }
    .header__logo-image {
      width: 28px;
      height: 29px; }
      @media screen and (min-width: 480px) {
        .header__logo-image {
          width: 40px;
          height: 40px; } }
      @media screen and (min-width: 1024px) {
        .header__logo-image {
          width: 115px;
          height: 21px; } }
  .header__back {
    display: flex;
    height: 100%;
    align-items: center;
    color: #84909B;
    text-decoration: none;
    padding-left: 40px;
    background-size: 36px;
    font-weight: bold;
    position: absolute;
    left: -35px; }
    @media screen and (min-width: 768px) {
      .header__back {
        left: auto;
        right: 0;
        position: relative; } }
    @media screen and (min-width: 1024px) {
      .header__back {
        position: absolute; } }
    .header__back:hover, .header__back:focus, .header__back:active {
      text-decoration: none;
      color: #84909B; }
  @media screen and (min-width: 1024px) {
    .header__search__wrapper {
      position: relative;
      display: flex;
      flex: 1 0 auto;
      margin: 0 1.5% 0 2.5%; } }
  .header__nav {
    display: none; }
    @media screen and (min-width: 1024px) {
      .header__nav {
        display: flex;
        flex: 0 0 auto;
        -ms-flex: 0 0 27%;
        align-content: center;
        justify-content: center; } }
  .header__language {
    display: none;
    padding: 0 20px;
    cursor: pointer; }
    @media screen and (min-width: 1024px) {
      .header__language {
        display: flex; } }
    .header__language .language {
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      transition: all .3s; }
      .header__language .language:hover {
        color: #BD8BCA; }
  .header__toolbar {
    display: flex;
    flex: 0 0 auto;
    -ms-flex: 0 0 145px;
    align-content: center;
    justify-content: center;
    cursor: pointer; }
    @media screen and (min-width: 768px) {
      .header__toolbar .nav__link {
        margin: 0 9px; } }
    .header__toolbar .nav__link:hover .icon, .header__toolbar .nav__link:active .icon, .header__toolbar .nav__link:focus .icon {
      background-position: 0 100%; }
  .header .mobile__toolbar {
    display: flex;
    align-content: center;
    justify-content: center; }
    @media screen and (min-width: 1024px) {
      .header .mobile__toolbar {
        display: none; } }
  .header__logo-image--mobile {
    display: block;
    height: 40px;
    width: auto; }
    @media screen and (min-width: 1024px) {
      .header__logo-image--mobile {
        display: none; } }
  .header__logo-image--desktop {
    display: none; }
    @media screen and (min-width: 1024px) {
      .header__logo-image--desktop {
        display: block; } }
  .header--enroll-linkgen {
    top: 0;
    z-index: 200; }
    @media screen and (min-width: 768px) {
      .header--enroll-linkgen {
        top: 102px; } }
    @media screen and (min-width: 768px) {
      .header--enroll-linkgen .header__logo {
        position: absolute !important;
        left: 0; } }
    .header--enroll-linkgen .header__inner {
      justify-content: center; }
    .header--enroll-linkgen .header__toolbar {
      position: absolute;
      right: 0;
      top: 15px; }
      @media screen and (min-width: 768px) {
        .header--enroll-linkgen .header__toolbar {
          top: 20px; } }

.header__toolbar .account-avatar img {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  border: 2px solid #BD8BCA;
  max-width: 38px; }

.header__toolbar .account-avatar:hover img {
  border: 2px solid #A25EB5; }

.header__toolbar .icon-user--placeholder {
  margin-bottom: 5px; }

@media screen and (min-width: 768px) {
  .header__search__wrapper {
    display: flex; } }

@media (min-width: 1024px) {
  body.logged-in .header__search .form-control {
    max-width: 40%; } }

@media (min-width: 1065px) {
  body.logged-in .header__search .form-control {
    max-width: 45%; } }

@media (min-width: 1165px) {
  body.logged-in .header__search .form-control {
    max-width: 50%; } }

@media (min-width: 1440px) {
  body.logged-in .header__search .form-control {
    max-width: 55%; } }

@media (min-width: 481px) and (max-width: 767px) {
  .header .mobile__toolbar {
    min-width: 152px; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .header .mobile__toolbar {
    min-width: 176px;
    justify-content: flex-start; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .header .mobile__toolbar .nav {
    flex: none; } }

@media screen and (max-width: 767px) {
  body.js-filter-active {
    overflow: hidden;
    position: fixed; }
    body.js-filter-active .header {
      z-index: 10 !important; } }

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  .header__nav {
    flex: 0 0 41% !important; } }

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  .header__inner .progress-steps__progress {
    flex: 1 0 auto !important; } }
