.icon-list {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  text-align: center; }
  .icon-list__item {
    font-weight: 700;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.3;
    min-width: 100px;
    padding: 0 10px 20px; }
    @media screen and (min-width: 768px) {
      .icon-list__item {
        max-width: 190px;
        min-width: 33.33%; } }
    .icon-list__item--small {
      font-size: 14px; }
  .icon-list__icon {
    margin-bottom: 5px;
    display: block;
    height: 55px;
    display: flex;
    align-items: center; }
    @media screen and (max-width: 767px) {
      .icon-list__icon {
        font-size: 1.4rem;
        height: auto; } }
  .icon-list__badge {
    background-color: #F5EEF7;
    border-radius: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
    margin-right: 15px; }
    @media screen and (min-width: 768px) {
      .icon-list__badge {
        margin-bottom: 15px;
        min-width: 100px;
        min-height: 100px; } }
    .icon-list__badge .icon-list__icon {
      margin-right: 0; }
    .icon-list__badge--alt {
      min-width: 70px !important;
      min-height: 70px !important;
      margin-right: 0; }
      .icon-list__badge--alt .icon-list__icon {
        margin-bottom: 0; }
  .icon-list__link {
    text-decoration: none;
    font-weight: 500;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 24px; }
    @media screen and (min-width: 768px) {
      .icon-list__link {
        margin-top: 12px;
        margin-bottom: 0;
        font-size: 16px; } }
    .icon-list__link--ul {
      text-decoration: underline; }
  .icon-list__title {
    margin-bottom: 5px; }
    @media screen and (min-width: 768px) {
      .icon-list__title {
        height: 100%; } }
  .icon-list__text {
    font-weight: 500; }
  .icon-list__title {
    margin-bottom: 5px; }
    @media screen and (min-width: 768px) {
      .icon-list__title {
        height: 100%; } }
  .icon-list__text {
    font-weight: 500; }
  .icon-list--narrow {
    justify-content: center; }
    .icon-list--narrow .icon-list__item {
      margin: 0 auto;
      padding: 0 0 20px;
      min-width: 0;
      font-size: 14px;
      max-width: 120px; }
      @media screen and (min-width: 768px) {
        .icon-list--narrow .icon-list__item {
          width: 100%;
          font-size: 16px;
          margin: 0; } }
  .icon-list--full {
    justify-content: space-around; }
    .icon-list--full .icon-list__item {
      flex-direction: row;
      align-items: flex-start;
      text-align: left; }
      @media screen and (min-width: 768px) {
        .icon-list--full .icon-list__item {
          min-width: 0;
          max-width: 320px;
          text-align: center;
          flex-direction: column;
          align-items: center; } }
    @media screen and (max-width: 767px) {
      .icon-list--full .icon-list__icon {
        font-size: 1rem;
        min-width: 32px;
        margin-left: -10px;
        margin-right: 15px;
        margin-bottom: 0; } }
    .icon-list--full .icon-list__text {
      font-weight: 500; }
  .icon-list--stacked .icon-list__item {
    max-width: 100%;
    flex-direction: row;
    align-items: flex-start;
    text-align: left; }
  .icon-list--stacked .icon-list__icon {
    font-size: 1rem;
    height: 32px;
    margin-left: -20px;
    margin-right: 15px;
    margin-bottom: 0; }
  .icon-list--wide .icon-list__item {
    padding-left: 0;
    padding-right: 0; }
    @media screen and (min-width: 768px) {
      .icon-list--wide .icon-list__item {
        padding-left: 10px;
        padding-right: 10px;
        flex: 50%; } }
    @media screen and (min-width: 1024px) {
      .icon-list--wide .icon-list__item {
        flex: 25%; } }
  .icon-list--wide .icon-list__icon {
    margin: 0; }
  .icon-list--wide .icon-list__text {
    margin-bottom: 5px;
    font-size: 14px; }
    @media screen and (min-width: 768px) {
      .icon-list--wide .icon-list__text {
        font-size: 16px; } }
  .icon-list--next-steps {
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    margin-top: 20px;
    padding: 25px 10px 5px; }
    @media screen and (min-width: 768px) {
      .icon-list--next-steps {
        padding: 25px 20px 10px;
        justify-content: space-around;
        margin-top: 30px; } }
    .icon-list--next-steps .icon-list__badge {
      margin-bottom: 10px; }
  .icon-list--upgrade {
    justify-content: flex-start; }
    @media screen and (min-width: 768px) {
      .icon-list--upgrade {
        justify-content: center; } }
    .icon-list--upgrade .icon-list__icon {
      margin: 0; }
    .icon-list--upgrade .icon-list__item {
      flex-direction: row;
      text-align: left;
      margin-bottom: 10px;
      padding: 0; }
      @media screen and (min-width: 768px) {
        .icon-list--upgrade .icon-list__item {
          padding: 0 9px 10px;
          font-size: 20px;
          line-height: 24px;
          flex-direction: column;
          text-align: center;
          margin-bottom: 0; } }
