.ideal-order__button.ui.button {
  padding-left: 54px;
  padding-right: 30px;
  border-color: #ff8caf;
  background-color: #d50172;
  border-radius: 5px; }
  .ideal-order__button.ui.button:hover {
    border-color: #ff8caf !important;
    background-color: #ff8caf !important; }
  .ideal-order__button.ui.button .ideal-order__button-image {
    position: absolute;
    top: 50%;
    left: 24px;
    width: 21px;
    height: auto;
    transform: translateY(-50%); }
