.loyalty-order__row {
  display: flex;
  margin: 0 0;
  font-size: 16px;
  margin-right: 25px; }
  @media screen and (min-width: 480px) {
    .loyalty-order__row {
      justify-content: center; } }
  @media screen and (min-width: 768px) {
    .loyalty-order__row {
      justify-content: flex-start;
      text-align: left; } }
  .loyalty-order__row .loyalty-order__row-item-label--bold {
    font-weight: 700; }
  .loyalty-order__row .loyalty-order__row-item-data--bold {
    font-weight: 700; }
  @media screen and (min-width: 768px) {
    .loyalty-order__row--pv {
      display: block;
      font-size: 20px; }
      .loyalty-order__row--pv .loyalty-order__row-item-label,
      .loyalty-order__row--pv .loyalty-order__row-item-data {
        font-size: 20px !important; } }
  .loyalty-order__row--pv .loyalty-order__row-item-data,
  .loyalty-order__row--pv .loyalty-order__row-item-label {
    font-size: 16px; }
  .loyalty-order__row--retail .loyalty-order__row-item .loyalty-order__row-item-label {
    font-size: 16px;
    font-weight: 500; }
    @media screen and (min-width: 768px) {
      .loyalty-order__row--retail .loyalty-order__row-item .loyalty-order__row-item-label {
        font-size: 20px; } }
  .loyalty-order__row--retail .loyalty-order__row-item .loyalty-order__row-item-data {
    font-size: 16px;
    font-weight: 500; }
    @media screen and (min-width: 768px) {
      .loyalty-order__row--retail .loyalty-order__row-item .loyalty-order__row-item-data {
        font-size: 20px; } }
  .loyalty-order__row--wholesale {
    margin-bottom: 5px;
    margin-top: 5px; }
    .loyalty-order__row--wholesale .loyalty-order__row-item .loyalty-order__row-item-label {
      font-size: 16px;
      font-weight: 700; }
      @media screen and (min-width: 768px) {
        .loyalty-order__row--wholesale .loyalty-order__row-item .loyalty-order__row-item-label {
          font-size: 20px; } }
    .loyalty-order__row--wholesale .loyalty-order__row-item .loyalty-order__row-item-data {
      font-size: 16px;
      font-weight: 700; }
      @media screen and (min-width: 768px) {
        .loyalty-order__row--wholesale .loyalty-order__row-item .loyalty-order__row-item-data {
          font-size: 20px; } }
  .loyalty-order__row--size {
    margin-right: 60px; }
    @media screen and (min-width: 480px) {
      .loyalty-order__row--size {
        margin-right: 15px; } }
    @media screen and (min-width: 768px) {
      .loyalty-order__row--size {
        margin-right: 25px; } }
  @media screen and (max-width: 767px) {
    .loyalty-order__row--fwmb {
      margin-right: 0;
      width: 100%; } }
  @media screen and (max-width: 767px) {
    .loyalty-order__row--fwmb .loyalty-order__row-item {
      width: 100%; } }
  @media screen and (max-width: 767px) {
    .loyalty-order__row--fwmb .product-bag__wrap {
      width: 100%; } }

.loyalty-order__row-item-data-wicon {
  padding-right: 5px; }
  .loyalty-order__row-item-data-wicon--bold {
    font-weight: 700; }

.loyalty-order__row-item-data--w-icon {
  display: flex; }
  .loyalty-order__row-item-data--w-icon .icon--help-circle {
    margin-top: -6px;
    margin-left: -5px; }
    @media screen and (min-width: 768px) {
      .loyalty-order__row-item-data--w-icon .icon--help-circle {
        margin-top: -2px; } }

.loyalty-order__row-group {
  margin: 0 0 10px 0;
  display: flex;
  flex-wrap: wrap; }
  @media screen and (min-width: 480px) {
    .loyalty-order__row-group {
      justify-content: center; } }
  @media screen and (min-width: 768px) {
    .loyalty-order__row-group {
      margin: 0 0 20px 0;
      display: block;
      flex-wrap: nowrap; } }
  .loyalty-order__row-group--costs {
    flex-wrap: wrap; }
    .loyalty-order__row-group--costs > * {
      width: 100%; }
    .loyalty-order__row-group--costs .loyalty-order__row-item {
      line-height: 1.35; }
    @media screen and (min-width: 768px) {
      .loyalty-order__row-group--costs {
        flex-wrap: nowrap; } }
  .loyalty-order__row-group--mobile {
    display: block; }
    @media screen and (min-width: 768px) {
      .loyalty-order__row-group--mobile {
        display: none; } }

.loyalty-order__row-item {
  display: flex;
  line-height: 1.5; }
  .loyalty-order__row-item--qty .product-bag__qty-label {
    padding-right: 30px; }

.loyalty-order__qty-label {
  padding-right: 60px; }

.loyalty-order__row-item-label {
  font-weight: 500;
  padding-right: 10px;
  font-size: 16px;
  line-height: 24px; }
  .loyalty-order__row-item-label--mw {
    min-width: 120px; }
  .loyalty-order__row-item-label--bold {
    font-weight: 700; }

.loyalty-order__row-item-data {
  position: relative;
  font-size: 16px;
  line-height: 24px; }
  .loyalty-order__row-item-data--line-through {
    text-decoration: line-through;
    font-weight: 500; }
  .loyalty-order__row-item-data--bold {
    font-weight: 700; }

.loyalty-order__row-ctas {
  display: flex;
  flex-wrap: wrap;
  position: relative; }
  @media screen and (min-width: 768px) {
    .loyalty-order__row-ctas {
      flex-wrap: nowrap;
      margin-top: 5px; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .loyalty-order__row-ctas .loyalty-order__item-cta {
      margin-right: 10px; } }

.loyalty-order__item-icons {
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
  margin-top: 10px; }
  @media screen and (min-width: 768px) {
    .loyalty-order__item-icons {
      margin-left: 20px;
      margin-top: 15px; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .loyalty-order__item-icons {
      margin-left: 0; } }
  .loyalty-order__item-icons--mobile {
    margin-left: auto;
    margin-top: 15px; }
    @media screen and (min-width: 768px) {
      .loyalty-order__item-icons--mobile {
        display: none; } }
  .loyalty-order__item-icons--desktop {
    display: none; }
    @media screen and (min-width: 768px) {
      .loyalty-order__item-icons--desktop {
        display: flex; } }

.loyalty-order__item-cta {
  width: 100%;
  text-align: center;
  margin-bottom: 15px; }
  @media screen and (min-width: 768px) {
    .loyalty-order__item-cta {
      width: auto;
      text-align: left;
      margin-top: 5px;
      margin-bottom: 0; } }
  .loyalty-order__item-cta a.ui.button {
    font-size: 16px;
    color: #354657 !important;
    width: 100% !important; }
    @media screen and (min-width: 480px) {
      .loyalty-order__item-cta a.ui.button {
        max-width: 240px; } }
    @media screen and (min-width: 768px) {
      .loyalty-order__item-cta a.ui.button {
        max-width: 100%; } }
    .loyalty-order__item-cta a.ui.button.primary {
      color: #FFFFFF !important; }
  .loyalty-order__item-cta .product__add-bag {
    color: #FFFFFF;
    margin-top: 0; }
    @media (min-width: 768px) and (max-width: 1024px) {
      .loyalty-order__item-cta .product__add-bag {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px; } }
    @media screen and (min-width: 1024px) {
      .loyalty-order__item-cta .product__add-bag {
        margin-top: 15px; } }
    @media screen and (max-width: 767px) {
      .loyalty-order__item-cta .product__add-bag--brand-mob {
        color: #A25EB5 !important; } }

.loyalty-order__item-icon-link {
  text-decoration: none !important;
  line-height: 0; }
  @media (min-width: 1025px) {
    .loyalty-order__item-icon-link {
      margin-right: 10px; } }

@media screen and (min-width: 480px) {
  .loyalty-order__row--retail .loyalty-order__row-item .loyalty-order__row-item-label {
    min-width: 88px; } }

@media screen and (min-width: 768px) {
  .loyalty-order__row--retail .loyalty-order__row-item .loyalty-order__row-item-label {
    min-width: 120px;
    text-align: left; } }

@media screen and (min-width: 1024px) {
  .product-pack .loyalty-order {
    padding-left: 100px; } }

.product-pack .loyalty-order .loyalty-order__row.loyalty-order__row--retail .loyalty-order__row-item .loyalty-order__row-item-label {
  font-weight: 700; }

.product-pack .loyalty-order .loyalty-order__row.loyalty-order__row--retail .loyalty-order__row-item .loyalty-order__row-item-data {
  font-weight: 700; }

.product-pack .loyalty-order .loyalty-order__row.loyalty-order__row--wholesale .loyalty-order__row-item .loyalty-order__row-item-label {
  font-weight: 500; }

.product-pack .loyalty-order .loyalty-order__row.loyalty-order__row--wholesale .loyalty-order__row-item .loyalty-order__row-item-data {
  font-weight: 500; }

.pop-up {
  position: absolute;
  min-height: 200px; }
  .pop-up.bottom.left {
    left: 0;
    bottom: 0; }
  .pop-up.visible {
    display: block;
    visibility: visible; }
