.lrp-product-carousel {
  margin-top: 0; }
  .lrp-product-carousel__content {
    padding-top: 0;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px; }
    @media screen and (min-width: 768px) {
      .lrp-product-carousel__content {
        padding-left: 70px;
        padding-right: 70px; } }
    @media screen and (min-width: 1024px) {
      .lrp-product-carousel__content {
        padding-left: 110px;
        padding-right: 110px; } }
  .lrp-product-carousel__heading {
    text-align: center;
    max-width: 875px;
    margin: 0 auto 20px;
    font-size: 20px;
    line-height: 28px; }
    @media screen and (min-width: 768px) {
      .lrp-product-carousel__heading {
        font-size: 24px;
        line-height: 32px;
        margin: 0 auto 30px; } }
  .lrp-product-carousel .owl-nav {
    display: none !important;
    margin-left: 0;
    margin-right: 0; }
    @media screen and (min-width: 768px) {
      .lrp-product-carousel .owl-nav {
        display: block !important; } }
  .lrp-product-carousel .owl-next,
  .lrp-product-carousel .owl-prev {
    height: 50px !important;
    width: 50px !important; }
    .lrp-product-carousel .owl-next img,
    .lrp-product-carousel .owl-prev img {
      height: 100%;
      width: 100%; }
