.lrp-add-products {
  display: none; }
  .lrp-add-products__actions {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 20px;
    justify-content: space-between; }
    @media screen and (min-width: 768px) {
      .lrp-add-products__actions {
        flex-direction: row; } }
  .lrp-add-products__back, .lrp-add-products__switch, .lrp-add-products__cancel {
    background: transparent;
    padding: 0;
    border: none;
    outline: 0;
    cursor: pointer; }
  .lrp-add-products__back {
    display: flex;
    align-items: center;
    text-align: left;
    font-weight: 800;
    font-family: "rawline", sans-serif;
    color: #354657; }
    .lrp-add-products__back [class*="icon--"] {
      margin-right: 20px; }
  .lrp-add-products__secondary {
    display: flex;
    align-items: center; }
  .lrp-add-products__switch {
    display: none;
    margin: 0 10px;
    font-size: 1rem;
    color: #BD8BCA;
    font-weight: 700;
    text-decoration: underline;
    text-align: right; }
  .lrp-add-products__cancel {
    opacity: 0.5; }
  .lrp-add-products__search .search__form {
    border: none;
    padding-bottom: 10px; }
  .lrp-add-products__or {
    margin: 5px 0 10px;
    font-size: 20px;
    font-style: italic;
    margin-left: -35px;
    margin-right: -35px;
    width: calc(100% + 70px);
    overflow: hidden; }
    @media screen and (min-width: 768px) {
      .lrp-add-products__or {
        margin: 25px 0;
        width: 100%;
        font-size: 28px; } }
  .lrp-add-products__browse {
    margin: -10px 0 30px; }
  .lrp-add-products__products {
    padding-top: 40px;
    display: none; }
  .lrp-add-products__search-section {
    display: none;
    margin-top: 0; }
  .lrp-add-products .search-results {
    padding-top: 20px; }
