.mobile-menu {
  display: none;
  flex-direction: column;
  height: 100%;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1); }
  .mobile-menu__header {
    padding: 20px;
    font-weight: 800;
    font-size: 20px;
    border-bottom: 1px solid #D1D1D1;
    display: flex;
    align-items: flex-start; }
    .mobile-menu__header .nav-dropdown__language {
      flex-grow: 1;
      flex-shrink: 0;
      display: flex;
      justify-content: flex-end;
      margin-left: 5px;
      margin-top: 5px; }
    .mobile-menu__header--back .push-nav__link.push-nav__link--back-btn {
      padding: 0; }
  .mobile-menu__body {
    position: relative;
    display: flex;
    height: calc(100% - 75px); }
    .mobile-menu__body .push-nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    @media screen and (min-width: 1024px) {
      .mobile-menu__body--wpd-lr {
        padding-left: 30px;
        padding-right: 30px; } }
  .mobile-menu__body-lang {
    width: 100%;
    border-top: 1px solid #D1D1D1;
    text-align: center; }
    .mobile-menu__body-lang a.nav-dropdown__item-link {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 17px;
      font-size: 20px;
      font-weight: 500;
      padding-left: 12px; }
      .mobile-menu__body-lang a.nav-dropdown__item-link .icon {
        margin-right: 4px; }
  .mobile-menu__footer {
    height: 20%;
    padding: 20px 30px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center; }
  .mobile-menu__main {
    transition: all ease-in-out 0.3s;
    position: relative;
    width: 100%; }
    .mobile-menu__main--active {
      transform: translate(-100%, 0); }
  .mobile-menu__langs {
    transition: all ease-in-out 0.3s;
    position: absolute;
    width: 100%;
    transform: translate(100%, 0);
    height: calc(100% - 160px); }
    .mobile-menu__langs--active {
      transform: translate(0%, 0); }
    .mobile-menu__langs .nav-dropdown__lang-menu,
    .mobile-menu__langs .nav-dropdown__body {
      height: 100%; }
    .mobile-menu__langs .nav-dropdown__list--language-mobile {
      display: flex;
      flex-direction: column;
      margin-top: 0;
      height: 100%; }
    .mobile-menu__langs .nav-dropdown__list--language .nav-dropdown__item--footer {
      margin-top: auto; }
    .mobile-menu__langs .push-nav__link.push-nav__link--back-btn {
      font-weight: 700; }
    .mobile-menu__langs .nav-dropdown__item-link {
      font-size: 20px;
      font-weight: 600; }
  .mobile-menu__language {
    font-size: 14px;
    font-weight: 600; }
  .mobile-menu__close {
    padding-left: 30px; }

.mobile-menu__item.has-child-menu > .mobile-menu__item-link {
  background: url("/images/icons/arrow-right.svg") right center no-repeat transparent; }

ul.mobile-menu__list ul.mobile-menu__list .mobile-menu__item {
  padding-left: 45px; }

.help-dropdown-active .mobile-menu--help {
  display: flex; }

.account-dropdown-active .mobile-menu--account-logged-out {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; }
  @media screen and (min-width: 1024px) {
    .account-dropdown-active .mobile-menu--account-logged-out {
      display: none; } }
  .account-dropdown-active .mobile-menu--account-logged-out .mobile-menu__header {
    border-bottom: none; }
  .account-dropdown-active .mobile-menu--account-logged-out .mobile-menu__body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    text-align: center; }
    @media screen and (min-width: 480px) {
      .account-dropdown-active .mobile-menu--account-logged-out .mobile-menu__body .ui.button + .ui.button {
        margin-left: 0; } }

body.logged-in .account-dropdown-active .mobile-menu--account-logged-in {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  height: 100%;
  overflow: hidden; }
  @media screen and (min-width: 1024px) {
    body.logged-in .account-dropdown-active .mobile-menu--account-logged-in {
      display: none; } }

body.logged-in .account-dropdown-active .mobile-menu--account-logged-out {
  display: none; }

body.logged-in .account-dropdown-active .mobile-menu__header {
  font-weight: 700; }

body.logged-out .mobile-menu--nav-logged-in {
  display: none; }

body.logged-in .mobile-menu--nav-logged-in {
  display: block; }

body.logged-out .mobile-menu--nav-logged-in {
  display: none; }

body.logged-in .mobile-menu--nav-logged-out {
  display: none; }

@media screen and (min-width: 1024px) {
  #offcanvas-menu.account-dropdown-active .mobile-menu--account-logged-out,
  #offcanvas-menu.account-dropdown-active .mobile-menu--account-logged-in {
    display: block; } }

#offcanvas-menu.nav-dropdown-active .mobile-menu--nav {
  display: block;
  overflow: hidden;
  height: calc(100vh - 82px); }

#offcanvas-menu.cart-dropdown-active .mobile-menu--cart {
  display: block; }
  @media screen and (min-width: 1024px) {
    #offcanvas-menu.cart-dropdown-active .mobile-menu--cart {
      overflow-y: scroll;
      overflow-x: hidden; } }

.mobile-menu--account .push-nav__list--top > .push-nav__item > .push-nav__link {
  justify-content: space-between; }
