.nav {
  display: flex;
  flex: 1 0 auto;
  -ms-flex: 1 0 0%;
  align-self: stretch;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none; }
  .nav__item {
    display: flex;
    flex: 1 0 0%;
    align-content: center;
    height: 100%; }
    .nav__item--content {
      align-items: center;
      flex: auto;
      padding: 0 30px; }
    body.search-active .nav__item {
      cursor: default; }
    @media screen and (min-width: 1024px) {
      body:not(.search-active) .nav__item:hover > a:after {
        content: " ";
        width: 100%;
        height: 1px;
        border-bottom: 2px solid #BD8BCA;
        display: block;
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        margin: auto; } }
    body:not(.search-active) .nav__item:hover .menu-dropdown {
      max-height: calc(100vh - 77px);
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
      overflow-y: auto; }
      @media screen and (min-width: 768px) {
        body:not(.search-active) .nav__item:hover .menu-dropdown {
          overflow-y: hidden; } }
      body:not(.search-active) .nav__item:hover .menu-dropdown .menu-dropdown__body {
        opacity: 1; }
  .nav__link {
    position: relative;
    display: flex;
    flex: 1 0 0%;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    margin: 0 5px;
    color: #354657;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 600;
    padding: 16px 0; }
    @media screen and (min-width: 480px) {
      .nav__link {
        padding: 16px 0; } }
    @media screen and (min-width: 768px) {
      .nav__link {
        padding: 6px 5px; } }
    @media screen and (min-width: 1024px) {
      .nav__link {
        margin: 0 5px; } }
    @media screen and (min-width: 1440px) {
      .nav__link {
        margin: 0 10px;
        padding-right: 8px;
        padding-left: 8px; } }
    body.search-active .nav__link {
      cursor: default; }
      body.search-active .nav__link .nav__link--icon {
        border-bottom: 2px solid purple; }
  .nav__link--icon {
    font-size: 10px;
    color: #84909B;
    padding-left: 0;
    padding-right: 0; }
    .nav__link--icon .icon {
      margin-bottom: 3px; }

.nav--horizontal {
  padding: 0;
  margin: 10px 0;
  list-style: none; }
  @media screen and (min-width: 1024px) {
    .nav--horizontal {
      margin: 0;
      display: flex; } }
  .nav--horizontal li {
    margin: 0 0 3px;
    border-right: 1px solid #7893ad;
    padding: 0 10px;
    line-height: 14px;
    margin: 0; }
    .nav--horizontal li:last-of-type {
      border: none; }
  .nav--horizontal a {
    color: #354657;
    text-decoration: none; }
    .nav--horizontal a:hover, .nav--horizontal a:active, .nav--horizontal a:focus {
      color: #BD8BCA; }

.nav-dropdown {
  background: rgba(255, 255, 255, 0.95);
  position: absolute;
  top: 97px;
  right: -24px;
  z-index: 90;
  min-width: 275px;
  border-radius: 0 0 4px 4px;
  transition: 0s 0.2s;
  /* delay of 1 seconds on hover off */
  max-height: 0;
  overflow: hidden; }
  @media screen and (min-width: 1024px) {
    .nav-dropdown {
      max-width: 350px; } }
  .nav-dropdown__arrow {
    position: absolute;
    top: -8px;
    right: 40px;
    display: none; }
    @media screen and (min-width: 1024px) {
      .nav-dropdown__arrow {
        display: block; } }
  .nav-dropdown__head {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #D1D1D1; }
  .nav-dropdown__title {
    font-size: 20px;
    font-weight: 700; }
  .nav-dropdown__language {
    margin-left: auto;
    font-size: 15px;
    line-height: 32px;
    display: flex;
    align-items: center; }
  .nav-dropdown__language-link {
    text-decoration: none;
    color: #354657;
    font-weight: 600;
    font-size: 16px;
    background-color: transparent;
    border-radius: 5px;
    height: 24px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center; }
    .nav-dropdown__language-link:hover, .nav-dropdown__language-link:focus, .nav-dropdown__language-link:active {
      color: #354657; }
    @media screen and (min-width: 768px) {
      .nav-dropdown__language-link {
        font-size: 14px; } }
    .nav-dropdown__language-link--active {
      background-color: #EEEEEE; }
      .nav-dropdown__language-link--active:hover, .nav-dropdown__language-link--active:focus, .nav-dropdown__language-link--active:active {
        color: #A25EB5; }
    .nav-dropdown__language-link [class*="icon--"] {
      margin-left: 4px; }
  .nav-dropdown__body--wpd {
    padding: 20px; }
  .nav-dropdown__list {
    padding: 0; }
    .nav-dropdown__list--language {
      padding-top: 20px;
      display: none; }
      @media screen and (min-width: 1024px) {
        .nav-dropdown__list--language {
          opacity: 0; } }
      .nav-dropdown__list--language.nav-dropdown__list--language-active {
        display: flex;
        min-height: 346px;
        flex-direction: column;
        animation: fadeIn 0.3s linear;
        animation-fill-mode: forwards !important; }
      .nav-dropdown__list--language .nav-dropdown__item-link {
        font-weight: 700; }
        .nav-dropdown__list--language .nav-dropdown__item-link [class*="icon--"] {
          position: relative;
          left: 3px; }
      .nav-dropdown__list--language .nav-dropdown__item {
        padding-left: 30px; }
        .nav-dropdown__list--language .nav-dropdown__item--main {
          padding-left: 10px; }
        .nav-dropdown__list--language .nav-dropdown__item--footer {
          padding-left: 0;
          margin-top: auto; }
          .nav-dropdown__list--language .nav-dropdown__item--footer .nav-dropdown__item-link {
            color: #354657; }
        .nav-dropdown__list--language .nav-dropdown__item--active .nav-dropdown__item-link {
          color: #A25EB5; }
        .nav-dropdown__list--language .nav-dropdown__item--active [class*="icon--"] {
          display: block; }
  .nav-dropdown__item {
    list-style: none; }
    .nav-dropdown__item--footer {
      border-top: 1px solid #D1D1D1;
      text-align: center; }
      .nav-dropdown__item--footer a.nav-dropdown__item-link {
        padding: 10px;
        font-weight: 600;
        color: #A25EB5;
        justify-content: center; }
  .nav-dropdown__item-link {
    text-decoration: none;
    padding: 5px 10px;
    color: #354657;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center; }
    .nav-dropdown__item-link .icon {
      margin-right: 7px; }
  .nav-dropdown__footer {
    border-top: 1px solid #EEEEEE;
    padding: 20px; }
    .nav-dropdown__footer a:not(.button) {
      display: block;
      text-align: center;
      font-weight: 700;
      color: #354657;
      text-decoration: none; }
  .nav-dropdown__welcome {
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 20px;
    text-align: center;
    color: #354657; }
  .nav-dropdown--help {
    right: -26px; }
  .nav-dropdown--account {
    right: -18px; }
    .nav-dropdown--account .nav-dropdown__head {
      align-items: flex-start; }
    .nav-dropdown--account .nav-dropdown__title {
      max-width: 200px;
      line-height: 28px; }
    .nav-dropdown--account .nav-dropdown__language {
      padding-top: 2px; }
  .nav-dropdown__link {
    text-align: center;
    margin-bottom: 10px; }
  @media screen and (min-width: 1024px) {
    .nav__item:hover .nav-dropdown {
      max-height: 100vh;
      transition: all 0.3s;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
      transition-delay: 0.4s; } }

#site-wrapper {
  position: relative;
  width: 100%;
  height: 100%; }
  #site-wrapper.show-nav {
    position: static; }

body.overflow-lock {
  overflow-y: hidden; }

#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

body.no-hero #site-canvas {
  padding-top: 79px; }
  @media screen and (min-width: 1024px) {
    body.no-hero #site-canvas {
      padding-top: 97px; } }

.show-nav #site-canvas {
  overflow: hidden; }
  .show-nav #site-canvas .region-bar {
    display: none; }
  @media screen and (min-width: 480px) {
    .show-nav #site-canvas {
      right: -300px; } }
  @media screen and (min-width: 1024px) {
    .show-nav #site-canvas {
      right: 0; } }
  @media only screen and (max-width: 960px) and (orientation: landscape) {
    .show-nav #site-canvas {
      right: -300px; } }

#offcanvas-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 82px;
  left: -100%;
  background: white;
  border-top: 2px solid #EEEEEE;
  padding: 0 0 80px;
  -webkit-transition: 300ms ease-in-out all;
  transition: 300ms ease-in-out all;
  z-index: 500; }
  @media screen and (min-width: 480px) {
    #offcanvas-menu {
      width: 100%;
      left: -100%; } }
  @media (min-width: 680px) {
    #offcanvas-menu {
      width: 50%;
      left: -50%; } }
  #offcanvas-menu.w-region-notice {
    padding-top: 140px; }

#offcanvas-menu.offcanvas-menu-right {
  left: auto;
  right: -100%; }

.show-nav #offcanvas-menu {
  left: 0; }
  @media screen and (min-width: 1024px) {
    .show-nav #offcanvas-menu {
      display: none; } }

.show-nav #offcanvas-menu.offcanvas-menu-right {
  right: 0;
  left: auto; }
  @media screen and (min-width: 1024px) {
    .show-nav #offcanvas-menu.offcanvas-menu-right {
      display: none; } }

.header__toolbar .nav__item .nav__bag,
.header__toolbar .nav__item .nav__account,
.header__toolbar .nav__item .nav__help {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background-size: cover;
  margin-bottom: 0; }

.header__toolbar .nav__item .nav__bag {
  background-image: url("/images/icons/bag.svg"); }
  .header__toolbar .nav__item .nav__bag:hover, .header__toolbar .nav__item .nav__bag:focus {
    background-image: url("/images/icons/bag-fill-brand.svg"); }
  .header__toolbar .nav__item .nav__bag .js-bag-items-number {
    position: absolute;
    border-radius: 50%;
    color: #354657;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    width: 20px;
    height: 20px;
    top: 0;
    left: -1px;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 14px;
    height: 14px;
    font-size: 11px; }
    @media screen and (min-width: 480px) {
      .header__toolbar .nav__item .nav__bag .js-bag-items-number {
        top: 1px;
        left: 0; } }

.header__toolbar .nav__item .nav__help {
  background-image: url("/images/icons/help-circle.svg"); }
  .header__toolbar .nav__item .nav__help:hover, .header__toolbar .nav__item .nav__help:focus {
    background-image: url("/images/icons/help-circle-fill-brand.svg"); }

.header__toolbar .nav__item .nav__account {
  background-image: url("/images/icons/my-account.svg"); }
  .header__toolbar .nav__item .nav__account:hover, .header__toolbar .nav__item .nav__account:focus {
    background-image: url("/images/icons/my-account-fill-brand.svg"); }

.header__toolbar .nav__item:hover .nav__link--icon .nav__bag, .header__toolbar .nav__item:focus .nav__link--icon .nav__bag, .header__toolbar .nav__item:active .nav__link--icon .nav__bag {
  background-image: url("/images/icons/bag-fill.svg"); }
  .header__toolbar .nav__item:hover .nav__link--icon .nav__bag .js-bag-items-number, .header__toolbar .nav__item:focus .nav__link--icon .nav__bag .js-bag-items-number, .header__toolbar .nav__item:active .nav__link--icon .nav__bag .js-bag-items-number {
    color: #FFFFFF; }
  .header__toolbar .nav__item:hover .nav__link--icon .nav__bag:hover, .header__toolbar .nav__item:focus .nav__link--icon .nav__bag:hover, .header__toolbar .nav__item:active .nav__link--icon .nav__bag:hover {
    background-image: url("/images/icons/bag-fill.svg"); }
    .header__toolbar .nav__item:hover .nav__link--icon .nav__bag:hover .js-bag-items-number, .header__toolbar .nav__item:focus .nav__link--icon .nav__bag:hover .js-bag-items-number, .header__toolbar .nav__item:active .nav__link--icon .nav__bag:hover .js-bag-items-number {
      color: #FFFFFF; }

.header__toolbar .nav__item:hover .nav__link--icon .nav__account, .header__toolbar .nav__item:focus .nav__link--icon .nav__account, .header__toolbar .nav__item:active .nav__link--icon .nav__account {
  background-image: url("/images/icons/my-account-brand.svg"); }
  .header__toolbar .nav__item:hover .nav__link--icon .nav__account:hover, .header__toolbar .nav__item:focus .nav__link--icon .nav__account:hover, .header__toolbar .nav__item:active .nav__link--icon .nav__account:hover {
    background-image: url("/images/icons/my-account-fill-brand.svg"); }

.header__toolbar .nav__item:hover .nav__link--icon .nav__help, .header__toolbar .nav__item:focus .nav__link--icon .nav__help, .header__toolbar .nav__item:active .nav__link--icon .nav__help {
  background-image: url("/images/icons/help-circle-brand.svg"); }
  .header__toolbar .nav__item:hover .nav__link--icon .nav__help:hover, .header__toolbar .nav__item:focus .nav__link--icon .nav__help:hover, .header__toolbar .nav__item:active .nav__link--icon .nav__help:hover {
    background-image: url("/images/icons/help-circle-fill-brand.svg"); }

#site-wrapper .nav__link--icon {
  border-bottom: 2px solid transparent;
  margin-bottom: -2px; }

#site-wrapper.show-nav .nav__link--icon.js-nav-dropdown {
  border-bottom: 2px solid #A25EB5; }

#site-wrapper.show-help .nav__link--icon.js-nav-dropdown, #site-wrapper.show-nav.show-help .nav__link--icon.js-nav-dropdown {
  border-bottom: 2px solid transparent; }

#site-wrapper.show-help .nav__link--icon.js-help-dropdown, #site-wrapper.show-nav.show-help .nav__link--icon.js-help-dropdown {
  border-bottom: 2px solid #A25EB5; }

#site-wrapper.show-user .nav__link--icon.js-nav-dropdown, #site-wrapper.show-nav.show-user .nav__link--icon.js-nav-dropdown {
  border-bottom: 2px solid transparent; }

#site-wrapper.show-user .nav__link--icon.js-user-dropdown,
#site-wrapper.show-user .nav__link--icon.js-user-dropdown-loggedin, #site-wrapper.show-nav.show-user .nav__link--icon.js-user-dropdown,
#site-wrapper.show-nav.show-user .nav__link--icon.js-user-dropdown-loggedin {
  border-bottom: 2px solid #A25EB5; }

#site-wrapper.show-cart .nav__link--icon.js-nav-dropdown, #site-wrapper.show-nav.show-cart .nav__link--icon.js-nav-dropdown {
  border-bottom: 2px solid transparent; }

#site-wrapper.show-cart .nav__link--icon.js-cart-dropdown, #site-wrapper.show-nav.show-cart .nav__link--icon.js-cart-dropdown {
  border-bottom: 2px solid #A25EB5; }

#site-wrapper.show-search a.nav__link.nav__link--icon[data-js-search-toggle] {
  border-bottom: 2px solid #A25EB5;
  margin-bottom: 0; }
  #site-wrapper.show-search a.nav__link.nav__link--icon[data-js-search-toggle] [class*="icon--"] {
    margin-top: 2px; }
