.no-avatar__icon {
  position: relative;
  width: 180px;
  height: 180px;
  font-size: 90px;
  z-index: 1; }
  .no-avatar__icon::after {
    content: "";
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: block;
    background-color: #F5EEF7;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: -1;
    border-radius: 100%; }

.no-avatar--mini .no-avatar__icon {
  width: 40px;
  height: 40px;
  font-size: 20px; }
  .no-avatar--mini .no-avatar__icon::after {
    content: "";
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    top: 3px;
    left: 3px; }
