.order-details {
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: inset 0 0 0 2px #EEEEEE;
  margin-bottom: 10px;
  letter-spacing: normal; }
  @media screen and (min-width: 768px) {
    .order-details {
      margin-bottom: 20px; } }
  .order-details.is-open {
    box-shadow: 0 2px 15px rgba(51, 51, 51, 0.2); }
    .order-details.is-open .order-details__toggle {
      transform: rotate(180deg); }
  .order-details:not(.is-open)[data-valid="false"] > .order-details__header {
    opacity: 0.4; }
  .order-details[data-valid] > .order-details__header {
    cursor: pointer; }
  .order-details__header {
    display: flex;
    align-items: center;
    padding: 12px 40px 12px 10px !important;
    position: relative; }
    @media screen and (min-width: 768px) {
      .order-details__header {
        padding: 25px 55px 25px 30px !important;
        min-height: 105px; } }
    .order-details__header .order-details__header-content {
      flex: 1;
      max-width: calc(100% - 55px); }
      @media screen and (min-width: 768px) {
        .order-details__header .order-details__header-content {
          max-width: calc(100% - 75px); } }
    .order-details__header--alert {
      padding-bottom: 75px !important;
      position: relative; }
    @media screen and (max-width: 767px) {
      .order-details__header--has-field {
        padding-right: 10px !important; } }
    .order-details__header--has-field .order-details__inner {
      width: 100%;
      display: flex;
      flex-direction: column; }
      @media screen and (min-width: 768px) {
        .order-details__header--has-field .order-details__inner {
          flex-direction: row;
          margin-top: -13px;
          margin-bottom: -13px; } }
    .order-details__header--has-field .order-details__header-content {
      align-items: center;
      display: flex;
      padding-right: 40px; }
      @media screen and (min-width: 768px) {
        .order-details__header--has-field .order-details__header-content {
          padding-right: 0; } }
    .order-details__header--has-field .order-details__header-inner {
      display: flex;
      align-items: center;
      flex-direction: column; }
      @media screen and (min-width: 768px) {
        .order-details__header--has-field .order-details__header-inner {
          flex-direction: row; } }
    .order-details__header--has-field .order-details__field {
      border: 2px solid #5597E2;
      background-color: #F4F8FD;
      border-radius: 5px;
      display: inline-flex;
      padding: 14px 15px;
      margin-top: 15px;
      justify-content: center;
      align-items: center; }
      @media screen and (min-width: 768px) {
        .order-details__header--has-field .order-details__field {
          margin-top: 0;
          margin-right: 30px; } }
      .order-details__header--has-field .order-details__field .field {
        width: 100%; }
  .order-details__actions {
    margin-left: auto;
    justify-content: flex-end;
    flex-direction: column;
    padding-left: 10px;
    display: none; }
    @media screen and (min-width: 768px) {
      .order-details__actions {
        display: flex; } }
    @media screen and (min-width: 1024px) {
      .order-details__actions {
        flex-direction: row; } }
    .order-details__actions--mobile {
      display: flex;
      flex-direction: row; }
      .order-details__actions--mobile .order-details__button {
        margin: 5px 0 5px 20px; }
      @media screen and (min-width: 768px) {
        .order-details__actions--mobile {
          display: none; }
          .order-details__actions--mobile .order-details__button {
            margin: 5px 0; } }
  .order-details__button {
    display: flex;
    align-items: center;
    color: #354657;
    color: #84909B;
    text-decoration: underline;
    margin: 5px 0;
    font-size: 14px;
    text-align: left;
    text-decoration: none; }
    .order-details__button [class*="icon--"] {
      margin: 0; }
      @media screen and (min-width: 768px) {
        .order-details__button [class*="icon--"] {
          margin-right: 15px; } }
    .order-details__button:hover, .order-details__button:focus {
      color: #354657;
      text-decoration: underline; }
    @media screen and (min-width: 1024px) {
      .order-details__button {
        margin: 0 0 0 25px;
        min-width: 0; } }
    .order-details__button--reverse [class*="icon--"] {
      margin-right: 0;
      margin-left: 10px;
      order: 2; }
    .order-details__button--reverse span {
      order: 1; }
  .order-details__alert {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 5px 5px;
    min-height: 60px; }
  .order-details__icon {
    margin-right: 15px; }
    @media screen and (max-width: 767px) {
      .order-details__icon {
        margin-right: 10px;
        font-size: 22px; } }
  .order-details__toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    transition: all 100ms ease;
    padding: 0 !important; }
    @media screen and (min-width: 768px) {
      .order-details__toggle {
        top: 40px;
        right: 25px; } }
  .order-details__title {
    color: #0067DC;
    font-weight: 700;
    margin: 0; }
  .order-details__current {
    font-weight: 700;
    margin: 0;
    font-size: 12px; }
    @media screen and (min-width: 768px) {
      .order-details__current {
        font-size: 14px; } }
    .order-details__current > span {
      font-weight: 500; }
    .order-details__current-note {
      font-style: italic;
      color: #BD8BCA;
      font-weight: 500; }
  .order-details__current-ctn {
    font-style: italic;
    font-weight: 500;
    font-size: 12px; }
    @media screen and (min-width: 768px) {
      .order-details__current-ctn {
        font-size: 14px; } }
  .order-details__content {
    margin: 0 15px 15px;
    border-top: 2px solid #EEEEEE; }
    @media screen and (min-width: 768px) {
      .order-details__content {
        padding: 15px 20px 0 !important;
        margin: 0 0 30px; } }
  .order-details__products {
    list-style: none outside none;
    margin: 0;
    padding: 0; }
    .order-details__products:not(.order-details__products--grid) .product-bag--data {
      display: none; }
    .order-details__products--grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-right: 0; }
      .order-details__products--grid .product-bag__count {
        display: block; }
      .order-details__products--grid .product-bag__footer {
        display: none; }
  @media screen and (max-width: 767px) {
    .order-details__scroller:not(.disabled) {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      margin-top: 0;
      margin-bottom: 0; } }
  @media screen and (max-width: 767px) {
    .order-details__pagination {
      display: none !important; } }
  @media screen and (min-width: 768px) {
    .order-details__pagination {
      margin: 50px 0 40px; } }
  .order-details__foot {
    text-align: center; }
    .order-details__foot .ui.button {
      margin: 30px 0 60px; }
  .order-details__edit {
    display: none;
    padding: 10px 0;
    border-top: 2px solid #EEEEEE;
    text-decoration: none; }
    @media screen and (min-width: 768px) {
      .order-details__edit {
        padding: 15px 0 10px; } }
    .order-details__edit a {
      text-decoration: none;
      font-size: 14px; }
      @media screen and (min-width: 768px) {
        .order-details__edit a {
          font-size: 16px; } }
  .order-details__cta {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    padding: 20px 10px; }
    @media screen and (min-width: 768px) {
      .order-details__cta {
        padding: 30px;
        display: block; } }
    .order-details__cta a {
      display: flex;
      align-items: center;
      text-decoration: none; }
      @media screen and (min-width: 768px) {
        .order-details__cta a {
          display: block; } }
      .order-details__cta a:hover {
        text-decoration: underline; }
  .order-details__note {
    color: #84909B;
    margin-top: -30px;
    display: block;
    padding-bottom: 20px; }
  .order-details__default {
    color: #9D57B2;
    font-style: italic;
    font-size: 14px;
    margin-left: 30px !important; }
    .order-details__default::before {
      content: "- "; }
  .order-details__more {
    background: transparent;
    border: 0;
    font-size: 1rem;
    color: #0067DC;
    text-decoration: underline;
    cursor: pointer;
    padding: 0; }
    .order-details__more:hover, .order-details__more:focus {
      text-decoration: none; }
  .order-details__add {
    width: 100%;
    border: 1px solid #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    background: transparent;
    color: #354657;
    outline: none;
    cursor: pointer; }
    .order-details__add [class*="icon--"] {
      margin-right: 15px; }
    .order-details__add:hover, .order-details__add:focus {
      text-decoration: underline; }
    @media screen and (min-width: 768px) {
      .order-details__add {
        font-weight: 500;
        width: auto;
        margin: 10px 0 0;
        border: none; } }
  .order-details__address--new {
    display: none; }
  @media screen and (min-width: 768px) {
    .order-details--bag {
      padding-bottom: 10px; } }
  .order-details--bag .order-details__header {
    cursor: pointer; }
  @media screen and (max-width: 767px) {
    .order-details--bag .order-details__content {
      border-top: none;
      margin: 10px 0 0 0; } }
  @media screen and (min-width: 768px) {
    .order-details--bag .order-details__content {
      margin-bottom: 0; } }
  .order-details--delivery-address .order-details__current {
    font-weight: 500; }
    @media screen and (max-width: 767px) {
      .order-details--delivery-address .order-details__current {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
        .order-details--delivery-address .order-details__current-note {
          display: none; } }
  .order-details--payment .order-details__current {
    display: flex;
    align-items: center;
    font-weight: 500; }
    .order-details--payment .order-details__current dl {
      margin: 0;
      display: flex;
      flex-wrap: wrap; }
      .order-details--payment .order-details__current dl dt {
        margin-left: 5px; }
      .order-details--payment .order-details__current dl dd {
        margin-left: 10px; }
  .order-details--payment .order-details__content {
    padding-top: 15px !important; }
    @media screen and (min-width: 768px) {
      .order-details--payment .order-details__content {
        padding-top: 25px !important; } }
  .order-details--notifications p,
  .order-details--notifications .ui.form input {
    font-size: 14px; }
  @media screen and (min-width: 768px) {
    .order-details--notifications p {
      margin: 20px 0; }
    .order-details--notifications p,
    .order-details--notifications .ui.form input {
      font-size: 16px; } }
  .order-details--loyalty .order-details__header {
    padding: 12px 15px 12px 10px !important;
    min-height: 0; }
    @media screen and (min-width: 768px) {
      .order-details--loyalty .order-details__header {
        padding: 25px 30px !important; } }
  .order-details--loyalty .order-details__products {
    padding-right: 0; }
  .order-details--compact {
    margin-top: 20px;
    padding: 25px 20px; }
    @media screen and (min-width: 768px) {
      .order-details--compact {
        padding: 25px; } }
    .order-details--compact .order-details__header {
      padding: 0 !important;
      justify-content: space-between;
      margin-bottom: 15px;
      align-items: flex-start;
      min-height: 0; }
      .order-details--compact .order-details__header .order-details__heading {
        margin: 0; }
        @media screen and (min-width: 768px) {
          .order-details--compact .order-details__header .order-details__heading {
            padding-right: 15px; } }
    .order-details--compact .order-details__action {
      text-decoration: underline;
      font-weight: 500;
      font-size: 12px; }
      @media screen and (min-width: 768px) {
        .order-details--compact .order-details__action {
          font-size: 16px; } }
      .order-details--compact .order-details__action:hover, .order-details--compact .order-details__action:focus {
        text-decoration: none; }
    .order-details--compact .order-details__list {
      margin: 0;
      font-size: 14px; }
    .order-details--compact .order-details__title {
      font-size: 14px;
      position: relative;
      margin-top: 10px;
      padding-left: 40px; }
      @media screen and (min-width: 768px) {
        .order-details--compact .order-details__title {
          font-size: 16px;
          padding-left: 55px;
          line-height: 1.3; } }
    .order-details--compact .order-details__icon {
      position: absolute;
      top: 0;
      left: 0; }
      @media screen and (max-width: 767px) {
        .order-details--compact .order-details__icon {
          font-size: 16px; } }
    .order-details--compact .order-details__desc {
      margin: 0;
      display: inline-block;
      padding-left: 40px;
      font-size: 12px;
      -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto; }
      @media screen and (min-width: 768px) {
        .order-details--compact .order-details__desc {
          padding-left: 55px;
          font-size: 14px; } }
      @media screen and (max-width: 767px) {
        .order-details--compact .order-details__desc [class*="icon--"] {
          display: none; } }
    .order-details--compact .order-details__inner {
      vertical-align: middle; }
      .order-details--compact .order-details__inner > * {
        display: inline-block;
        vertical-align: middle; }
  .order-details--mobile {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    box-shadow: none;
    margin-bottom: 12px;
    margin-top: 0; }
    .order-details--mobile .order-details__title,
    .order-details--mobile .order-details__desc {
      border-bottom: 1px solid #EEEEEE;
      padding-bottom: 12px;
      margin-top: 12px; }
      .order-details--mobile .order-details__title--faded .order-details__desc-primary,
      .order-details--mobile .order-details__title--faded .order-details__desc-secondary,
      .order-details--mobile .order-details__title--faded .order-details__title-content,
      .order-details--mobile .order-details__desc--faded .order-details__desc-primary,
      .order-details--mobile .order-details__desc--faded .order-details__desc-secondary,
      .order-details--mobile .order-details__desc--faded .order-details__title-content {
        opacity: 0.5; }
    .order-details--mobile .order-details__desc--italic .order-details__desc-primary,
    .order-details--mobile .order-details__desc--italic .order-details__desc-secondary,
    .order-details--mobile .order-details__desc--italic .order-details__title-content {
      font-style: italic; }
    .order-details--mobile .order-details__title {
      width: 120px;
      font-size: 12px; }
    .order-details--mobile .order-details__desc {
      margin-left: 0;
      width: calc(100% - 120px);
      padding-left: 10px;
      color: #84909B; }
      .order-details--mobile .order-details__desc--address {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .order-details--mobile .order-details__desc .order-details__desc-primary {
        color: #354657; }
  @media screen and (max-width: 767px) {
    .order-details--lrp-order {
      box-shadow: none; } }
  @media screen and (min-width: 768px) {
    .order-details--lrp-order {
      padding: 25px; } }
  @media screen and (min-width: 1024px) {
    .order-details--lrp-order {
      padding: 40px; } }
  .order-details--lrp-order .order-details__header {
    display: flex;
    justify-content: space-between;
    padding: 0 5px !important;
    align-items: center;
    min-height: 0; }
  .order-details--lrp-order .order-details__heading {
    margin: 0; }
  .order-details--lrp-order .order-details__action {
    font-weight: 500;
    text-decoration: underline;
    font-size: 12px; }
    @media screen and (min-width: 768px) {
      .order-details--lrp-order .order-details__action {
        font-size: 16px; } }
    .order-details--lrp-order .order-details__action:hover, .order-details--lrp-order .order-details__action:focus {
      text-decoration: none; }
  .order-details--lrp-order .order-details__content {
    border: none;
    padding: 0 !important;
    margin: 0; }
  .order-details--lrp-order .order-details__products {
    padding: 25px 0 0;
    margin-bottom: -10px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px; }
    @media screen and (min-width: 768px) {
      .order-details--lrp-order .order-details__products {
        margin-left: -20px;
        margin-bottom: -20px; } }
  .order-details--lrp-order .order-details__product {
    position: relative;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-bottom: 0;
    width: 100%;
    max-width: calc(25% - 10px);
    flex: 0 0 calc(25% - 10px);
    margin: 0 0 10px 10px;
    max-height: 90px; }
    @media screen and (min-width: 480px) {
      .order-details--lrp-order .order-details__product {
        max-height: 110px; } }
    @media screen and (min-width: 768px) {
      .order-details--lrp-order .order-details__product {
        max-width: calc(25% - 20px);
        flex: 0 0 calc(25% - 20px);
        margin: 0 0 20px 20px;
        max-height: 240px; } }
    @media screen and (min-width: 1024px) {
      .order-details--lrp-order .order-details__product {
        min-height: 240px; } }
    .order-details--lrp-order .order-details__product img {
      transition: all 0.1s;
      max-height: 70px; }
      @media screen and (min-width: 480px) {
        .order-details--lrp-order .order-details__product img {
          max-height: 90px; } }
      @media screen and (min-width: 768px) {
        .order-details--lrp-order .order-details__product img {
          max-height: 180px; } }
  .order-details--lrp-order .order-details__ribbon {
    position: absolute;
    left: 30px;
    top: 0; }
  .order-details--enroll {
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0 10px; }
    @media screen and (min-width: 768px) {
      .order-details--enroll {
        padding: 0 0 10px 20px; } }
    @media screen and (min-width: 1024px) {
      .order-details--enroll {
        padding: 40px 30px 20px 0; } }
  .order-details--inline-compact .order-details__list {
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
    @media screen and (min-width: 768px) {
      .order-details--inline-compact .order-details__list {
        flex-direction: row;
        align-items: center;
        font-size: 14px; } }
  .order-details--inline-compact .order-details__title {
    font-size: 16px;
    position: relative;
    margin: 0;
    display: flex;
    align-items: center;
    padding-left: 50px; }
    @media screen and (max-width: 767px) {
      .order-details--inline-compact .order-details__title {
        padding-left: 40px; } }
    @media screen and (max-width: 767px) {
      .order-details--inline-compact .order-details__title:not(:first-of-type) {
        margin-top: 20px; } }
    @media screen and (min-width: 768px) {
      .order-details--inline-compact .order-details__title {
        width: 35%;
        max-width: 240px;
        margin-right: 5%;
        margin-top: 0;
        padding: 10px 0; }
        .order-details--inline-compact .order-details__title:first-of-type {
          padding-top: 0; } }
  .order-details--inline-compact .order-details__icon {
    margin-right: 10px;
    position: absolute;
    top: 0;
    left: 0; }
    @media screen and (max-width: 767px) {
      .order-details--inline-compact .order-details__icon {
        font-size: unset;
        margin-right: 0; } }
    @media screen and (min-width: 768px) {
      .order-details--inline-compact .order-details__icon {
        position: static; } }
  .order-details--inline-compact .order-details__desc {
    margin-left: 50px;
    font-size: 14px; }
    @media screen and (max-width: 767px) {
      .order-details--inline-compact .order-details__desc {
        margin-left: 40px; } }
    @media screen and (min-width: 768px) {
      .order-details--inline-compact .order-details__desc {
        width: 60%;
        margin: 0;
        font-size: 16px; }
        .order-details--inline-compact .order-details__desc:first-of-type {
          padding-top: 0; } }
  .order-details--inline-compact .order-details__inner {
    vertical-align: middle; }
    .order-details--inline-compact .order-details__inner > * {
      display: inline-block;
      vertical-align: middle; }
  .order-details--your-order {
    border: 0; }
    @media screen and (min-width: 768px) {
      .order-details--your-order {
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.16); } }
    .order-details--your-order .order-details__header {
      border: 0 !important;
      min-height: 0; }
      @media screen and (min-width: 768px) {
        .order-details--your-order .order-details__header {
          padding: 25px 30px !important; } }
    .order-details--your-order .order-details__title {
      color: #354657; }
    .order-details--your-order .order-details__actions {
      display: none; }
      @media screen and (min-width: 768px) {
        .order-details--your-order .order-details__actions {
          display: block; } }
    .order-details--your-order .order-details__button {
      color: #84909B;
      text-decoration: underline; }
      .order-details--your-order .order-details__button [class*="icon--"] {
        margin: 0 0 0 10px; }
    .order-details--your-order .order-details__content {
      border: 0;
      padding: 0 !important; }
    .order-details--your-order .order-details__products .product-bag {
      margin-left: 15px;
      margin-right: 15px; }
    .order-details--your-order .order-details__footer {
      padding-top: 30px;
      display: none;
      padding-left: 25px;
      padding-right: 25px; }
      @media screen and (min-width: 768px) {
        .order-details--your-order .order-details__footer {
          display: block; } }
    .order-details--your-order .order-details__cta {
      font-size: 16px;
      text-decoration: underline;
      padding-top: 20px;
      font-weight: 500; }
  @media screen and (max-width: 767px) {
    .order-details--plain-mob {
      box-shadow: none;
      padding: 0 !important; } }

[data-js-wire-transfer-message] {
  display: none; }
