.pagination {
  display: flex;
  min-height: 50px;
  font-size: 16px;
  position: relative;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 30px;
  margin-top: 15px; }
  @media screen and (min-width: 768px) {
    .pagination {
      flex-wrap: nowrap;
      justify-content: center;
      margin-bottom: 60px; } }
  .pagination__list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: stretch;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.15);
    width: calc(100% - 20px);
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: auto; }
  .pagination__item {
    transition: opacity 0.3s; }
    .pagination__item * {
      transition: opacity 0.3s, color 0.3s; }
    .pagination__item.is-active .pagination__inner {
      color: #A25EB5; }
    .pagination__item.is-disabled {
      opacity: 0.4;
      cursor: not-allowed;
      pointer-events: none; }
      .pagination__item.is-disabled * {
        cursor: not-allowed;
        pointer-events: none;
        color: #354657; }
  .pagination__inner {
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    padding: 15px 7px;
    text-decoration: none;
    color: #354657;
    font-weight: 700; }
    @media screen and (min-width: 480px) {
      .pagination__inner {
        padding: 15px 15px; } }
    .pagination__inner.is-active {
      color: #9D57B2; }
  .pagination__prev .pagination__inner, .pagination__next .pagination__inner {
    font-weight: 500; }
    .pagination__prev .pagination__inner:focus, .pagination__next .pagination__inner:focus {
      color: initial; }
    .pagination__prev .pagination__inner:hover, .pagination__next .pagination__inner:hover {
      color: #9D57B2; }
  .pagination__icon {
    font-size: 12px; }
  .pagination__count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    color: #A25EB5;
    font-style: italic; }
    @media screen and (min-width: 768px) {
      .pagination__count {
        margin-left: 20px;
        justify-content: flex-start; } }
    @media screen and (min-width: 1024px) {
      .pagination__count {
        margin: 10px 0 30px 0;
        position: absolute;
        bottom: 14px;
        right: 20px;
        width: auto; } }
  .pagination__refine {
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 8px rgba(51, 51, 51, 0.3);
    padding-left: 20px;
    padding-right: 10px;
    min-width: 190px;
    margin-top: 15px;
    min-height: 55px;
    margin-bottom: 25px; }
    @media screen and (min-width: 768px) {
      .pagination__refine {
        margin-top: 0;
        margin-left: 20px;
        margin-bottom: 0; } }
  .pagination__refine-dropdown.ui.fluid.dropdown {
    margin-left: 10px;
    border: none;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-right: 20px; }
  .pagination__refine-dropdown-label {
    font-weight: 700;
    color: #354657 !important; }
  .pagination__refine-dropdown-menu {
    border: none !important; }
    .pagination__refine-dropdown-menu > .item {
      white-space: nowrap !important; }
