.payment-type__heading {
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  font-weight: 700;
  margin: 0; }
  @media screen and (min-width: 768px) {
    .payment-type__heading {
      font-size: 16px;
      line-height: 24px; } }
  .payment-type__heading [class*="icon--"] {
    margin-right: 10px; }

.payment-type__notification {
  margin-top: 10px; }

.payment-type__alert {
  margin-bottom: 8px; }

.payment-type--card .payment-type__inner {
  display: flex;
  flex-direction: column; }

.payment-type--card .payment-type__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media screen and (min-width: 768px) {
    .payment-type--card .payment-type__content {
      flex-direction: row; } }

.payment-type--card .payment-type__info {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 22px; }
  @media screen and (min-width: 768px) {
    .payment-type--card .payment-type__info {
      font-size: 16px;
      line-height: 24px; } }

.payment-type--card .payment-type__field {
  max-width: 145px;
  margin-top: 15px; }
  @media screen and (min-width: 768px) {
    .payment-type--card .payment-type__field {
      margin-top: 0; } }
