.product-selection {
  position: relative;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 20px 0 0;
  margin: 15px 0;
  overflow: hidden;
  max-width: 360px; }
  .product-selection__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 5px; }
  .product-selection__ribbon {
    position: absolute;
    top: 0;
    left: 30px; }
  .product-selection__header {
    text-align: center;
    padding-bottom: 5px; }
  .product-selection__remove {
    position: absolute;
    right: 7px;
    top: 5px;
    padding: 0;
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
    opacity: .5; }
  .product-selection__image {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    padding: 20px 20px 0;
    height: 130px;
    position: relative; }
    @media screen and (min-width: 1024px) {
      .product-selection__image {
        height: 160px; } }
    .product-selection__image img {
      max-height: 120px;
      max-width: 120px;
      width: auto !important; }
      @media screen and (min-width: 1024px) {
        .product-selection__image img {
          max-height: 160px; } }
  .product-selection__title {
    margin: 0 0 15px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    text-align: center; }
  .product-selection__size {
    display: block;
    font-size: 0.9rem;
    line-height: 1;
    color: #84909B;
    text-align: center;
    margin-bottom: 15px; }
    @media screen and (min-width: 480px) {
      .product-selection__size {
        font-size: 0.8rem; } }
  .product-selection__details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-between;
    padding: 10px 0; }
  .product-selection__costs {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 14px; }
  .product-selection__cost-row {
    display: flex;
    line-height: 1.2;
    width: 100%;
    margin-bottom: 7px; }
    .product-selection__cost-row > * {
      width: 50%; }
    .product-selection__cost-row--wholesale {
      font-weight: 500;
      color: #84909B; }
      .product-selection__cost-row--wholesale .product-selection__cost-row-info {
        text-decoration: line-through; }
    .product-selection__cost-row--promo {
      font-weight: 700; }
    .product-selection__cost-row--pv-points {
      justify-content: center;
      color: #A25EB5;
      margin-top: 10px; }
  .product-selection__cost-row-label {
    text-align: right;
    padding-right: 3px; }
  .product-selection__cost-row-info {
    padding-left: 3px; }
  .product-selection__meta {
    color: #A25EB5;
    text-align: center;
    margin-bottom: .5em; }
  .product-selection__price {
    display: inline-block;
    margin-right: 7px;
    font-size: 0.9rem;
    font-weight: 800;
    line-height: 1; }
  .product-selection__pv-amount {
    font-size: 12px;
    font-weight: 800;
    color: #A25EB5;
    padding-top: 20px; }
    @media screen and (min-width: 1024px) {
      .product-selection__pv-amount {
        font-size: 14px; } }
  .product-selection__button {
    padding: 10px 7px 0; }
    .product-selection__button .ui.button {
      padding-top: 13px !important;
      padding-bottom: 14px !important;
      margin: 0 !important; }
  .product-selection__msg {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: #354657;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    padding: 0 10px;
    min-height: 46px;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    text-align: center; }
    .product-selection__msg [class*="icon--"] {
      margin: 0 20px 0 7px; }
    @media screen and (min-width: 1024px) {
      .product-selection__msg {
        min-height: 50px; } }
  .product-selection__saving {
    background-color: #F5EEF7;
    color: #A25EB5;
    font-size: 14px;
    text-align: center;
    padding: 10px; }
  .product-selection__saving-value {
    font-weight: 700; }
  .product-selection__notification {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    margin: 0 10%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 5px;
    box-shadow: 0 2px 15px 0 rgba(51, 51, 51, 0.2); }
    .product-selection__notification-content {
      text-align: center;
      font-size: 14px;
      font-weight: 700; }
  .product-selection--selected {
    background-color: #FFFFFF;
    height: 100%;
    margin: 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
    padding: 30px 0 0;
    max-width: 100%; }
    @media screen and (max-width: 767px) {
      .product-selection--selected {
        padding-top: 0; } }
    @media screen and (max-width: 767px) {
      .product-selection--selected .product-selection__inner {
        padding-top: 0; } }
    .product-selection--selected .product-selection__ribbon {
      top: 5px; }
  @media (max-width: 899px) {
    .product-selection--loyalty {
      padding-top: 0;
      min-height: 175px; } }
  @media (max-width: 899px) {
    .product-selection--loyalty .product-selection__inner {
      flex-direction: row;
      padding-bottom: 40px; } }
  @media (max-width: 899px) {
    .product-selection--loyalty .product-selection__image {
      width: 120px;
      padding-top: 35px; }
      .product-selection--loyalty .product-selection__image img {
        height: 100%; } }
  .product-selection--loyalty .product-selection__ribbon {
    z-index: 100; }
    @media (max-width: 899px) {
      .product-selection--loyalty .product-selection__ribbon {
        transform: rotate(0deg);
        left: 5px; } }
  @media (max-width: 899px) {
    .product-selection--loyalty .product-selection__details {
      padding: 20px 0 0;
      text-align: left;
      flex: 1;
      justify-content: flex-start; } }
  @media (max-width: 899px) {
    .product-selection--loyalty .product-selection__title {
      text-align: left;
      margin-bottom: 10px; } }
  @media (max-width: 899px) {
    .product-selection--loyalty .product-selection__costs {
      align-items: flex-start; } }
  @media (max-width: 899px) {
    .product-selection--loyalty .product-selection__cost-row > * {
      width: auto; } }
  @media (max-width: 899px) {
    .product-selection--loyalty .product-selection__saving {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%; } }
