.search-results__product {
  display: none;
  padding-top: 10px; }
  @media screen and (min-width: 768px) {
    .search-results__product {
      padding-top: 40px; } }
  .search-results__product .products--list {
    padding: 10px; }
    @media screen and (max-width: 767px) {
      .search-results__product .products--list {
        padding-left: 0;
        padding-right: 0; } }
  .search-results__product .product-basic {
    flex-grow: 1 !important; }
    @media screen and (min-width: 1024px) {
      .search-results__product .product-basic {
        min-width: 100%;
        margin-left: 0; } }
  .search-results__product .search-results__group {
    margin-bottom: 40px; }
  .search-results__product--user {
    padding-top: 0; }
    @media screen and (min-width: 768px) {
      .search-results__product--user .drill-filter__node__parent.open + ul.drill-filter__list {
        display: block;
        max-height: 250px;
        overflow-y: auto; } }
    @media screen and (min-width: 768px) {
      .search-results__product--user .drill-filter__list {
        width: 255px; } }
    @media screen and (min-width: 768px) {
      .search-results__product--user .drill-filter__list .drill-filter__list {
        left: 315px; } }

@media screen and (min-width: 768px) {
  .menu-dropdown.menu-dropdown--search .product-basic {
    flex-grow: 0 !important;
    max-width: 100%; } }

@media screen and (min-width: 1024px) {
  .menu-dropdown.menu-dropdown--search .product-basic {
    min-width: 475px; } }

.menu-dropdown.menu-dropdown--search .product-basic__inner {
  align-items: flex-start;
  padding: 10px 0;
  flex-direction: column; }
  @media screen and (min-width: 480px) {
    .menu-dropdown.menu-dropdown--search .product-basic__inner {
      flex-direction: row; } }
  @media screen and (min-width: 768px) {
    .menu-dropdown.menu-dropdown--search .product-basic__inner {
      padding: 15px 0;
      align-items: center; } }
  @media screen and (min-width: 1024px) {
    .menu-dropdown.menu-dropdown--search .product-basic__inner {
      padding: 0; } }

.menu-dropdown.menu-dropdown--search .product-basic__button {
  margin-left: -65px;
  width: calc(100% + 65px); }
  @media screen and (min-width: 480px) {
    .menu-dropdown.menu-dropdown--search .product-basic__button {
      margin-left: 0;
      width: initial;
      flex-direction: column; } }
  @media screen and (min-width: 768px) {
    .menu-dropdown.menu-dropdown--search .product-basic__button .ui.button {
      width: 100%; } }

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  .ui .twelve.column .product-basic {
    max-width: 50% !important; } }

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  .ui .twelve.column .product-basic__button {
    max-width: 150px !important; } }

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  .ui .twelve.column .product-basic__image img {
    max-width: 80px !important;
    height: auto !important; } }
