.product--cart {
  border-bottom: 1px solid #EEEEEE;
  padding: 5px 0 10px;
  align-items: flex-start;
  overflow: hidden;
  text-decoration: none;
  width: 100%;
  max-width: 100%; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.product-cart__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center; }

.product-cart__overlay-content {
  color: #FFFFFF; }
