.progress-steps {
  background: #FFFFFF; }
  .progress-steps__logo-heading {
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    padding: 0 20px; }
    @media screen and (min-width: 768px) {
      .progress-steps__logo-heading {
        display: flex; } }
  .progress-steps__progress {
    justify-content: space-between;
    position: relative;
    order: 3;
    position: absolute;
    top: 79px;
    left: -20px;
    background: #fefcfb;
    width: calc(100% + 40px);
    display: flex;
    flex: 3;
    max-width: calc(100% + 40px); }
    @media screen and (min-width: 768px) {
      .progress-steps__progress {
        background: transparent;
        display: flex;
        order: 2;
        position: relative;
        top: 0;
        left: 0;
        max-width: 650px; } }
    .progress-steps__progress::after {
      content: ' ';
      display: block;
      width: 35%;
      height: 2px;
      background-position: bottom;
      background-size: 10px 2px;
      background-repeat: repeat-x;
      position: absolute;
      top: 26px;
      left: 31%;
      transform: translateX(-50%) translateY(-50%);
      z-index: -10px; }
      @media screen and (min-width: 768px) {
        .progress-steps__progress::after {
          top: 41px; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        .progress-steps__progress::after {
          top: 35px; } }
    .progress-steps__progress--enroll {
      overflow-x: auto; }
      @media screen and (min-width: 768px) {
        .progress-steps__progress--enroll {
          overflow-x: unset; } }
      .progress-steps__progress--enroll .progress-steps__step {
        width: 100%;
        max-width: 150px;
        min-width: 105px; }
  .progress-steps__step {
    height: 100%;
    width: 150px;
    position: relative;
    z-index: 10;
    padding: 0 10px;
    flex-grow: 1;
    flex-basis: 0; }
    .progress-steps__step:not(.complete):after {
      content: ' ';
      display: block;
      width: 74%;
      height: 0;
      background-position: bottom;
      background-size: 10px 2px;
      background-repeat: repeat-x;
      position: absolute;
      top: 26px;
      right: calc(-23% - 30px);
      border-top: dotted 2px #D1D1D1; }
      @media screen and (min-width: 768px) {
        .progress-steps__step:not(.complete):after {
          top: 41px;
          border-top: dashed 2px #D1D1D1; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        .progress-steps__step:not(.complete):after {
          top: 35px; } }
      @media (max-width: 395px) {
        .progress-steps__step:not(.complete):after {
          left: calc(45% + 26px);
          width: calc(84% - 20px); } }
    .progress-steps__step:not(.complete):last-of-type:after {
      display: none; }
    .progress-steps__step--active .progress-steps__step-circle {
      border: 2px solid #5597E2;
      background-image: none;
      background-size: cover; }
    .progress-steps__step--active .progress-steps__step-title {
      color: #95C0F1; }
    .progress-steps__step--active:not(.complete):before {
      content: ' ';
      display: block;
      width: 45%;
      height: 2px;
      background-color: #5597E2;
      background-position: bottom;
      background-size: 10px 2px;
      background-repeat: repeat-x;
      position: absolute;
      top: 26px;
      left: 0;
      z-index: -10px; }
      @media screen and (min-width: 768px) {
        .progress-steps__step--active:not(.complete):before {
          top: 40px; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        .progress-steps__step--active:not(.complete):before {
          top: 35px; } }
    .progress-steps__step--active:nth-of-type(1):before {
      display: none; }
    .progress-steps__step--active.complete .progress-steps__step-circle {
      border: none;
      background-image: url("/images/complete-circle-fill-blue.svg");
      background-size: cover; }
    .progress-steps__step--active.complete .progress-steps__step-title {
      color: #95C0F1; }
    .progress-steps__step--active.complete:before {
      content: ' ';
      display: block;
      width: 39%;
      height: 2px;
      background-color: #5597E2;
      background-position: bottom;
      background-size: 10px 2px;
      background-repeat: repeat-x;
      position: absolute;
      top: 26px;
      left: 0;
      z-index: -10px; }
      @media screen and (min-width: 768px) {
        .progress-steps__step--active.complete:before {
          top: 40px; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        .progress-steps__step--active.complete:before {
          top: 35px; } }
    .progress-steps__step--active.complete:after {
      content: ' ';
      display: block;
      width: calc(45% - 10px);
      right: calc(1% - 10px);
      height: 2px;
      background-color: #5597E2;
      background-position: bottom;
      background-size: 10px 2px;
      background-repeat: repeat-x;
      position: absolute;
      top: 26px;
      z-index: -10px; }
      @media screen and (min-width: 768px) {
        .progress-steps__step--active.complete:after {
          top: 40px; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        .progress-steps__step--active.complete:after {
          top: 35px; } }
    @media screen and (min-width: 768px) {
      .progress-steps__step--active.complete:nth-of-type(1):after {
        top: 40px; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .progress-steps__step--active.complete:nth-of-type(1):after {
        top: 35px; } }
    .progress-steps__step--active.complete:nth-of-type(1):before {
      display: none; }
    .progress-steps__step--active.complete:last-of-type():after {
      display: none; }
    .progress-steps__step-circle {
      width: 32px;
      height: 32px;
      border: 2px solid #C1C7CD;
      border-radius: 100%;
      position: absolute;
      top: 10px;
      left: calc(50% + 16px);
      background-color: #FFFFFF;
      outline: solid 5px #fefcfb;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: -32px; }
      @media screen and (min-width: 768px) {
        .progress-steps__step-circle {
          left: 50%;
          width: 40px;
          height: 40px;
          top: 20px;
          outline: solid 5px #FFFFFF;
          margin-left: -20px; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        .progress-steps__step-circle {
          top: 14px; } }
    .progress-steps__step-title {
      display: block;
      text-align: center;
      margin-top: 50px;
      font-size: 12px;
      line-height: 18px;
      padding-bottom: 4px;
      color: #C1C7CD; }
      @media screen and (min-width: 768px) {
        .progress-steps__step-title {
          margin-top: 65px;
          padding-bottom: 0; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        .progress-steps__step-title {
          margin-top: 57px; } }
    .progress-steps__step:last-of-type.complete:after {
      display: none; }
  .progress-steps__back {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    color: #84909B;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding: 3px 15px 3px 3px;
    min-width: 88px; }
    .progress-steps__back [class*="icon--"] {
      opacity: .5; }
  .progress-steps__back-text {
    padding: 0 0 1px 5px; }
  .progress-steps .header__toolbar {
    order: 1;
    left: 0;
    top: 24px;
    position: absolute;
    z-index: 99; }
    @media screen and (min-width: 480px) {
      .progress-steps .header__toolbar {
        left: 3%; } }
    @media screen and (min-width: 768px) {
      .progress-steps .header__toolbar {
        order: 3;
        position: relative;
        left: 0;
        top: auto; } }
  .progress-steps .header__logo {
    order: 2;
    position: absolute;
    width: 100%;
    height: 80px; }
    @media screen and (max-width: 1023px) {
      .progress-steps .header__logo {
        flex: 1; } }
    @media screen and (min-width: 768px) {
      .progress-steps .header__logo {
        position: relative;
        height: inherit;
        width: auto;
        order: 1; } }
  .progress-steps .progress-steps__progress--enroll::before {
    background-image: none; }
    @media screen and (min-width: 1024px) {
      .progress-steps .progress-steps__progress--enroll::before {
        width: 80%; } }
  @media (max-width: 395px) {
    .progress-steps .progress-steps__progress--account-upgrade::after {
      left: 36%;
      width: 28%; } }
