.scroller:not(.disabled) {
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 auto;
  margin: 0 0 15px 0;
  max-height: calc((var(--vh, 1vh) * 100) - 250px); }
  @media screen and (min-width: 1024px) {
    .scroller:not(.disabled) {
      max-height: 415px; } }

.scroller:not(.disabled)::-webkit-scrollbar {
  width: 10px; }

.scroller:not(.disabled)::-webkit-scrollbar-track {
  background: #EEEEEE;
  border-radius: 10px; }

.scroller:not(.disabled)::-webkit-scrollbar-thumb {
  background-color: #7F88A9;
  border-radius: 20px; }

.modal__scroller.scroller--thin:not(.disabled) {
  padding-right: 10px; }

.scroller--thin:not(.disabled)::-webkit-scrollbar {
  width: 4px !important;
  border-radius: 4px; }

.scroller--thin:not(.disabled)::-webkit-scrollbar-track {
  border-radius: 4px; }

.scroller--thin:not(.disabled)::-webkit-scrollbar-thumb {
  border-radius: 4px; }

.scroller--dark:not(.disabled)::-webkit-scrollbar-track {
  background-color: #C1C7CD; }

.scroller--dark:not(.disabled)::-webkit-scrollbar-thumb {
  background-color: #84909B; }

.scroller-mg:not(.disabled) {
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 15px; }

.scroller-mg:not(.disabled)::-webkit-scrollbar {
  width: 10px; }

.scroller-mg:not(.disabled)::-webkit-scrollbar-track {
  background: #C1C7CD;
  border-radius: 10px; }

.scroller-mg:not(.disabled)::-webkit-scrollbar-thumb {
  background-color: #354657;
  outline: 1px solid slategrey;
  border-radius: 20px; }
