.search-results__container {
  display: flex;
  flex-direction: column-reverse; }

.search-results__header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px 0 0; }
  @media screen and (min-width: 768px) {
    .search-results__header {
      flex-direction: row;
      align-items: flex-start; } }

.search-results__heading {
  margin-bottom: 0; }
  @media screen and (min-width: 768px) {
    .search-results__heading {
      margin-right: 25px;
      margin-bottom: 10px; } }

.search-results__sub-heading {
  color: #BD8BCA;
  font-style: italic;
  font-size: 0.9rem; }
  @media screen and (min-width: 768px) {
    .search-results__sub-heading {
      font-size: 1rem; } }
  .search-results__sub-heading--large {
    font-size: 16px; }
    @media screen and (min-width: 768px) {
      .search-results__sub-heading--large {
        font-size: 20px; } }

.search-results__list {
  padding-top: 10px;
  width: 100%;
  margin-top: 10px;
  width: calc(100% + 20px);
  margin: 10px -10px 0 -10px; }

.search-results__action {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  padding: 0 0 25px; }

.search-results__group {
  width: 100%; }

.search-results__group-body {
  display: flex;
  flex-wrap: wrap; }
  @media screen and (min-width: 768px) {
    .search-results__group-body--wd {
      width: calc(100% + 20px);
      margin-left: -10px; } }
  @media (min-width: 1024px) and (max-width: 1260px) {
    .search-results__group-body--wd .product-basic__body {
      flex: 1; } }
  @media (min-width: 1024px) and (max-width: 1260px) {
    .search-results__group-body--wd .product-basic__footer {
      width: auto;
      height: 100%; } }

.search-results__filter-no-results-msg {
  display: none;
  text-align: center;
  width: 100%;
  padding-top: 40px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 30px;
  font-size: 14px !important;
  line-height: 22px !important; }
  @media screen and (min-width: 768px) {
    .search-results__filter-no-results-msg {
      font-size: 16px !important;
      line-height: 24px !important;
      padding-top: 80px; } }
  @media screen and (min-width: 1024px) {
    .search-results__filter-no-results-msg {
      padding-top: 120px; } }

.search-results--header .search-results__header {
  width: 100%;
  padding: 0; }
  @media screen and (min-width: 768px) {
    .search-results--header .search-results__header {
      padding: 0 10px;
      margin-bottom: 5px; } }

.search-results--header .search-results__sub-heading {
  color: #9D57B2;
  font-size: 16px; }
  @media screen and (min-width: 768px) {
    .search-results--header .search-results__sub-heading {
      font-size: 20px; } }

.search-results--header .search-results__group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px; }
  @media screen and (min-width: 768px) {
    .search-results--header .search-results__group {
      margin-top: 30px;
      padding-bottom: 10px; } }
  .search-results--header .search-results__group:first-of-type {
    margin-top: 0; }
