.simple-menu {
  display: flex;
  flex-wrap: wrap; }
  .simple-menu__list {
    list-style: none;
    padding: 0;
    margin: 0; }
    .simple-menu__list--wpd .simple-menu__link {
      padding-right: 5px; }
  .simple-menu__item {
    margin-bottom: 10px; }
  .simple-menu__link {
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    color: #354657;
    padding: 0 0 5px;
    font-weight: 500;
    line-height: 1.2;
    border-bottom: 1px solid transparent;
    transition: all .3s; }
    .simple-menu__link:hover {
      border-bottom: 1px solid #BD8BCA; }
  .simple-menu--3col > * {
    flex: 1 0 33%; }
    @media screen and (min-width: 1024px) {
      .simple-menu--3col > * {
        flex: 1 0 auto; } }
  .simple-menu__column {
    padding-right: 25px; }
    .simple-menu__column--nested {
      display: flex;
      flex-wrap: wrap;
      flex: 2; }
      .simple-menu__column--nested .simple-menu__column-title {
        width: 100%; }
      .simple-menu__column--nested > .simple-menu__list {
        width: 50%; }
  .simple-menu__column-title {
    font-size: 20px; }
  .simple-menu + .menu-dropdown__subtitle,
  .simple-menu__list + .menu-dropdown__subtitle {
    margin-top: 20px !important; }
