.sort {
  top: 2px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%; }
  @media screen and (min-width: 1024px) {
    .sort {
      justify-content: flex-end; } }
  .sort__btn {
    display: none; }
    @media screen and (min-width: 480px) {
      .sort__btn {
        display: block; } }
    .sort__btn .ui.button {
      background: url("/images/icons/arrows-down-brand.svg") right center no-repeat #fff !important;
      color: #354657 !important;
      width: auto;
      height: auto;
      padding-right: 15px;
      margin-bottom: 0;
      border: 0;
      min-width: 0 !important; }
  .sort__dropdown.ui.dropdown {
    min-width: 0;
    background-size: 24px !important; }
    @media screen and (max-width: 767px) {
      .sort__dropdown.ui.dropdown {
        min-width: 85px !important;
        padding-left: 5px !important;
        padding: 8px 25px 8px 10px !important; } }
    @media screen and (min-width: 768px) {
      .sort__dropdown.ui.dropdown, .sort__dropdown.ui.dropdown:active {
        background-position-x: calc(100% - 20px) !important;
        padding-right: 45px; } }
    .sort__dropdown.ui.dropdown .menu.left {
      left: -60px !important; }
    .sort__dropdown.ui.dropdown.upward .menu {
      display: block !important; }
      .sort__dropdown.ui.dropdown.upward .menu .item {
        background-color: #FFFFFF !important; }
  .sort__icons {
    display: flex; }
  .sort__link {
    margin-left: 15px; }
    @media screen and (max-width: 767px) {
      .sort__link [class*="icon--"] {
        font-size: 18px;
        margin-top: 2px; } }
  .sort-link--grid-small {
    display: none; }
    @media screen and (min-width: 1024px) {
      .sort-link--grid-small {
        display: inline-block; } }
  .sort__label {
    display: none; }

@media screen and (min-width: 1024px) {
  .icon--grid:before,
  .icon--list::before {
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: 5px;
    right: 5px; } }

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  .sort__link.sort-link--list {
    display: none !important; } }
