.store-credit {
  width: 56px;
  border-radius: 5px;
  background-color: #5597E2;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  padding: 0 5px;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 32px;
  display: block; }
