.subscribe-form {
  text-align: center; }
  @media screen and (min-width: 1024px) {
    .subscribe-form {
      text-align: left;
      display: flex; } }
  @media screen and (min-width: 1024px) {
    .subscribe-form .form-group {
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      width: 100%; } }
  .subscribe-form .form-input-group {
    position: relative;
    margin: 0 auto;
    display: flex; }
    @media screen and (min-width: 1024px) {
      .subscribe-form .form-input-group {
        margin-right: 0;
        max-width: initial;
        min-width: 50%;
        display: flex; } }
    .subscribe-form .form-input-group .button.btn--submit {
      display: none; }
      @media screen and (min-width: 768px) {
        .subscribe-form .form-input-group .button.btn--submit {
          display: inline-block; } }
      .subscribe-form .form-input-group .button.btn--submit:hover {
        background-color: #A25EB5;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2); }
    .subscribe-form .form-input-group .button.btn--submit.button--submit-mobile {
      display: block;
      width: 30px;
      height: 30px;
      padding: 0;
      position: absolute;
      top: 10px;
      right: 10px;
      bottom: 10px; }
      .subscribe-form .form-input-group .button.btn--submit.button--submit-mobile span.icon--arrow-right {
        top: -2px;
        left: -2px; }
      @media screen and (min-width: 768px) {
        .subscribe-form .form-input-group .button.btn--submit.button--submit-mobile {
          display: none; } }
  .subscribe-form .footer__subscribe-form__heading {
    margin-bottom: 5px; }
    .subscribe-form .footer__subscribe-form__heading > label {
      font-size: 16px; }
      @media screen and (min-width: 768px) {
        .subscribe-form .footer__subscribe-form__heading > label {
          font-size: 20px; } }
  .subscribe-form .form-control {
    padding-left: 20px;
    padding-right: 40px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 25px; }
  .subscribe-form .form-text {
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
    padding: 15px 20%;
    font-weight: 500;
    font-size: 14px; }
    @media screen and (min-width: 768px) {
      .subscribe-form .form-text {
        margin: 10px 0 0 0;
        font-size: 16px; } }
    @media screen and (min-width: 1024px) {
      .subscribe-form .form-text {
        padding: 0; } }
