@media screen and (min-width: 1024px) {
  .ui.container,
  .ui.grid.container {
    max-width: 1320px !important;
    width: 100% !important;
    padding-left: 1.5rem;
    padding-right: 1.5rem; } }

@media screen and (max-width: 767px) {
  .ui.tablet-unstackable.grid > .row .column {
    width: 100% !important; } }

@media screen and (min-width: 768px) {
  .ui.tablet-unstackable.grid > .row .column.one {
    width: 8.33333333% !important; }
  .ui.tablet-unstackable.grid > .row .column.two {
    width: 16.66666667% !important; }
  .ui.tablet-unstackable.grid > .row .column.three {
    width: 25% !important; }
  .ui.tablet-unstackable.grid > .row .column.four {
    width: 33.33333333% !important; }
  .ui.tablet-unstackable.grid > .row .column.five {
    width: 41.66666667% !important; }
  .ui.tablet-unstackable.grid > .row .column.six {
    width: 50% !important; }
  .ui.tablet-unstackable.grid > .row .column.seven {
    width: 58.33333333% !important; }
  .ui.tablet-unstackable.grid > .row .column.eight {
    width: 66.66666667% !important; }
  .ui.tablet-unstackable.grid > .row .column.nine {
    width: 75% !important; }
  .ui.tablet-unstackable.grid > .row .column.ten {
    width: 83.33333333% !important; }
  .ui.tablet-unstackable.grid > .row .column.eleven {
    width: 91.66666667% !important; }
  .ui.tablet-unstackable.grid > .row .column.twelve {
    width: 100% !important; } }

.ui.grid.tight,
.ui.stackable.grid.tight {
  padding-left: 5px !important;
  padding-right: 5px !important; }
  @media screen and (max-width: 1023px) {
    .ui.grid.tight,
    .ui.stackable.grid.tight {
      margin-left: 0 !important;
      margin-right: 0 !important; } }
  @media screen and (max-width: 1023px) {
    .ui.grid.tight > .row > .column,
    .ui.stackable.grid.tight > .row > .column {
      padding-left: 10px !important;
      padding-right: 10px !important; } }

@media screen and (max-width: 320px) {
  .floated {
    float: none !important;
    margin: 0 auto 10px !important;
    display: block !important; } }
