.cropper-view-box {
  box-shadow: 0 0 0 3px #BD8BCA;
  border-radius: 50%;
  outline: 0; }

.cropper-face {
  background-color: inherit !important; }

.cropper-view-box {
  outline: inherit !important; }

.cropper-drag-box {
  background-color: #FFFFFF;
  opacity: 0.5; }

.cropper-line {
  background-color: #BD8BCA; }

/*
.cropper-point {
    background-color: $color-purple !important;

    .point-se::before {
        background-color: $color-purple;
    }
}
*/
