@media all and (-ms-high-contrast: none) and (min-width: 1024px) {
  *::-ms-backdrop,
  .spotlight--eqkit .spotlight__head {
    min-height: 910px !important; } }

@media all and (-ms-high-contrast: none) and (min-width: 1024px) {
  *::-ms-backdrop,
  .product-whats-inside--alt .product-whats-inside__info-details {
    flex-direction: column !important; } }

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  .carousel .owl-prev img, .carousel .owl-next img {
    width: 100% !important; } }

@media all and (-ms-high-contrast: none) and (min-width: 1024px) {
  *::-ms-backdrop,
  .owl-carousel.product-list .owl-item {
    min-height: 450px !important; } }

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  .hero__caro-wrap .owl-carousel .owl-dots::after {
    left: -5px !important;
    top: -7px !important; } }

@media all and (-ms-high-contrast: none) and (min-width: 1024px) {
  *::-ms-backdrop,
  .hero__caro-wrap .owl-carousel .owl-dots::after {
    left: 0 !important;
    top: 12px !important; } }

@media all and (-ms-high-contrast: none) and (min-width: 768px) {
  *::-ms-backdrop,
  .row-select--payment-method .row-select__icon {
    min-height: 0 !important;
    height: 55px !important; } }

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  .rewards-progress__value {
    top: 2px !important; } }

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  .rewards__item {
    padding: 10px !important; } }

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  .rewards__item-icon {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    min-height: 62px !important; } }

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  .rewards__item-icon [class*="icon--"] {
    font-size: 28px !important; } }
