.enroll__content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  border-radius: 5px;
  overflow: hidden;
  flex-wrap: wrap; }
  @media screen and (min-width: 1024px) {
    .enroll__content {
      flex-wrap: nowrap; } }
  .enroll__content--rev {
    flex-direction: row-reverse; }

.enroll__header {
  border-bottom: 1px solid #EEEEEE; }

.enroll__main {
  padding: 20px 0 20px; }
  @media screen and (min-width: 480px) {
    .enroll__main {
      padding: 20px 0; } }
  .enroll__main .row.stackable {
    padding-top: 0; }

@media screen and (min-width: 768px) {
  .enroll__sidebar {
    margin-top: -15px;
    margin-bottom: -40px; } }

.enroll__panel {
  padding: 20px;
  text-align: center;
  position: relative;
  z-index: 3;
  box-shadow: 0 2px 15px 0 rgba(51, 51, 51, 0.2);
  background-color: #FFFFFF;
  border-radius: 5px; }
  @media screen and (min-width: 768px) {
    .enroll__panel {
      padding: 40px 30px 30px;
      height: 100%;
      text-align: left; } }
  .enroll__panel--ha {
    height: auto; }
  @media screen and (max-width: 767px) {
    .enroll__panel--border-xs {
      box-shadow: 0px 1px 5px rgba(51, 51, 51, 0.2);
      border: none; } }
  .enroll__panel--mt {
    margin-top: 20px; }

.enroll__flex-reorder-xs {
  display: flex !important;
  flex-direction: column; }
  .enroll__flex-reorder-xs .order-summary {
    margin-top: 20px; }
    @media screen and (max-width: 767px) {
      .enroll__flex-reorder-xs .order-summary {
        order: 2;
        margin-top: 30px; } }
  @media screen and (max-width: 767px) {
    .enroll__flex-reorder-xs .order-details {
      margin-top: 0 !important;
      order: 1; } }
  @media screen and (max-width: 767px) {
    .enroll__flex-reorder-xs .bag__portable-ctas {
      padding-top: 30px;
      order: 3; } }

.enroll__loyalty {
  box-shadow: 0 2px 15px 0 rgba(51, 51, 51, 0.2);
  background-color: #FFFFFF;
  border-radius: 5px;
  background-color: #BD8BCA;
  color: #FFFFFF; }
  @media screen and (min-width: 768px) {
    .enroll__loyalty {
      text-align: center;
      height: 100%; } }
  @media screen and (min-width: 1024px) {
    .enroll__loyalty--setup {
      padding: 40px 60px 50px; }
      .enroll__loyalty--setup p {
        font-size: 20px; } }
  .enroll__loyalty--setup .enroll__loyalty-heading {
    margin-top: 20px; }
  .enroll__loyalty--setup .enroll__loyalty-button {
    margin-top: 25px; }

.enroll__order-summary {
  box-shadow: none;
  margin-bottom: 0; }
  @media screen and (min-width: 768px) {
    .enroll__order-summary {
      border: 2px solid #EEEEEE; } }
  @media screen and (max-width: 767px) {
    .enroll__order-summary {
      padding: 0;
      order: 2; } }
  @media screen and (min-width: 768px) {
    .enroll__order-summary .order-summary__heading {
      font-size: 20px;
      margin-bottom: 25px; } }

.drop-block {
  position: relative;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
  margin-bottom: 25px;
  border-radius: 5px;
  transition: all ease-in-out 0.3s;
  margin-top: 0; }
  @media screen and (min-width: 768px) {
    .drop-block {
      margin-top: 30px;
      margin-bottom: 30px; } }
  .drop-block__title {
    padding-top: 5px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 800;
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 0; }
    @media screen and (min-width: 768px) {
      .drop-block__title {
        padding-top: 25px;
        font-size: 20px;
        line-height: 1.2; } }
    .drop-block__title--inline {
      justify-content: flex-start; }
      .drop-block__title--inline .drop-block__title-text {
        margin-right: 7px; }
  .drop-block__title-text {
    padding-right: 8px; }
  .drop-block__title-cost {
    font-weight: 500; }
  .drop-block--offset-top-neg {
    margin-top: -55px; }
    @media screen and (min-width: 768px) {
      .drop-block--offset-top-neg {
        margin-top: -85px; } }
  .drop-block--plain {
    background-color: transparent;
    box-shadow: none; }
  .drop-block--back {
    opacity: 0.5; }
  .drop-block--forward {
    opacity: 1;
    border: 2px solid #A25EB5; }
  .drop-block > .ui.grid {
    margin-top: 0 !important; }
    @media screen and (min-width: 768px) {
      .drop-block > .ui.grid {
        margin-top: -1rem !important; } }
  .drop-block--divider {
    width: 100%;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    height: 20px;
    border-bottom: 2px solid #EEEEEE !important;
    margin-bottom: 40px !important; }
    @media screen and (min-width: 768px) {
      .drop-block--divider {
        display: none; } }
    .drop-block--divider .drop-block__divider-text {
      font-style: italic;
      background: #FFFFFF;
      min-width: 80px;
      text-align: center;
      display: inline-block;
      margin-bottom: -20px;
      font-size: 20px; }
  .drop-block--mbl {
    margin-bottom: 40px; }
    @media screen and (min-width: 768px) {
      .drop-block--mbl {
        margin-bottom: 60px; } }
    @media screen and (min-width: 1024px) {
      .drop-block--mbl {
        margin-bottom: 80px; } }
  .drop-block--no-bs {
    box-shadow: none; }
  @media screen and (max-width: 767px) {
    .drop-block--fw-xs {
      box-shadow: none;
      border-radius: 0;
      width: calc(100% + 32px);
      margin-left: -16px;
      margin-right: -16px; } }

.block-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 0; }
  .block-grid .drop-block {
    margin-bottom: 8px;
    border: 2px solid #EEEEEE;
    box-shadow: none;
    width: 100%;
    margin-top: 0; }
    @media screen and (min-width: 768px) {
      .block-grid .drop-block {
        width: calc(50% - 10px);
        margin-bottom: 16px; } }
    @media screen and (min-width: 1024px) {
      .block-grid .drop-block {
        margin-bottom: 24px; } }
    .block-grid .drop-block--back {
      opacity: 0.5; }
    .block-grid .drop-block .ui.button.primary.enroll-kit__selection-btn--selected {
      display: none !important;
      margin-left: 0; }
    .block-grid .drop-block--forward {
      opacity: 1;
      border: 2px solid #A25EB5; }
      .block-grid .drop-block--forward .ui.button.primary.enroll-kit__selection-btn--select {
        display: none !important; }
      .block-grid .drop-block--forward .ui.button.primary.enroll-kit__selection-btn--selected {
        display: block !important; }

.block-head {
  padding: 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media screen and (min-width: 768px) {
    .block-head {
      flex-wrap: nowrap;
      padding: 20px 0; } }
  @media screen and (min-width: 1024px) {
    .block-head {
      padding: 30px 0; } }
  .block-head__wrap {
    background: #F4F8FD;
    margin-bottom: -20px;
    padding-bottom: 20px; }
    @media screen and (min-width: 768px) {
      .block-head__wrap {
        margin-bottom: -60px;
        padding-bottom: 40px; } }
    .block-head__wrap--neg-offset {
      padding-bottom: 100px;
      margin-bottom: -100px;
      padding-top: 30px; }
  .block-head__title {
    font-size: 20px;
    line-height: 22px;
    margin: 0;
    width: 100%;
    padding: 25px 0 15px; }
    @media screen and (min-width: 768px) {
      .block-head__title {
        font-size: 30px;
        line-height: 34px;
        width: auto;
        padding: 15px 0 0 0; } }
    .block-head__title--prime {
      padding: 30px 0 25px; }
      @media screen and (min-width: 768px) {
        .block-head__title--prime {
          font-size: 30px;
          line-height: 34px;
          width: auto;
          padding: 0; } }
    .block-head__title--inline {
      display: flex;
      align-items: center; }
      .block-head__title--inline .block-head__title-actions {
        margin-right: 20px; }
        @media screen and (min-width: 768px) {
          .block-head__title--inline .block-head__title-actions {
            margin-right: 40px; } }
        .block-head__title--inline .block-head__title-actions a {
          display: flex;
          align-items: center; }
    .block-head__title--lg {
      font-size: 26px;
      line-height: 32px; }
      @media screen and (min-width: 768px) {
        .block-head__title--lg {
          font-size: 48px;
          line-height: 48px; } }
    .block-head__title--lgsub {
      font-size: 26px;
      line-height: 32px; }
      @media screen and (min-width: 768px) {
        .block-head__title--lgsub {
          font-size: 48px;
          line-height: 48px;
          margin-bottom: 30px;
          margin-top: 50px; } }
      @media screen and (min-width: 1024px) {
        .block-head__title--lgsub {
          margin-top: 60px; } }
    @media screen and (min-width: 768px) {
      .block-head__title--offset-bot-neg {
        margin-bottom: -25px; } }
    @media screen and (min-width: 1024px) {
      .block-head__title--offset-bot-neg {
        margin-bottom: -45px; } }
  .block-head__title-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    @media screen and (min-width: 768px) {
      .block-head__title-text {
        flex-wrap: nowrap;
        justify-content: flex-start; } }
    .block-head__title-text--wrap {
      flex-wrap: wrap;
      justify-content: flex-start; }
      @media screen and (min-width: 768px) {
        .block-head__title-text--wrap {
          margin-top: -10px; } }
      .block-head__title-text--wrap .block-head__title-label {
        width: 100%; }
  .block-head__title-label {
    font-weight: 500;
    margin-right: 10px; }
    @media screen and (min-width: 768px) {
      .block-head__title-label {
        margin-right: 20px; } }
    .block-head__title-label--smaller {
      font-size: 14px;
      line-height: 22px; }
      @media screen and (min-width: 768px) {
        .block-head__title-label--smaller {
          font-size: 16px;
          line-height: 34px; } }
    .block-head__title-label--italic {
      font-style: italic; }
  .block-head__title-content {
    width: 100%;
    font-size: 26px;
    line-height: 32px; }
    @media screen and (min-width: 768px) {
      .block-head__title-content {
        width: auto;
        font-size: 48px;
        line-height: 48px; } }
    @media screen and (min-width: 768px) {
      .block-head__title-content--offset-bot-neg {
        margin-bottom: -25px; } }
    @media screen and (min-width: 1024px) {
      .block-head__title-content--offset-bot-neg {
        margin-bottom: -45px; } }
  .block-head__title-info {
    font-size: 14px;
    line-height: 1.25;
    font-weight: 800;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px; }
    @media screen and (min-width: 768px) {
      .block-head__title-info {
        text-align: left;
        font-size: 16px;
        padding-bottom: 0; } }
    .block-head__title-info--before {
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      padding-top: 0;
      padding-bottom: 0;
      text-align: left; }
      @media screen and (min-width: 768px) {
        .block-head__title-info--before {
          margin-bottom: 5px;
          font-size: 20px;
          line-height: 34px; } }
    .block-head__title-info--italic {
      font-style: italic; }
    .block-head__title-info--top {
      padding-bottom: 5px;
      text-align: left;
      font-weight: 500;
      color: #84909B; }
  .block-head__actions {
    width: 100%;
    text-align: center;
    background: #FFFFFF;
    padding: 25px;
    border-radius: 5px;
    border: solid 2px #EEEEEE;
    display: none; }
    @media screen and (min-width: 768px) {
      .block-head__actions {
        display: block;
        width: auto;
        text-align: left;
        min-width: 315px;
        padding: 18px 25px; } }
    .block-head__actions--wrap {
      display: flex;
      align-items: center; }
      .block-head__actions--wrap .block-head__total {
        margin-bottom: 0;
        margin-right: 20px; }
  .block-head__total {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 15px; }
  .block-head__actions-btn {
    display: none !important; }
    @media screen and (min-width: 768px) {
      .block-head__actions-btn {
        display: block !important; } }

.enroll-kit-selected {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media screen and (min-width: 768px) {
    .enroll-kit-selected {
      flex-wrap: nowrap; } }
  .enroll-kit-selected__body {
    padding: 20px;
    text-align: left; }
    @media screen and (min-width: 768px) {
      .enroll-kit-selected__body {
        text-align: left;
        padding: 30px;
        width: calc(100% - 200px); } }
    @media screen and (min-width: 1024px) {
      .enroll-kit-selected__body {
        padding: 40px;
        width: calc(100% - 540px); } }
  .enroll-kit-selected__title {
    font-size: 20px;
    line-height: 1.1;
    margin: 0 0 20px 0; }
    @media screen and (min-width: 768px) {
      .enroll-kit-selected__title {
        font-size: 30px;
        line-height: 1.13;
        margin: 0 0 20px;
        padding-top: 0; } }
  .enroll-kit-selected__title-amt {
    font-weight: 500; }
  .enroll-kit-selected__body-text {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    letter-spacing: normal; }
    @media screen and (min-width: 768px) {
      .enroll-kit-selected__body-text {
        margin: 0; } }
  .enroll-kit-selected__body-link {
    margin-top: 30px;
    display: block; }
    @media screen and (min-width: 768px) {
      .enroll-kit-selected__body-link {
        font-size: 16px;
        line-height: 24px; } }
  .enroll-kit-selected__scaler-wrap {
    margin-top: 20px; }
    @media screen and (min-width: 768px) {
      .enroll-kit-selected__scaler-wrap {
        margin-top: 50px; } }
  .enroll-kit-selected__subtitle {
    font-size: 16px;
    line-height: 1.25;
    text-align: left;
    margin-bottom: 25px; }
    @media screen and (min-width: 768px) {
      .enroll-kit-selected__subtitle {
        font-size: 20px;
        line-height: 1.2; } }
  .enroll-kit-selected__aside {
    background: #F4F8FD;
    background: #f9f9f9;
    padding: 30px 20px 20px;
    text-align: center;
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 25px; }
    @media screen and (min-width: 768px) {
      .enroll-kit-selected__aside {
        text-align: left;
        padding: 30px;
        max-width: 250px;
        margin: 20px; } }
    @media screen and (min-width: 1024px) {
      .enroll-kit-selected__aside {
        max-width: 520px;
        padding: 40px; } }
  .enroll-kit-selected__aside-title {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 15px;
    text-align: center;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .enroll-kit-selected__aside-title {
        font-size: 20px;
        line-height: 1.2; } }
  .enroll-kit-selected__aside-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 25px; }
  .enroll-kit-selected__aside-link {
    text-align: center;
    display: block;
    margin-top: 25px;
    font-size: 14px;
    line-height: 1.43;
    display: block;
    width: 100%;
    margin-bottom: 0; }
    @media screen and (min-width: 768px) {
      .enroll-kit-selected__aside-link {
        margin-top: auto;
        line-height: 24px;
        font-size: 16px; } }
  .enroll-kit-selected__progress {
    margin-top: 15px;
    padding: 0 15px 25px;
    width: 100%; }
    @media screen and (min-width: 480px) {
      .enroll-kit-selected__progress {
        margin-top: 30px;
        padding: 0; } }

.enroll-kit-continue {
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: -150px;
  box-shadow: 0 2px 15px 0 rgba(51, 51, 51, 0.2);
  background: #FFFFFF;
  z-index: 20;
  padding: 20px;
  transition: bottom 0.3s; }
  @media screen and (min-width: 768px) {
    .enroll-kit-continue {
      border: solid 2px #EEEEEE;
      box-shadow: none;
      position: relative;
      transition: none;
      bottom: 0;
      width: auto;
      max-width: 315px;
      background: #ffffff;
      padding: 25px;
      border-radius: 5px;
      margin: 45px auto 100px; } }
  @media screen and (min-width: 768px) {
    .enroll-kit-continue--has-total {
      border: solid 2px #EEEEEE; } }
  .enroll-kit-continue.is-active {
    bottom: 0; }
  .enroll-kit-continue__total {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 10px; }
    @media screen and (min-width: 768px) {
      .enroll-kit-continue__total {
        margin-bottom: 25px; } }
  @media screen and (min-width: 768px) {
    .enroll-kit-continue__links {
      margin-top: 25px; } }
  .enroll-kit-continue__link {
    font-size: 16px;
    line-height: 1.25;
    text-decoration: none; }
    .enroll-kit-continue__link:hover {
      text-decoration: underline; }
  .enroll-kit-continue__load-more {
    font-size: 16px;
    line-height: 1.25;
    text-decoration: none;
    margin-bottom: 15px;
    display: block;
    text-align: center; }
    .enroll-kit-continue__load-more:hover {
      text-decoration: underline; }
    @media screen and (min-width: 768px) {
      .enroll-kit-continue__load-more {
        margin: 30px 0 50px; } }
  .enroll-kit-continue__loader {
    text-align: center;
    margin-top: 30px; }
    @media screen and (min-width: 768px) {
      .enroll-kit-continue__loader {
        margin-top: 55px; } }
  @media screen and (min-width: 768px) {
    .enroll-kit-continue--mbl {
      margin-bottom: 50px; } }

.enroll-user-card {
  background: #354657;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  max-width: 425px;
  margin: auto;
  position: relative; }
  .enroll-user-card--hero {
    background: #FFFFFF;
    margin-top: 25px; }
    .enroll-user-card--hero .enroll-user-card__pic {
      width: 88px;
      height: 88px; }
    .enroll-user-card--hero .enroll-user-card__name {
      color: #354657;
      font-size: 20px; }
  .enroll-user-card--display-profile .enroll-user-card__pic {
    display: block; }
  .enroll-user-card__pic {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto -30px;
    position: relative;
    top: -25px;
    display: none; }
    @media screen and (min-width: 768px) {
      .enroll-user-card__pic {
        display: block; } }
  .enroll-user-card__actions {
    position: absolute;
    top: 10px;
    right: 10px; }
  .enroll-user-card__content {
    padding: 40px 20px 40px 20px;
    text-align: center; }
  .enroll-user-card__content-inline {
    display: flex;
    justify-content: center; }
    .enroll-user-card__content-inline .enroll-user-card__location {
      margin-right: 20px; }
  .enroll-user-card__name {
    font-size: 16px;
    line-height: normal;
    margin-bottom: 10px;
    color: #FFFFFF;
    font-weight: 700; }
  .enroll-user-card__position {
    font-size: 14px;
    color: #A25EB5;
    text-align: center;
    margin-bottom: 20px; }
  .enroll-user-card__location {
    font-size: 14px;
    line-height: 1.57;
    color: #FFFFFF; }
    .enroll-user-card__location--grey {
      color: #FFFFFF;
      opacity: 0.4; }
  .enroll-user-card__id {
    font-size: 14px;
    line-height: 1.57;
    color: #FFFFFF; }
    .enroll-user-card__id--grey {
      color: #FFFFFF;
      opacity: 0.4; }
  .enroll-user-card__email {
    font-size: 14px;
    line-height: 1.43;
    color: #FFFFFF; }
    .enroll-user-card__email a {
      font-size: 14px;
      line-height: 1.43;
      color: #FFFFFF;
      text-decoration: none; }
      .enroll-user-card__email a:hover {
        text-decoration: underline;
        color: #FFFFFF; }
    .enroll-user-card__email--grey {
      color: #FFFFFF;
      opacity: 0.4; }
      .enroll-user-card__email--grey a {
        color: #FFFFFF;
        opacity: 0.4; }
        .enroll-user-card__email--grey a:hover {
          color: #FFFFFF;
          opacity: 0.4; }
  .enroll-user-card__tel {
    font-size: 14px;
    line-height: 1.43;
    color: #FFFFFF;
    margin-top: 3px; }
    .enroll-user-card__tel--grey {
      color: #FFFFFF;
      opacity: 0.4; }

.enroll-friend {
  letter-spacing: normal;
  display: flex;
  flex-direction: column;
  width: 100%; }
  @media screen and (min-width: 1024px) {
    .enroll-friend {
      width: calc(100% - 425px); } }
  .enroll-friend__title {
    font-weight: 700;
    line-height: 28px; }
  .enroll-friend__inner {
    margin-left: 20px;
    margin-right: 20px; }
    @media screen and (min-width: 768px) {
      .enroll-friend__inner {
        margin-left: 60px;
        margin-right: 60px; } }
    @media screen and (min-width: 1024px) {
      .enroll-friend__inner {
        margin-left: 50px;
        margin-right: 50px; } }
    @media screen and (min-width: 1440px) {
      .enroll-friend__inner {
        margin-left: 150px;
        margin-right: 150px; } }
    .enroll-friend__inner .search.search--sponsor[data-js-sponsor-search] .search-results__product--user .enroll-friend__result-message,
    .enroll-friend__inner .search.search--sponsor[data-js-sponsor-search] .search-results__product--user .enroll-friend__cant-find {
      display: none; }
  .enroll-friend__head {
    margin: 28px 0 10px 0; }
    @media screen and (min-width: 768px) {
      .enroll-friend__head {
        margin: 40px 0 0 0; } }
    @media screen and (min-width: 1024px) {
      .enroll-friend__head {
        margin: 60px 0 0 0; } }
    .enroll-friend__head--sponsor {
      display: none;
      margin-top: 30px; }
  .enroll-friend__subtitle {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 1.25; }
  .enroll-friend__text {
    padding-right: 20px;
    font-size: 14px;
    line-height: 22px;
    color: #354657;
    margin-bottom: 15px;
    font-weight: 500; }
    @media screen and (min-width: 768px) {
      .enroll-friend__text {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 25px; } }
    .enroll-friend__text--center {
      text-align: center; }
    @media screen and (min-width: 1024px) {
      .enroll-friend__text--mw {
        max-width: 380px;
        margin-left: auto;
        margin-right: auto; } }
  @media screen and (min-width: 1024px) {
    .enroll-friend__group {
      max-width: 530px;
      margin-left: auto;
      margin-right: auto; } }
  .enroll-friend__group .bag__inner {
    padding-left: 20px;
    padding-right: 20px; }
    @media screen and (min-width: 1024px) {
      .enroll-friend__group .bag__inner {
        padding-left: 0;
        padding-right: 0; } }
  .enroll-friend__card {
    margin: 20px 20px 40px 20px;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .enroll-friend__card {
        margin: 35px 60px 40px 60px; } }
  .enroll-friend__message {
    font-size: 14px;
    line-height: 1.57;
    margin: 0 20px 20px; }
    @media screen and (min-width: 768px) {
      .enroll-friend__message {
        font-size: 16px;
        line-height: 24px; } }
  .enroll-friend__checks {
    width: auto;
    max-width: 290px;
    margin: auto; }
    @media screen and (min-width: 768px) {
      .enroll-friend__checks {
        margin: 0 auto 0; } }
    .enroll-friend__checks .form-check-label {
      justify-content: flex-start;
      font-weight: 700;
      text-align: left; }
    .enroll-friend__checks .checkmark {
      margin-right: 25px; }
      @media screen and (min-width: 768px) {
        .enroll-friend__checks .checkmark {
          margin-right: 10px; } }
    .enroll-friend__checks--al .form-check-label {
      justify-content: flex-start;
      max-width: 250px;
      margin: 20px auto;
      border-bottom: 2px solid #EEEEEE;
      padding-bottom: 15px; }
    .enroll-friend__checks--al .form-check:last-child .form-check-label {
      border-bottom: none; }
  .enroll-friend__hr {
    border-color: transparent;
    border: none;
    margin-top: 21px;
    margin-bottom: 20px;
    height: 1px;
    background-color: #EEEEEE; }
    @media screen and (min-width: 480px) {
      .enroll-friend__hr {
        width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px; } }
  .enroll-friend__ctas {
    text-align: center;
    margin: auto 0 20px 0; }
    @media screen and (min-width: 768px) {
      .enroll-friend__ctas {
        margin: auto 0 60px 0; } }
  .enroll-friend__result-message {
    background: #F4F8FD;
    padding: 10px;
    font-size: 14px;
    line-height: 1.57;
    text-align: center; }
    .enroll-friend__result-message--block {
      padding: 30px; }
    .enroll-friend__result-message--mmb {
      margin: auto 10px 10px 10px; }
      @media screen and (min-width: 1024px) {
        .enroll-friend__result-message--mmb {
          margin: auto 20px 20px 20px;
          padding-left: 10%;
          padding-right: 10%; } }
    .enroll-friend__result-message--plain {
      background: transparent;
      margin: 0 0 auto 0; }
      @media screen and (min-width: 1024px) {
        .enroll-friend__result-message--plain {
          margin: 0 10% auto 10%;
          padding-bottom: 40px; } }
  .enroll-friend__result-message-title {
    font-size: 20px;
    line-height: 1.2; }
  .enroll-friend__result-message-text {
    max-width: 520px;
    margin: 20px auto 20px; }
    @media screen and (min-width: 768px) {
      .enroll-friend__result-message-text {
        margin: 20px auto 40px; } }
  .enroll-friend__result-message-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .enroll-friend__result-message-cta-link {
    display: block;
    margin-top: 10px;
    text-decoration: none; }
    @media screen and (min-width: 768px) {
      .enroll-friend__result-message-cta-link {
        margin-top: 20px; } }
    .enroll-friend__result-message-cta-link:hover {
      text-decoration: underline; }
  .enroll-friend__check-block {
    border: 2px solid #EEEEEE;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 5px; }
    @media screen and (min-width: 768px) {
      .enroll-friend__check-block {
        padding: 40px;
        margin-bottom: 40px;
        margin-top: 25px; } }
  .enroll-friend__checkbox--more-info {
    display: none; }
  .enroll-friend__checkbox--more-info-active {
    display: block; }
  .enroll-friend__cant-find {
    display: flex;
    background: #F4F8FD;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 24px;
    padding: 15px;
    flex-direction: column; }
    @media screen and (min-width: 768px) {
      .enroll-friend__cant-find {
        flex-direction: row; } }
  .enroll-friend__cant-find-msg {
    margin-bottom: 0; }
  .enroll-friend__cant-find-link {
    display: inline-block;
    margin-left: 10px; }
  .enroll-friend__signup-link {
    font-size: 16px;
    color: #84909B;
    display: block;
    margin-top: 30px;
    margin-bottom: 15px;
    display: none; }
    @media screen and (min-width: 768px) {
      .enroll-friend__signup-link {
        margin-top: 35px; } }
  .enroll-friend__action-btns {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 15px; }
  .enroll-friend__btn {
    margin: auto !important; }
  .enroll-friend .search--sponsor {
    display: none; }

@media screen and (max-width: 767px) {
  .search.search--user.search--full
.search-results__list
.scroller:not(.disabled) .enroll-user-row {
    padding-right: 10px; } }

.enroll-user-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #EEEEEE;
  padding-top: 20px;
  padding-bottom: 20px; }
  @media screen and (min-width: 768px) {
    .enroll-user-row {
      flex-direction: row; } }
  @media (max-width: 360px) {
    .enroll-user-row {
      flex-wrap: wrap; }
      .enroll-user-row .enroll-user-row__cta {
        margin-top: 10px;
        width: 100%; } }
  .enroll-user-row__body {
    display: flex;
    align-items: center; }
  .enroll-user-row__avatar {
    width: 57px;
    min-width: 57px;
    height: 56px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media screen and (min-width: 768px) {
      .enroll-user-row__avatar {
        margin: 0 15px; } }
  .enroll-user-row__info {
    line-height: 0;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .enroll-user-row__name {
    font-weight: 700;
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto; }
    @media screen and (min-width: 768px) {
      .enroll-user-row__name {
        font-size: 16px;
        line-height: 24px; } }
  .enroll-user-row__location {
    font-size: 14px;
    line-height: 22px;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto; }
    @media screen and (min-width: 768px) {
      .enroll-user-row__location {
        font-size: 16px;
        line-height: 24px; } }
  .enroll-user-row__contact {
    line-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px 15px; }
    @media screen and (min-width: 768px) {
      .enroll-user-row__contact {
        margin: 0 15px; } }
  .enroll-user-row__tel {
    font-size: 14px;
    line-height: 1.71; }
  .enroll-user-row__email {
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    color: #354657; }
  .enroll-user-row__cta {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media screen and (min-width: 480px) {
      .enroll-user-row__cta {
        margin: 0 15px; } }
  .enroll-user-row__cta-btn.ui.button {
    margin-bottom: 0 !important;
    margin-right: 0 !important;
    min-width: auto !important; }
    @media screen and (min-width: 1024px) {
      .enroll-user-row__cta-btn.ui.button {
        min-width: 120px !important; } }
  .enroll-user-row:last-child {
    border-bottom: none; }

.enroll-main {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 1024px) {
    .enroll-main {
      width: calc(100% - 425px); } }
  .enroll-main__head {
    margin: 35px 60px 40px 60px;
    text-align: center; }
  .enroll-main .card-account__subheading {
    margin-top: 30px; }

.mini-profile {
  border-radius: 5px;
  border: 1px solid #EEEEEE;
  min-height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #F4F8FD; }
  .mini-profile__avatar {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 15px;
    border-radius: 15px; }
  .mini-profile__name {
    display: inline-block;
    hyphens: auto;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 700; }
  .mini-profile__edit {
    display: flex;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%); }
  .mini-profile__details {
    line-height: 14px;
    margin: 5px 0;
    max-width: 50%;
    padding: 7px 0; }
    .mini-profile__details p {
      font-size: 14px;
      font-weight: normal;
      line-height: 1.43; }
  .mini-profile--mw {
    min-width: 280px;
    margin: 20px auto 20px; }
    @media screen and (min-width: 768px) {
      .mini-profile--mw {
        margin: 20px auto 40px; } }
    @media screen and (min-width: 1024px) {
      .mini-profile--mw {
        max-width: 540px;
        width: 100%; } }

.change-account {
  display: flex;
  justify-content: space-between; }
  @media screen and (min-width: 768px) {
    .change-account {
      padding-left: 20px; } }
  .change-account__label {
    display: flex;
    align-items: center; }
  .change-account__title {
    font-size: 20px;
    line-height: 1.2; }
  .change-account__icon {
    display: flex;
    align-items: center;
    margin-right: 15px; }
  .change-account__actions {
    display: flex;
    align-items: center; }
    .change-account__actions a {
      font-size: 16px;
      line-height: 1.25;
      text-decoration: none;
      padding: 15px 25px; }

.email-lto {
  background: #BD8BCA;
  padding: 15px 20px 20px 20px; }
  @media screen and (min-width: 768px) {
    .email-lto {
      padding: 40px 20px 40px 20px; } }
  .email-lto__inner {
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 768px) {
      .email-lto__inner {
        flex-direction: row;
        justify-content: space-between; } }
  @media screen and (min-width: 768px) {
    .email-lto__content {
      width: calc(50% - 20px); } }
  .email-lto__title {
    font-size: 26px;
    line-height: 1.13;
    font-weight: 800;
    color: #FFFFFF;
    padding: 0 0 15px 0;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .email-lto__title {
        text-align: left;
        font-size: 30px; } }
  .email-lto__pics {
    display: flex;
    align-items: center;
    padding-top: 40px; }
    @media screen and (min-width: 768px) {
      .email-lto__pics {
        width: calc(50% - 20px);
        padding-top: 0;
        padding-left: 55px;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start; } }
    @media screen and (min-width: 768px) {
      .email-lto__pics--nt {
        justify-content: center; } }
  .email-lto--stack-top {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .email-lto--stack-bot {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

.email-kit {
  background: #FFFFFF;
  padding: 15px 20px 20px 20px; }
  @media screen and (min-width: 768px) {
    .email-kit {
      padding: 40px 20px 40px 20px; } }
  .email-kit__inner {
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 768px) {
      .email-kit__inner {
        flex-direction: row;
        justify-content: space-between; } }
  @media screen and (min-width: 768px) {
    .email-kit__content {
      width: calc(50% - 20px); } }
  .email-kit__title {
    line-height: 1.2;
    font-weight: 800;
    padding: 0 0 5px 0;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .email-kit__title {
        text-align: left;
        font-size: 20px; } }
  .email-kit__body {
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 480px) {
      .email-kit__body {
        flex-direction: row; } }
  .email-kit__text {
    flex: 1.5;
    font-size: 16px;
    line-height: 1.5;
    padding-right: 20px;
    text-align: center; }
    @media screen and (min-width: 480px) {
      .email-kit__text {
        text-align: left; } }
  .email-kit__more {
    font-size: 16px;
    line-height: 1.25;
    text-decoration: none;
    display: block;
    margin-top: 15px;
    margin-bottom: 20px; }
    @media screen and (min-width: 480px) {
      .email-kit__more {
        margin-top: 25px;
        margin-bottom: 0; } }
  .email-kit__image {
    flex: 1; }
  .email-kit__pics {
    display: flex;
    align-items: flex-start;
    padding-top: 40px;
    flex-direction: column; }
    @media screen and (min-width: 768px) {
      .email-kit__pics {
        flex-direction: row;
        width: calc(50% - 20px);
        padding-top: 0;
        padding-left: 55px;
        border-left: 1px solid #D1D1D1;
        flex-direction: column;
        align-items: flex-start; } }
    .email-kit__pics .email-kit__title {
      width: 100%; }
      @media screen and (min-width: 768px) {
        .email-kit__pics .email-kit__title {
          width: auto; } }
  .email-kit--stack-bot {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
  .email-kit--stack-top {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }

body.kit-select .block-head--pseudo-addproduct,
body.kit-select .drop-block--pseudo-addproduct {
  display: none; }
  body.kit-select .block-head--pseudo-addproduct.active,
  body.kit-select .drop-block--pseudo-addproduct.active {
    display: block; }
