.events-results__title {
  font-size: 1.875rem;
  margin-bottom: 0; }

.events-results__view-options {
  display: flex;
  align-items: center;
  margin-bottom: 40px; }

.events-results__view-name {
  margin-right: auto;
  font-size: 0.875rem;
  font-weight: 800; }

.events-results__filter-bar {
  padding-top: 20px;
  margin-bottom: 60px;
  box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white; }
  .events-results__filter-bar-title {
    font-size: 1.125rem;
    margin-bottom: 0; }
  .events-results__filter-bar-inner {
    padding: 20px 0; }
    @media screen and (min-width: 768px) {
      .events-results__filter-bar-inner {
        display: flex;
        align-items: flex-end; } }
  .events-results__filter-bar-group {
    margin-bottom: 20px; }
    @media screen and (min-width: 768px) {
      .events-results__filter-bar-group {
        margin-right: 20px;
        margin-bottom: 0; }
        .events-results__filter-bar-group--bordered {
          padding-right: 20px;
          border-right: 1px solid rgba(0, 0, 0, 0.2); } }
  .events-results__filter-bar-location-group-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    .events-results__filter-bar-location-group-inner > :first-child {
      flex: 1 1 auto;
      margin-bottom: 10px !important; }
    .events-results__filter-bar-location-group-inner > :last-child {
      width: 100%; }
    @media screen and (min-width: 768px) {
      .events-results__filter-bar-location-group-inner {
        flex-wrap: nowrap; }
        .events-results__filter-bar-location-group-inner > :first-child {
          flex: 1 1 0;
          margin-bottom: 0 !important; }
        .events-results__filter-bar-location-group-inner > :last-child {
          width: auto; } }
  .events-results__filter-bar-subtitle {
    font-size: 0.875rem;
    color: #4e657e; }
  .events-results__filter-bar-of {
    color: #354657;
    font-size: 0.875rem;
    font-weight: 800;
    margin: 0 15px; }
  .events-results__filter-bar-submit-button, .events-results__filter-bar-filters-button {
    width: auto; }
  .events-results__filter-bar-submit-button {
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 10px; }
  .events-results__filter-bar-filters-button {
    min-width: none;
    margin-left: auto !important; }
  .events-results__filter-bar .form-group {
    margin-bottom: 0; }
  .events-results__filter-bar select {
    min-width: 200px; }
  .events-results__filter-bar-extra {
    display: none;
    padding-top: 20px;
    color: white;
    background: #354657; }
    .events-results__filter-bar-extra--active {
      display: block; }
    @media screen and (min-width: 768px) {
      .events-results__filter-bar-extra .events-results__filter-bar-group--bordered {
        border-right: 1px solid rgba(255, 255, 255, 0.2); } }
    .events-results__filter-bar-extra .events-results__filter-bar-subtitle {
      margin-bottom: 1em;
      color: white; }
  .events-results__filter-bar-form-group-inline {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px; }
    .events-results__filter-bar-form-group-inline .form-check {
      padding-left: 0;
      margin: 0 10px; }

.events-results__calendar {
  margin-bottom: 60px; }
  .events-results__calendar--weekly {
    max-width: 1450px;
    margin-left: auto;
    margin-right: auto; }
