.events__search-card {
  transition: all ease-in-out 0.5s;
  margin: 0 -15px;
  display: block;
  width: auto;
  border-radius: 0;
  flex: 1 1 auto;
  padding: 30px 30px 30px 30px;
  order: 1; }
  @media screen and (min-width: 768px) {
    .events__search-card {
      height: 100%;
      padding: 50px 30px 30px 30px;
      order: 2; } }
  @media screen and (min-width: 1024px) {
    .events__search-card {
      order: -1;
      max-width: 500px;
      margin: 0;
      margin-bottom: -100px;
      align-self: flex-start;
      border-radius: 5px;
      min-width: 415px; } }
  .events__search-card-title {
    font-size: 1.5rem;
    margin-bottom: 30px; }
    @media screen and (min-width: 1024px) {
      .events__search-card-title {
        font-size: 2rem; } }
  .events__search-card-subtitle {
    font-size: 1.125rem; }
  .events__search-card-location-group {
    margin-bottom: 30px; }
  .events__search-card-miles-group {
    display: flex;
    align-items: center; }
    .events__search-card-miles-group select {
      max-width: 220px; }
  .events__search-card-of {
    color: #354657;
    font-size: 0.875rem;
    font-weight: 800;
    margin-left: 10px; }
  .events__search-card-date-group {
    margin-bottom: 30px; }
  .events__search-card--section {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 35px; }
    @media screen and (min-width: 768px) {
      .events__search-card--section {
        display: none; } }
  .events__search-card--section-inactive {
    display: none; }
  .events__search-card--active {
    display: block; }

.events .events-featured {
  border-bottom: 1px solid #D1D1D1;
  margin-bottom: 50px; }

.events__search-drop-cta {
  margin-left: -15px;
  margin-right: -15px;
  width: 100%;
  background-color: #FFFFFF;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex: 1 1 auto; }
  @media screen and (min-width: 768px) {
    .events__search-drop-cta {
      display: none; } }
  .events__search-drop-cta .icon--arrow-down {
    align-self: center; }

.events__search-drop-wrap {
  display: none; }
  .events__search-drop-wrap--active {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999999; }
  @media screen and (min-width: 768px) {
    .events__search-drop-wrap {
      display: flex;
      flex-wrap: wrap; } }
  .events__search-drop-wrap .events__search-card {
    display: none; }
    @media screen and (min-width: 768px) {
      .events__search-drop-wrap .events__search-card {
        display: block; } }
