.guest-bag__header {
  background-color: #F4F8FD;
  padding-bottom: 100px;
  padding-top: 40px;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .guest-bag__header {
      padding-top: 30px; } }

.guest-bag__title {
  padding-bottom: 20px; }

.guest-bag__main-content {
  margin-top: -100px;
  margin-bottom: 30px; }
  @media screen and (min-width: 768px) {
    .guest-bag__main-content--active .panel.bag {
      min-height: 750px; } }
  @media screen and (min-width: 768px) {
    .guest-bag__main-content--active .scroller {
      height: 580px;
      margin-top: 30px; } }

.guest-bag__new-link {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1rem; }
  .guest-bag__new-link:hover, .guest-bag__new-link:focus {
    text-decoration: underline; }

.guest-bag__summary {
  margin-top: 40px;
  text-align: center; }

.guest-bag__total {
  margin-bottom: 20px;
  font-weight: 700; }
  @media screen and (min-width: 768px) {
    .guest-bag__total {
      font-size: 20px; } }

body.no-hero.no-menu .guest-bag__header {
  padding-top: 20px; }
  body.no-hero.no-menu .guest-bag__header .your-link {
    padding-bottom: 10px; }
    @media screen and (min-width: 768px) {
      body.no-hero.no-menu .guest-bag__header .your-link {
        padding-bottom: 30px; } }
    @media screen and (min-width: 1024px) {
      body.no-hero.no-menu .guest-bag__header .your-link {
        padding-bottom: 50px; } }

@media screen and (max-width: 767px) {
  body.no-hero.no-menu main {
    padding-top: 100px; } }
