.account .hero--login {
  min-height: 550px;
  margin-bottom: 400px;
  padding-top: 100px; }
  @media screen and (min-width: 480px) {
    .account .hero--login {
      min-height: 720px;
      margin-bottom: 300px; } }
  .account .hero--login .hero__heading {
    text-align: center;
    color: #354657;
    margin-bottom: 15px; }
  .account .hero--login .hero__text {
    width: 100%;
    color: #354657;
    text-align: center;
    font-size: 1rem; }

@media screen and (max-width: 767px) {
  .account .hero__card {
    box-shadow: none; } }

.account .account-form {
  overflow: hidden; }
  .account .account-form__sidebar {
    text-align: center;
    padding: 25px;
    font-size: 1rem; }
    @media screen and (min-width: 480px) {
      .account .account-form__sidebar {
        height: 110%;
        padding: 50px 15%;
        /* Rectangle 5 Copy 6: */
        box-shadow: 0 5px 10px 0 rgba(51, 51, 51, 0.13); } }
    .account .account-form__sidebar .icon {
      display: none;
      margin: 0 auto; }
      @media screen and (min-width: 480px) {
        .account .account-form__sidebar .icon {
          display: block; } }
    .account .account-form__sidebar__heading {
      margin: 25px 0 20px 0; }
    .account .account-form__sidebar p {
      font-size: 0.9rem; }
    .account .account-form__sidebar .ui.button {
      margin-bottom: 30px; }
      @media screen and (max-width: 767px) {
        .account .account-form__sidebar .ui.button {
          width: 100%; } }
  .account .account-form__inner {
    padding: 25px;
    font-size: 1rem;
    height: 100%; }
    @media screen and (max-width: 767px) {
      .account .account-form__inner {
        border-radius: 5px;
        box-shadow: 0 5px 10px 0 rgba(51, 51, 51, 0.1); } }
    @media screen and (min-width: 480px) {
      .account .account-form__inner {
        padding: 35px 25px 35px 0; } }
    .account .account-form__inner form {
      flex-direction: column; }
      @media screen and (min-width: 480px) {
        .account .account-form__inner form {
          display: flex;
          height: 100%; } }
    .account .account-form__inner .action-link {
      display: block;
      font-weight: 800;
      text-decoration: none;
      font-size: 90%;
      margin: 10px 0 10px; }
  .account .account-form__success {
    display: none;
    flex-direction: column;
    height: 100%;
    text-align: center;
    padding-top: 20px; }
    .account .account-form__success .icon {
      margin: 0 auto; }
    .account .account-form__success__heading {
      margin: 20px 0; }

.account .forgotten-password-form form.forgotten-password-form__logincode {
  display: none; }

.account .forgotten-password-form .logincode {
  display: flex;
  justify-content: center;
  margin: 30px 0 15px; }
  .account .forgotten-password-form .logincode input {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    border: 2px solid #EEEEEE;
    margin: 0 4px;
    text-align: center;
    font-weight: 700;
    padding: 0;
    font-size: 1.2rem;
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }
    @media screen and (min-width: 480px) {
      .account .forgotten-password-form .logincode input {
        width: 50px;
        height: 50px;
        line-height: 50px; } }
    .account .forgotten-password-form .logincode input.complete, .account .forgotten-password-form .logincode input:active, .account .forgotten-password-form .logincode input:focus, .account .forgotten-password-form .logincode input:hover {
      outline: none;
      border-color: #BD8BCA;
      background-color: #F8F3F9; }
  .account .forgotten-password-form .logincode input[type=number]::-webkit-inner-spin-button,
  .account .forgotten-password-form .logincode input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .account .forgotten-password-form .logincode + small {
    text-align: center;
    width: 100%;
    display: block; }
    .account .forgotten-password-form .logincode + small a {
      text-decoration: none;
      font-weight: 800; }

.account .reset-password-form .form-group {
  margin-bottom: 0; }

.account .reset-password-form .password-strength {
  padding: 25px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1); }
  .account .reset-password-form .password-strength__heading {
    font-size: 0.9rem;
    margin-bottom: 15px; }
  .account .reset-password-form .password-strength__requirements {
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #EEEEEE; }
  .account .reset-password-form .password-strength__requirement {
    font-size: 0.9rem;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px; }
    .account .reset-password-form .password-strength__requirement.valid {
      color: #7BB739;
      background-image: url(/images/icons/tick.svg); }
    .account .reset-password-form .password-strength__requirement.invalid {
      background-image: url(/images/icons/cross.svg);
      color: #DE6C6C; }
  .account .reset-password-form .password-strength__meter label {
    font-size: 0.95rem; }
    .account .reset-password-form .password-strength__meter label span {
      font-weight: 800; }
  .account .reset-password-form .password-strength__meter__bar {
    width: 100%;
    height: 7px;
    background: #EEEEEE;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    position: relative; }
    .account .reset-password-form .password-strength__meter__bar__inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      border-radius: 100px;
      background: #F8B259;
      height: 7px;
      display: inline-block;
      transition: all .3s; }
      .account .reset-password-form .password-strength__meter__bar__inner[data-strength="0"] {
        width: 20%;
        background: #DE6C6C; }
      .account .reset-password-form .password-strength__meter__bar__inner[data-strength="1"] {
        width: 40%;
        background: #DE6C6C; }
      .account .reset-password-form .password-strength__meter__bar__inner[data-strength="2"] {
        width: 60%;
        background: #F8B259; }
      .account .reset-password-form .password-strength__meter__bar__inner[data-strength="3"] {
        width: 80%;
        background: #7BB739; }
      .account .reset-password-form .password-strength__meter__bar__inner[data-strength="4"] {
        width: 100%;
        background: #7BB739; }
