.lrp-create .button--centered {
  display: block;
  margin: 30px auto; }

@media screen and (min-width: 480px) {
  .lrp-create .hero .button {
    min-width: 315px !important; } }

.lrp-create .spotlight {
  background-color: #FFFFFF; }
  .lrp-create .spotlight-card {
    padding-top: 70px;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .lrp-create .spotlight-card {
        margin-top: -40px !important; } }
    .lrp-create .spotlight-card__logo {
      width: 70px;
      margin-bottom: 20px; }
    .lrp-create .spotlight-card__heading {
      margin-bottom: 20px; }
    .lrp-create .spotlight-card__copy {
      margin: 20px;
      font-size: 20px; }
    .lrp-create .spotlight-card__image {
      max-width: 100%;
      padding: 0 30px; }
    .lrp-create .spotlight-card__disclaimer {
      font-style: italic;
      margin-top: 10px; }
    .lrp-create .spotlight-card .button {
      margin-bottom: 40px; }
  .lrp-create .spotlight-list {
    padding: 0;
    max-width: 460px;
    margin: auto; }
    @media screen and (min-width: 1024px) {
      .lrp-create .spotlight-list {
        margin: 150px auto 20px auto; } }
    .lrp-create .spotlight-list__item {
      position: relative;
      list-style-type: none;
      text-align: center;
      margin-bottom: 40px;
      line-height: 24px;
      font-size: 16px; }
      @media screen and (min-width: 1024px) {
        .lrp-create .spotlight-list__item {
          padding-left: 70px;
          text-align: left; } }
      .lrp-create .spotlight-list__item strong {
        display: block;
        font-size: 20px;
        line-height: 28px; }
    .lrp-create .spotlight-list__icon {
      width: 50px;
      height: 50px;
      left: 0;
      top: 0; }
      @media screen and (min-width: 1024px) {
        .lrp-create .spotlight-list__icon {
          position: absolute; } }
      .lrp-create .spotlight-list__icon--bottle {
        width: 30px;
        height: 30px; }
        @media screen and (min-width: 1024px) {
          .lrp-create .spotlight-list__icon--bottle {
            left: 10px; } }
    .lrp-create .spotlight-list__link {
      display: block;
      margin-top: 10px;
      font-size: 14px;
      font-weight: 700;
      text-decoration: none; }
      .lrp-create .spotlight-list__link:hover {
        text-decoration: underline; }

.lrp-create .carousel {
  margin-top: 30px; }
  .lrp-create .carousel .owl-carousel {
    padding-bottom: 30px; }
    .lrp-create .carousel .owl-carousel .owl-nav .owl-prev {
      left: -25px; }
    .lrp-create .carousel .owl-carousel .owl-nav .owl-next {
      right: -25px; }
    @media screen and (min-width: 768px) {
      .lrp-create .carousel .owl-carousel {
        height: 520px;
        padding-bottom: 0; }
        .lrp-create .carousel .owl-carousel .owl-dots {
          margin-top: -40px !important;
          position: relative;
          z-index: 20; } }
  .lrp-create .carousel__wrap {
    background-color: #F4F8FD; }
  .lrp-create .carousel__item {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px; }
    @media screen and (min-width: 768px) {
      .lrp-create .carousel__item {
        height: 520px; } }
  .lrp-create .carousel__copy {
    text-align: center;
    margin-bottom: 20px; }
    @media screen and (min-width: 768px) {
      .lrp-create .carousel__copy {
        text-align: left;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        float: left;
        padding: 80px 30px;
        margin-bottom: 0; } }
    .lrp-create .carousel__copy h2 {
      margin-bottom: 10px;
      margin-top: 20px; }
      @media screen and (min-width: 768px) {
        .lrp-create .carousel__copy h2 {
          margin-bottom: 20px;
          margin-top: 0; } }
  @media screen and (min-width: 768px) {
    .lrp-create .carousel__image {
      display: flex;
      width: 45%;
      height: 100%;
      align-items: center;
      justify-content: center; } }
  .lrp-create .carousel__button {
    margin: 30px 0; }
  .lrp-create .carousel__disclaimer {
    text-align: center;
    margin-bottom: 20px; }
    @media screen and (min-width: 768px) {
      .lrp-create .carousel__disclaimer {
        margin-bottom: 80px; } }
    .lrp-create .carousel__disclaimer a {
      text-decoration: none;
      font-weight: bold; }
      .lrp-create .carousel__disclaimer a:hover {
        text-decoration: underline; }
