.lrp__content {
  margin-top: -85px;
  position: relative;
  background-color: #FFFFFF;
  box-shadow: 0 2px 15px 0 rgba(51, 51, 51, 0.2);
  margin-bottom: 30px;
  border-radius: 5px;
  margin-left: -20px;
  margin-right: -20px; }
  @media screen and (min-width: 768px) {
    .lrp__content {
      margin-left: 0;
      margin-right: 0;
      padding: 0 0 40px; } }
  @media screen and (min-width: 768px) {
    .lrp__content--flush {
      padding: 0; } }
  @media screen and (min-width: 1024px) {
    .lrp__content--fixed-sidebar .lrp__sidebar {
      position: absolute;
      margin-right: 10px;
      margin-bottom: -20px;
      width: calc(100% - 40px); } }
  @media screen and (min-width: 768px) {
    .lrp__content--fixed-sidebar .lrp__header {
      padding: 0 0 40px; } }
  .lrp__content + .lrp__content {
    margin-top: 40px; }

.lrp .product__overlay-link {
  display: none; }

.lrp__header {
  border-bottom: 1px solid #EEEEEE; }

.lrp__main {
  padding: 30px 0 20px; }
  @media screen and (min-width: 480px) {
    .lrp__main {
      padding: 40px 0 20px; } }
  .lrp__main .lrp__sidebar {
    margin-top: 0; }
  .lrp__main--alt {
    overflow: hidden; }
    @media screen and (min-width: 480px) {
      .lrp__main--alt {
        padding-top: 0; } }

.lrp__main-intro {
  text-align: center; }
  @media screen and (min-width: 768px) {
    .lrp__main-intro {
      text-align: left; } }
  .lrp__main-intro p {
    font-size: 14px;
    line-height: 1.43; }
    @media screen and (min-width: 768px) {
      .lrp__main-intro p {
        font-size: 16px;
        line-height: 24px; } }

@media screen and (min-width: 768px) {
  .lrp__sidebar {
    margin-top: -15px; } }

.lrp__sidebar--flex {
  display: flex;
  flex-direction: column; }

.lrp__order-summary {
  order: 1; }
  @media screen and (min-width: 768px) {
    .lrp__order-summary {
      order: -1; } }

.lrp__products {
  margin-left: -20px;
  width: calc(100% + 40px);
  padding: 10px 0; }
  @media screen and (min-width: 768px) {
    .lrp__products {
      margin-left: -10px;
      width: calc(100% + 20px); } }

.lrp__actions {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media screen and (min-width: 1024px) {
    .lrp__actions {
      flex-direction: row; } }

.lrp__cancel {
  background: transparent;
  padding: 0;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #BD8BCA;
  text-align: left;
  margin-bottom: 20px;
  cursor: pointer; }
  .lrp__cancel:hover, .lrp__cancel:focus {
    text-decoration: underline; }
  @media screen and (min-width: 1024px) {
    .lrp__cancel {
      width: 33.33%;
      margin-bottom: 0; } }

.lrp__submit {
  width: 250px !important; }

@media screen and (min-width: 768px) {
  .lrp.product-detail .spotlight__head {
    padding-top: 100px; } }

@media screen and (max-width: 767px) {
  .lrp .hero--wlrpheader {
    padding-top: 145px;
    min-height: 390px; } }

@media screen and (min-width: 768px) {
  .lrp .hero--wlrpheader {
    padding-top: 95px; } }

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  .lrp__sidebar--fixed {
    width: calc(100% - 25px) !important; } }
