.product-detail .product-featured .loyalty-order__item-cta .ui.button:hover, .product-detail .product-featured .loyalty-order__item-cta .ui.button:focus, .product-detail .product-featured .loyalty-order__item-cta .ui.button:active, .product-detail .product-featured .loyalty-order__item-cta .ui.button:focus:active,
.product-detail .spotlight-product .loyalty-order__item-cta .ui.button:hover,
.product-detail .spotlight-product .loyalty-order__item-cta .ui.button:focus,
.product-detail .spotlight-product .loyalty-order__item-cta .ui.button:active,
.product-detail .spotlight-product .loyalty-order__item-cta .ui.button:focus:active {
  border-color: #FFFFFF !important;
  background-color: #FFFFFF !important;
  color: #354657 !important; }

.product-detail .ui.button.basic.themed:hover,
.product-detail .ui.button.basic.themed:active,
.product-detail .ui.button.basic.themed:focus {
  background: transparent !important;
  color: inherit !important; }

.product-detail .product-resources__cta-link:hover,
.product-detail .product-resources__cta-link:active,
.product-detail .product-resources__cta-link:focus {
  text-decoration: underline;
  color: inherit; }
  .product-detail .product-resources__cta-link:hover .icon--download::before,
  .product-detail .product-resources__cta-link:active .icon--download::before,
  .product-detail .product-resources__cta-link:focus .icon--download::before {
    background-image: url("/images/icons/download-fill.svg"); }

.product-detail .spotlight .product__add-bag,
.product-detail .product-featured .product__add-bag {
  color: #FFFFFF; }

@media screen and (min-width: 768px) {
  .product-detail__theme--brand-feature-deep-blue .product-benefits__title {
    font-size: 64px;
    line-height: 64px; } }

.product-detail__theme--brand-feature-deep-blue .product-foundation.product-foundation--promo .product-foundation__body-item-block {
  color: #FFFFFF; }

@media screen and (min-width: 768px) {
  .product-detail__theme--brand-feature-deep-blue .product-foundation.product-foundation--promo .product-foundation__body-item-block-head-title {
    font-size: 64px;
    line-height: 1; } }

.product-detail__theme--brand-feature-deep-blue .product-foundation.product-foundation--promo .product-foundation__body-item-block-head-title span {
  color: #FFFFFF; }

.product-detail__theme--brand-feature-verage .spotlight-feature__foot {
  background: #7FCFA4; }
  .product-detail__theme--brand-feature-verage .spotlight-feature__foot .product-benefits__body {
    color: #FFFFFF; }
