@media (max-width: 767px) {
  .rwp .mobile__toolbar .nav .nav__item .nav__link {
    flex: 0; } }

.rwp.is-region-notice .sticky-panel {
  top: 200px !important; }
  @media screen and (min-width: 768px) {
    .rwp.is-region-notice .sticky-panel {
      top: 180px !important; } }

.rwp .overlay {
  display: none;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(193, 199, 205, 0.7);
  backdrop-filter: blur(5px); }

.rwp .spotlight {
  background-color: #FFFFFF;
  z-index: 10; }
  .rwp .spotlight-card {
    padding-top: 70px;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .rwp .spotlight-card {
        margin-top: -40px !important; } }
    .rwp .spotlight-card__logo {
      width: 180px;
      margin-bottom: 20px; }
    .rwp .spotlight-card__avatar {
      margin-bottom: 20px; }
    .rwp .spotlight-card__heading {
      font-size: 30px;
      margin-bottom: 10px; }
    .rwp .spotlight-card__subheading {
      font-size: 14px;
      color: #BD8BCA;
      margin-bottom: 20px; }
    .rwp .spotlight-card__copy {
      margin: 20px 20px 40px 20px;
      font-size: 20px; }
    .rwp .spotlight-card__image {
      max-width: 100%;
      padding: 0 30px; }
    .rwp .spotlight-card__disclaimer {
      font-style: italic;
      margin-top: 10px; }
    .rwp .spotlight-card .button {
      margin-bottom: 40px; }
  .rwp .spotlight-list {
    padding: 0;
    max-width: 500px;
    margin: 40px auto 20px; }
    @media screen and (min-width: 1024px) {
      .rwp .spotlight-list {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        margin: 0 auto; } }
    .rwp .spotlight-list__item {
      position: relative;
      list-style-type: none;
      margin-bottom: 40px;
      line-height: 24px;
      font-size: 16px;
      text-align: center; }
      .rwp .spotlight-list__item:last-child {
        margin-bottom: 0; }
      @media screen and (min-width: 768px) {
        .rwp .spotlight-list__item {
          text-align: left;
          padding-left: 70px; } }
      .rwp .spotlight-list__item strong {
        display: block;
        font-size: 20px;
        line-height: 28px; }
    .rwp .spotlight-list__icon {
      width: 50px;
      height: 50px;
      margin-bottom: 5px; }
      @media screen and (min-width: 768px) {
        .rwp .spotlight-list__icon {
          position: absolute;
          left: 0;
          top: 0;
          margin-bottom: 0; } }
      .rwp .spotlight-list__icon--bottle {
        width: 30px;
        height: 30px;
        left: 10px; }
    .rwp .spotlight-list__link {
      display: block;
      margin-top: 10px;
      font-size: 14px; }

.rwp .favourites {
  padding-top: 70px; }
  .rwp .favourites .h3 {
    line-height: 1;
    font-size: 48px; }
    @media screen and (min-width: 768px) {
      .rwp .favourites .h3 {
        line-height: 22px; } }

.rwp .advertising {
  padding: 40px 0; }
  @media screen and (min-width: 768px) {
    .rwp .advertising {
      padding: 60px 60px 80px 60px; } }

.rwp .product-benefits {
  background-color: #F5EEF7; }

.rwp .products {
  border-bottom: 0; }

@media screen and (max-width: 767px) {
  .rwp .header .header__toolbar {
    position: absolute;
    right: 0; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .rwp .header .header__toolbar {
    position: absolute;
    right: 0;
    top: 4px; } }

@media (max-width: 1023px) {
  .rwp .header .header__logo {
    flex: auto; } }

@media screen and (max-width: 767px) {
  .rwp .header .mobile__toolbar {
    position: absolute;
    top: 2px;
    left: 0; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .rwp .header .mobile__toolbar {
    position: absolute;
    top: 13px;
    left: 0; } }

@media screen and (max-width: 767px) {
  body.w-sticky-panel .hero.hero--rwp {
    padding-top: 230px; } }
