.account-next {
  margin: 25px 0 0; }
  @media screen and (min-width: 768px) {
    .account-next {
      margin: 75px 0; } }
  .account-next__intro {
    max-width: 700px;
    margin: 0 auto 40px;
    text-align: left; }
    @media screen and (min-width: 768px) {
      .account-next__intro {
        text-align: center; } }
  .account-next__heading {
    text-align: center; }
  .account-next__sub-heading {
    text-align: center; }
  .account-next__steps {
    margin: 25px 0 0; }
    @media screen and (min-width: 768px) {
      .account-next__steps {
        margin: 50px 0 0; } }
  .account-next--compact {
    max-width: 625px;
    margin-bottom: 0; }
    @media screen and (min-width: 768px) {
      .account-next--compact {
        margin-top: 10px;
        padding: 0 0 0 30px; } }
    .account-next--compact .account-next__intro {
      max-width: 100%;
      margin: 0 0 30px; }
      @media screen and (min-width: 768px) {
        .account-next--compact .account-next__intro {
          text-align: left; } }
    .account-next--compact .account-next__heading {
      text-align: left;
      max-width: 500px; }
    .account-next--compact .account-next__sub-heading {
      margin-bottom: 25px; }
    .account-next--compact .account-next__sub-heading,
    .account-next--compact .account-next__steps {
      text-align: left; }
      @media screen and (min-width: 1024px) {
        .account-next--compact .account-next__sub-heading,
        .account-next--compact .account-next__steps {
          margin-left: 50px; } }
    .account-next--compact .account-next__steps {
      margin-top: 0; }
  .account-next--modal {
    margin: 20px 0 0; }
    @media screen and (min-width: 768px) {
      .account-next--modal {
        margin: 20px 0; } }
    .account-next--modal .account-next__steps {
      margin-top: 0px;
      padding-top: 10px; }
