.page-error__header {
  background-color: #F5EEF7;
  height: 250px;
  margin-top: 82px;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media screen and (min-width: 1024px) {
    .page-error__header {
      margin-top: 100px; } }

.page-error__title {
  display: inline-block;
  font-size: 64px;
  font-weight: 600;
  color: #354657;
  position: relative; }
  .page-error__title i {
    display: block;
    background-color: #A25EB5;
    position: absolute;
    width: 21px;
    height: 5px;
    left: 50%; }
  .page-error__title--404 i {
    top: -15px;
    margin-left: -11px; }
    @media screen and (min-width: 768px) {
      .page-error__title--404 i {
        top: 0; } }
  .page-error__title--generic i {
    top: -8px;
    margin-left: -22px; }
    @media screen and (min-width: 768px) {
      .page-error__title--generic i {
        top: 8px; } }

.page-error__content {
  padding-top: 40px;
  padding-bottom: 20px; }
  @media screen and (min-width: 768px) {
    .page-error__content {
      padding-top: 80px;
      padding-bottom: 80px; } }

.page-error__copy {
  max-width: 650px;
  margin: 0 auto 40px;
  text-align: center; }
  .page-error__copy p {
    font-size: 20px; }

.page-error__ctas {
  text-align: center;
  margin-top: auto;
  margin-bottom: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media screen and (min-width: 768px) {
    .page-error__ctas {
      padding-top: 20px;
      margin-bottom: 0;
      flex-direction: row;
      align-items: flex-end; } }
  .page-error__ctas a.ui.button {
    min-width: 220px !important;
    max-width: 100%;
    margin-bottom: 20px; }
    @media screen and (min-width: 768px) {
      .page-error__ctas a.ui.button {
        margin-bottom: 0; } }
    @media screen and (max-width: 767px) {
      .page-error__ctas a.ui.button {
        max-width: 250px;
        margin-left: auto;
        margin-right: auto; } }
