.multipack {
  padding: 0 !important; }
  .multipack__inner {
    margin: 0 8px; }
    @media screen and (min-width: 768px) {
      .multipack__inner {
        margin: 0; } }
  .multipack__header {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 50px 20px 250px;
    display: flex;
    align-items: center;
    min-height: 295px;
    position: relative;
    margin-left: -8px;
    margin-right: -8px; }
    .multipack__header::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(53, 70, 87, 0.3);
      z-index: 1; }
    @media screen and (min-width: 768px) {
      .multipack__header {
        min-height: 240px;
        padding-top: 40px;
        margin-left: 0;
        margin-right: 0; } }
    @media screen and (min-width: 1024px) {
      .multipack__header {
        min-height: 395px;
        padding-top: 20px; } }
  .multipack .close {
    z-index: 100;
    opacity: 1;
    cursor: pointer;
    margin: 0; }
  .multipack__heading {
    max-width: 875px;
    margin: 0 auto 15px !important;
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 32px;
    z-index: 100; }
    @media screen and (min-width: 1024px) {
      .multipack__heading {
        font-size: 32px;
        line-height: 40px;
        margin: 15px auto 0 !important; } }
  .multipack__panel {
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
    margin: -250px auto 35px;
    padding: 20px 30px;
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (min-width: 768px) {
      .multipack__panel {
        flex-direction: row;
        max-width: 650px;
        margin: -250px auto 40px; } }
    @media screen and (min-width: 1024px) {
      .multipack__panel {
        max-width: 875px;
        margin: -250px auto 55px;
        padding: 40px 30px; } }
  @media screen and (min-width: 768px) {
    .multipack__panel-img {
      max-width: 33.33%;
      flex-basis: 33.33%; } }
  @media screen and (min-width: 1024px) {
    .multipack__panel-img {
      max-width: 40%;
      flex-basis: 40%; } }
  .multipack__panel-img img {
    height: auto;
    max-width: 100%; }
  .multipack__panel-content {
    text-align: center; }
    @media screen and (min-width: 768px) {
      .multipack__panel-content {
        flex: 1;
        padding-left: 50px; } }
    @media screen and (min-width: 1024px) {
      .multipack__panel-content {
        padding-left: 50px; } }
  .multipack__product-name {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 10px; }
    @media screen and (min-width: 768px) {
      .multipack__product-name {
        font-size: 20px;
        line-height: 28px; } }
  .multipack__costs {
    margin: 0 auto;
    width: 100%;
    padding-top: 0; }
  .multipack__wholesale {
    color: #84909B;
    font-weight: 500; }
