.product-blends {
  padding-top: 40px;
  padding-bottom: 20px; }
  @media screen and (min-width: 768px) {
    .product-blends {
      padding-top: 80px; } }
  .product-blends .owl-stage-outer {
    padding: 10px;
    margin: -10px; }
  .product-blends__title {
    font-size: 30px;
    line-height: 1;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px; }
    @media screen and (min-width: 768px) {
      .product-blends__title {
        font-size: 48px;
        line-height: 50px;
        text-align: left;
        padding-left: 0;
        padding-right: 0; } }
  .product-blends__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .product-blends__wrap--carousel {
      text-align: left; }
      .product-blends__wrap--carousel .owl-stage-outer {
        padding-top: 15px;
        padding-bottom: 10px; }
      .product-blends__wrap--carousel .promo__item-block-body {
        padding: 0;
        font-size: 20px; }
      .product-blends__wrap--carousel .promo__item-title {
        text-align: left;
        font-weight: 800;
        margin-top: 15px; }
        @media screen and (min-width: 768px) {
          .product-blends__wrap--carousel .promo__item-title {
            margin-top: 5px; } }
      .product-blends__wrap--carousel .promo__item-copy {
        text-align: left;
        font-size: 12px;
        line-height: 1.5; }
        @media screen and (min-width: 768px) {
          .product-blends__wrap--carousel .promo__item-copy {
            font-size: 16px; } }
      .product-blends__wrap--carousel .promo__item-drops {
        min-width: 125px; }
      .product-blends__wrap--carousel .promo__item-drop-title {
        min-width: auto;
        font-size: 20px;
        font-weight: 800;
        display: flex;
        align-items: center;
        padding-right: 10px;
        font-size: 14px;
        line-height: 1.14; }
        @media screen and (min-width: 768px) {
          .product-blends__wrap--carousel .promo__item-drop-title {
            font-size: 20px;
            min-width: 135px;
            padding-left: 10px; } }
      .product-blends__wrap--carousel .promo__item-drop-amnt {
        font-size: 14px;
        line-height: 1.14;
        font-style: italic;
        display: flex;
        align-items: center;
        padding-top: 4px; }
        @media screen and (min-width: 480px) {
          .product-blends__wrap--carousel .promo__item-drop-amnt {
            padding-top: 0; } }
        @media screen and (min-width: 768px) {
          .product-blends__wrap--carousel .promo__item-drop-amnt {
            font-size: 20px; } }
  .product-blends__item {
    width: 100%; }
  .product-blends__item-block {
    background: 0 0 no-repeat transparent;
    background-size: cover !important;
    box-shadow: 0 2px 15px 0 rgba(51, 51, 51, 0.2);
    display: flex;
    position: relative;
    height: 100%;
    border-radius: 5px;
    padding: 20px; }
    @media screen and (min-width: 768px) {
      .product-blends__item-block {
        padding: 40px; } }
    .product-blends__item-block--dark {
      color: #FFFFFF; }
