.product-comparison {
  padding-top: 50px; }
  @media screen and (min-width: 768px) {
    .product-comparison {
      padding-top: 60px;
      padding-bottom: 60px; } }
  .product-comparison__wrap {
    overflow-x: scroll; }
    @media screen and (min-width: 768px) {
      .product-comparison__wrap {
        overflow-x: visible; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .product-comparison__wrap {
        overflow-x: scroll; } }
  .product-comparison__title {
    font-size: 30px;
    line-height: 1;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .product-comparison__title {
        font-size: 48px;
        line-height: 50px; } }
  .product-comparison__table {
    border-collapse: collapse;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .product-comparison__table {
        table-layout: fixed; } }
    .product-comparison__table thead tr td {
      width: 20%;
      font-size: 20px;
      font-weight: 700; }
    .product-comparison__table thead tr:last-child th {
      background: transparent;
      padding-top: 15px;
      padding-bottom: 15px; }
      .product-comparison__table thead tr:last-child th:nth-child(2) {
        background-color: rgba(204, 166, 176, 0.2); }
    .product-comparison__table tbody tr td {
      font-size: 16px;
      text-align: left;
      vertical-align: top;
      padding: 14px 20px; }
    .product-comparison__table tbody tr td:first-child {
      font-weight: 700; }
    .product-comparison__table tbody tr td:nth-child(2) {
      background-color: rgba(204, 166, 176, 0.2); }
    .product-comparison__table tbody tr:nth-child(odd) {
      background-color: #f2f2f2; }
    .product-comparison__table tbody tr:last-child {
      background-color: transparent; }
      .product-comparison__table tbody tr:last-child td {
        text-align: center; }
  .product-comparison--bold td {
    font-weight: 700; }
  .product-comparison--brand td {
    color: #A25EB5; }
  .product-comparison ul {
    padding-left: 18px; }
    .product-comparison ul li {
      font-size: 16px; }
  .product-comparison .ui.button {
    min-width: 150px; }
    @media (min-width: 768px) and (max-width: 1024px) {
      .product-comparison .ui.button {
        min-width: auto; } }
