.product-benefits {
  padding: 50px 0; }
  @media screen and (min-width: 768px) {
    .product-benefits {
      padding: 97px 59px 97px 0; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .product-benefits {
      padding: 40px 0; } }
  .product-benefits__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .product-benefits__wrap-item {
    background-color: #FFFFFF;
    width: 50%;
    display: flex; }
    .product-benefits__wrap-item--fw {
      width: 100%;
      background: transparent; }
  .product-benefits__info {
    order: 2; }
    @media screen and (min-width: 768px) {
      .product-benefits__info {
        order: 1;
        padding-right: 40px;
        max-width: 50%; } }
    @media screen and (min-width: 1024px) {
      .product-benefits__info {
        order: 1;
        padding-right: 80px;
        max-width: 450px; } }
  .product-benefits__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 1; }
    @media screen and (min-width: 768px) {
      .product-benefits__title {
        font-size: 28px; } }
    @media screen and (min-width: 1024px) {
      .product-benefits__title {
        font-size: 48px; } }
  .product-benefits__copy {
    font-size: 14px;
    line-height: 20px; }
    .product-benefits__copy p {
      font-size: 14px;
      line-height: 20px; }
    @media screen and (min-width: 768px) {
      .product-benefits__copy {
        font-size: 16px;
        line-height: 24px; }
        .product-benefits__copy p {
          font-size: 16px;
          line-height: 24px; } }
  .product-benefits__media {
    box-shadow: 0 2px 15px 0 rgba(51, 51, 51, 0.25);
    background-position: center center;
    background-size: cover;
    margin-bottom: auto;
    line-height: 0;
    margin-bottom: 25px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    align-self: flex-start;
    min-width: 100%;
    order: 1; }
    @media screen and (min-width: 768px) {
      .product-benefits__media {
        width: 768px;
        min-width: auto;
        margin-top: 0;
        order: 2; } }
    .product-benefits__media img {
      width: 100%; }
  .product-benefits__media-play {
    display: block;
    position: absolute;
    z-index: 10;
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    top: calc(50% - 20px); }
    .product-benefits__media-play img {
      width: 100%; }
    @media screen and (min-width: 768px) {
      .product-benefits__media-play {
        width: 80px;
        height: 80px;
        left: calc(50% - 40px);
        top: calc(50% - 40px); } }
  .product-benefits__body {
    display: flex;
    flex-direction: column;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .product-benefits__body {
        flex-direction: row;
        justify-content: space-between; } }
  @media screen and (min-width: 768px) {
    .product-benefits--reverse .product-benefits__media {
      order: 1; } }
  @media screen and (min-width: 768px) {
    .product-benefits--reverse .product-benefits__info {
      order: 2;
      padding-right: 40px;
      padding-left: 40px; } }
  .product-benefits--light {
    color: #FFFFFF; }
  @media screen and (min-width: 768px) {
    .product-benefits--feature {
      padding-left: 0; } }
