.product-whats-inside {
  letter-spacing: normal; }
  .product-whats-inside__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px; }
    @media screen and (min-width: 768px) {
      .product-whats-inside__wrap {
        padding-top: 0; } }
  .product-whats-inside__wrap-item {
    background-color: #FFFFFF;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .product-whats-inside__wrap-item {
        width: 50%; } }
    .product-whats-inside__wrap-item--image {
      display: none; }
      @media screen and (min-width: 768px) {
        .product-whats-inside__wrap-item--image {
          display: block; } }
  .product-whats-inside__pic {
    height: 100%;
    background-size: cover; }
  .product-whats-inside__title {
    font-size: 30px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media screen and (max-width: 767px) {
      .product-whats-inside__title {
        margin-bottom: 0; } }
    @media screen and (min-width: 480px) {
      .product-whats-inside__title {
        padding-top: 35px;
        font-size: 40px;
        line-height: 40px;
        align-items: flex-end;
        justify-content: flex-start; } }
    @media screen and (min-width: 1024px) {
      .product-whats-inside__title {
        align-items: flex-end;
        padding-top: 75px;
        font-size: 64px;
        line-height: 64px; } }
  .product-whats-inside__title-pic {
    display: block;
    margin-right: 20px; }
    @media screen and (min-width: 768px) {
      .product-whats-inside__title-pic {
        display: none; } }
  .product-whats-inside__content {
    display: flex; }
  .product-whats-inside__info {
    padding: 0; }
    @media screen and (min-width: 768px) {
      .product-whats-inside__info {
        padding: 30px; } }
  .product-whats-inside__tab-wrap {
    display: flex;
    align-items: flex-start;
    padding-top: 40px; }
    @media screen and (min-width: 768px) {
      .product-whats-inside__tab-wrap {
        align-items: stretch; } }
  .product-whats-inside__info-list {
    min-width: 200px;
    display: none; }
    @media screen and (min-width: 1024px) {
      .product-whats-inside__info-list {
        display: block; } }
  .product-whats-inside__info-list-title {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
    display: none; }
    @media screen and (min-width: 768px) {
      .product-whats-inside__info-list-title {
        display: block; } }
  .product-whats-inside__info-list-item {
    color: #D1D1D1 !important;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid #EEEEEE;
    padding: 10px 0;
    cursor: pointer; }
    @media screen and (min-width: 1024px) {
      .product-whats-inside__info-list-item {
        padding: 0 0 24px;
        border: none;
        font-weight: 800;
        font-size: 20px;
        line-height: 1.2; } }
    .product-whats-inside__info-list-item.active {
      font-weight: 800 !important; }
  .product-whats-inside__info-list-item.active + .product-whats-inside__info-list-item__content {
    border-bottom: 1px solid #EEEEEE; }
    @media screen and (min-width: 1024px) {
      .product-whats-inside__info-list-item.active + .product-whats-inside__info-list-item__content {
        border: none; } }
  @media screen and (min-width: 1024px) {
    .product-whats-inside__info-detail .product-whats-inside__info-list-item {
      display: none; } }
  @media screen and (min-width: 1024px) {
    .product-whats-inside__info-detail .product-whats-inside__info-list-item__content {
      display: none !important; } }
  @media screen and (min-width: 1024px) {
    .product-whats-inside__info-detail.active .product-whats-inside__info-list-item__content {
      display: block !important; } }
  .product-whats-inside__info-list-item__content {
    display: none;
    padding: 10px 0 20px;
    font-size: 14px; }
    @media screen and (min-width: 1024px) {
      .product-whats-inside__info-list-item__content {
        padding: 0 40px 0 40px; } }
    .product-whats-inside__info-list-item__content p, .product-whats-inside__info-list-item__content a {
      font-size: 14px;
      margin-bottom: 10px; }
      @media screen and (min-width: 1024px) {
        .product-whats-inside__info-list-item__content p, .product-whats-inside__info-list-item__content a {
          font-size: 16px;
          margin-bottom: 15px; } }
  .product-whats-inside__info-detail-more {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700; }
    .product-whats-inside__info-detail-more:hover {
      text-decoration: underline; }
  .product-whats-inside__footer {
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .product-whats-inside__footer {
        padding-top: 0;
        padding-bottom: 60px; } }
    @media screen and (min-width: 1024px) {
      .product-whats-inside__footer {
        padding-top: 15px;
        padding-bottom: 80px; } }
  @media screen and (min-width: 768px) {
    .product-whats-inside__footer-body {
      max-height: 100%;
      overflow: visible; } }
  .product-whats-inside__footer-title {
    color: #354657;
    text-align: center;
    font-size: 20px;
    line-height: 50px; }
    @media screen and (min-width: 768px) {
      .product-whats-inside__footer-title {
        font-size: 20px;
        line-height: 1.4; } }
  .product-whats-inside__footer-content,
  .product-whats-inside__footer-content p {
    color: #84909B;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: normal; }
    @media screen and (min-width: 768px) {
      .product-whats-inside__footer-content,
      .product-whats-inside__footer-content p {
        font-size: 14px; } }
  .product-whats-inside__footer-content {
    margin-bottom: 12px;
    text-align: center;
    max-height: 1500px;
    transition: all ease-in-out 0.3s;
    overflow: hidden; }
    @media screen and (min-width: 768px) {
      .product-whats-inside__footer-content {
        max-width: 1000px;
        margin: 0 auto 23px; } }
    .product-whats-inside__footer-content--clipped {
      max-height: 100px; }
  .product-whats-inside__js-read-more {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 500; }
  .product-whats-inside__js-read-less-text {
    display: none; }
  .product-whats-inside__footer-view-more {
    text-align: center;
    padding-top: 15px;
    display: block; }
    @media screen and (min-width: 768px) {
      .product-whats-inside__footer-view-more {
        display: none; } }
    .product-whats-inside__footer-view-more a {
      font-size: 16px;
      line-height: 16px;
      font-weight: 800;
      text-decoration: none; }
      .product-whats-inside__footer-view-more a:hover {
        text-decoration: underline; }
  .product-whats-inside__title-before {
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-size: 16px;
    line-height: 22px; }
    @media screen and (max-width: 767px) {
      .product-whats-inside__title-before {
        margin-bottom: 5px;
        margin-top: 13px !important; } }
    @media screen and (min-width: 768px) {
      .product-whats-inside__title-before {
        padding-top: 50px;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 10px; } }
    @media screen and (min-width: 1024px) {
      .product-whats-inside__title-before {
        padding-top: 60px; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .product-whats-inside__title-before {
        margin-bottom: 5px;
        font-size: 18px;
        padding-top: 35px; } }
  @media screen and (min-width: 768px) {
    .product-whats-inside--alt .product-whats-inside__wrap-item {
      width: 100%; } }
  @media screen and (min-width: 768px) {
    .product-whats-inside--alt .product-whats-inside__pic {
      max-height: 100%;
      flex: 0.8; } }
  @media screen and (min-width: 768px) {
    .product-whats-inside--alt .product-whats-inside__info-list-item__copy {
      flex: 1.2;
      display: flex;
      flex-direction: column; } }
  .product-whats-inside--alt .product-whats-inside__info-list-item__copy ul:not(.body-system-list) {
    margin-top: 0;
    padding-left: 5px;
    list-style: none; }
    .product-whats-inside--alt .product-whats-inside__info-list-item__copy ul:not(.body-system-list) li::before {
      content: "-";
      position: relative;
      left: -5px; }
  @media screen and (min-width: 768px) {
    .product-whats-inside--alt .product-whats-inside__pic {
      display: flex;
      align-items: flex-start;
      justify-content: center; } }
  @media screen and (min-width: 768px) {
    .product-whats-inside--alt .product-whats-inside__pic img {
      max-height: 350px; } }
  @media screen and (min-width: 768px) {
    .product-whats-inside--alt .product-whats-inside__info-detail-more {
      margin-top: 0;
      margin-bottom: 20px;
      margin-left: 5px;
      font-size: 16px; } }
  @media screen and (min-width: 768px) {
    .product-whats-inside--alt .product-whats-inside__info-detail.active .product-whats-inside__info-list-item__content {
      display: flex !important;
      height: 100%; } }
  .product-whats-inside--alt .product-whats-inside__info-details {
    width: 100%; }
    @media screen and (min-width: 1024px) {
      .product-whats-inside--alt .product-whats-inside__info-details {
        display: flex; } }
  .product-whats-inside--alt .body-system-list {
    margin-top: 20px;
    margin-bottom: 0; }
  .product-whats-inside--alt .product-whats-inside__pic img {
    max-height: 250px;
    margin-top: 20px;
    margin-bottom: 20px; }
    @media screen and (min-width: 768px) {
      .product-whats-inside--alt .product-whats-inside__pic img {
        margin-top: 0;
        margin-bottom: 0;
        max-height: 400px; } }
  .product-whats-inside--alt .product-whats-inside__info-list-item-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700; }
  .product-whats-inside--dark .product-whats-inside__info-detail-more,
  .product-whats-inside--dark .product-resources__cta-link {
    color: #354657; }
  @media screen and (max-width: 767px) {
    .product-whats-inside--simple .product-whats-inside__wrap-item--image {
      display: block; } }
  @media screen and (max-width: 767px) {
    .product-whats-inside--simple .product-whats-inside__wrap-item--image .product-whats-inside__pic {
      margin: 0 0 20px 0; } }
  @media screen and (max-width: 767px) {
    .product-whats-inside--simple .product-whats-inside__title {
      font-size: 30px;
      line-height: 30px;
      justify-content: flex-start;
      margin-bottom: 20px; } }
  @media screen and (min-width: 480px) {
    .product-whats-inside--simple .product-whats-inside__title {
      padding-top: 0; } }
  @media screen and (min-width: 768px) {
    .product-whats-inside--simple .product-whats-inside__title {
      padding-top: 0; } }
  @media screen and (min-width: 1024px) {
    .product-whats-inside--simple .product-whats-inside__title {
      padding-top: 0; } }
  @media screen and (min-width: 1440px) {
    .product-whats-inside--simple .product-whats-inside__title {
      padding-top: 0;
      margin-bottom: 10px; } }
  .product-whats-inside--simple .product-whats-inside__tab-wrap {
    padding-top: 0; }
    @media screen and (min-width: 1024px) {
      .product-whats-inside--simple .product-whats-inside__tab-wrap {
        padding-top: 20px; } }
    @media screen and (min-width: 1440px) {
      .product-whats-inside--simple .product-whats-inside__tab-wrap {
        padding-top: 25px; } }
  .product-whats-inside--simple .product-whats-inside__content {
    width: 100%; }
  .product-whats-inside--simple .product-whats-inside__info-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none outside none;
    margin: 0;
    padding: 0; }
    @media screen and (max-width: 767px) {
      .product-whats-inside--simple .product-whats-inside__info-list {
        margin-bottom: 15px; } }
  .product-whats-inside--simple .product-whats-inside__info-list-item {
    cursor: default;
    color: #354657 !important;
    width: 100%;
    padding: 0;
    font-weight: 700;
    text-align: left;
    border-bottom: none;
    margin-left: 26px;
    font-size: 16px; }
    @media screen and (max-width: 767px) {
      .product-whats-inside--simple .product-whats-inside__info-list-item {
        margin-bottom: 15px; } }
    @media screen and (min-width: 768px) {
      .product-whats-inside--simple .product-whats-inside__info-list-item {
        min-height: 45px;
        width: 43%;
        text-align: left;
        font-size: 20px; } }
    .product-whats-inside--simple .product-whats-inside__info-list-item::before {
      background-color: #A25EB5; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .product-whats-inside--simple .product-whats-inside__info-list-item {
        font-size: 16px;
        min-height: 25px;
        width: 37%; } }
  .product-whats-inside--simple .product-whats-inside__pic {
    overflow: hidden;
    border-radius: 5px;
    height: auto;
    margin: 60px 20px 40px 0;
    line-height: 0; }
    @media screen and (min-width: 768px) {
      .product-whats-inside--simple .product-whats-inside__pic {
        margin: 60px 20px 40px 0; } }
    @media screen and (min-width: 1440px) {
      .product-whats-inside--simple .product-whats-inside__pic {
        margin: 80px 80px 60px 0; } }
  @media screen and (max-width: 767px) {
    .product-whats-inside--simple .product-whats-inside__footer-title {
      font-size: 16px;
      line-height: 28px; } }
  @media screen and (max-width: 767px) {
    .product-whats-inside--simple .product-whats-inside__footer-body {
      max-height: initial; } }
  .product-whats-inside--simple .product-whats-inside__footer-view-more {
    display: none; }

.clip-word {
  transition: all ease-in-out 0.3s;
  max-height: 800px;
  overflow: hidden; }
  .clip-word--clipped {
    max-height: 200px; }
  .clip-word__more-link {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #EEEEEE; }
    .clip-word__more-link--block {
      display: block; }
