.product-whats-inside-kit__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 40px;
  position: relative; }
  @media screen and (min-width: 768px) {
    .product-whats-inside-kit__wrap {
      padding-top: 0;
      width: 100%; } }

.product-whats-inside-kit__wrap-item {
  background-color: #FFFFFF;
  width: 100%; }
  .product-whats-inside-kit__wrap-item--image {
    order: 1;
    text-align: center; }
    @media screen and (min-width: 1024px) {
      .product-whats-inside-kit__wrap-item--image {
        order: 2;
        display: block;
        overflow: hidden; } }

.product-whats-inside-kit__title {
  font-size: 30px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 35px; }
  @media screen and (min-width: 480px) {
    .product-whats-inside-kit__title {
      padding-top: 75px;
      font-size: 40px;
      line-height: 20px;
      align-items: flex-end;
      justify-content: flex-start; } }
  @media screen and (min-width: 1024px) {
    .product-whats-inside-kit__title {
      align-items: flex-end;
      padding-top: 75px;
      font-size: 64px;
      line-height: 64px; } }

.product-whats-inside-kit__title-pic {
  display: block;
  margin-right: 20px; }
  @media screen and (min-width: 768px) {
    .product-whats-inside-kit__title-pic {
      display: none; } }

.product-whats-inside-kit__content {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 1024px) {
    .product-whats-inside-kit__content {
      flex-direction: row; } }
  @media only screen and (min-width: 769px) {
    .product-whats-inside-kit__content.inactive {
      display: none; } }

.product-whats-inside-kit__info {
  padding: 0;
  width: 100%; }
  @media screen and (min-width: 1024px) {
    .product-whats-inside-kit__info {
      padding: 30px 0; } }

.product-whats-inside-kit__tab-wrap {
  display: flex;
  align-items: flex-start;
  padding-top: 40px; }
  @media screen and (min-width: 768px) {
    .product-whats-inside-kit__tab-wrap {
      align-items: stretch; } }

.product-whats-inside-kit__info-list {
  width: 100%;
  order: 2; }
  @media screen and (min-width: 1024px) {
    .product-whats-inside-kit__info-list {
      order: 1;
      width: auto;
      margin-right: 60px; } }

.product-whats-inside-kit__info-list-title {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
  display: none; }
  @media screen and (min-width: 768px) {
    .product-whats-inside-kit__info-list-title {
      display: block; } }

.product-whats-inside-kit__info-list-item {
  color: #354657;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  display: block;
  border-bottom: 1px solid #EEEEEE;
  padding: 10px 0;
  cursor: pointer;
  padding: 10px 60px 10px 10px;
  background-image: url(/images/icons/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: right 5px center;
  min-width: 100%;
  transition: all .3s; }
  @media screen and (min-width: 1024px) {
    .product-whats-inside-kit__info-list-item {
      min-width: 360px;
      width: 360px;
      border: none;
      font-weight: 600;
      font-size: 20px;
      line-height: 1.2; } }
  .product-whats-inside-kit__info-list-item:last-of-type {
    border: none; }
  .product-whats-inside-kit__info-list-item:hover, .product-whats-inside-kit__info-list-item:active, .product-whats-inside-kit__info-list-item:focus, .product-whats-inside-kit__info-list-item.active {
    background-color: #F4F8FE;
    background-image: url(/images/icons/arrow-right-brand.svg);
    color: #BD8BCA; }

.product-whats-inside-kit__back-btn {
  height: 24px;
  margin-right: 10px;
  margin-bottom: -5px; }

.product-whats-inside-kit__info-list-item--back {
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  font-weight: 800;
  color: #354657 !important;
  text-decoration: none;
  display: block;
  cursor: pointer;
  border-bottom: 1px solid #EEEEEE; }
  @media screen and (min-width: 1024px) {
    .product-whats-inside-kit__info-list-item--back {
      padding: 10px 20px 10px 0;
      border: none; } }

.product-whats-inside-kit__info-details {
  width: 100%; }

@media only screen and (max-width: 1023px) {
  .product-whats-inside-kit__info-detail {
    transform: translate(100%, 0);
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: transform .3s ease-in-out; }
    .product-whats-inside-kit__info-detail.active {
      transform: translate(0, 0); }
    .product-whats-inside-kit__info-detail.inactive {
      transform: translate(100%, 0); }
    .product-whats-inside-kit__info-detail.active.inactive {
      transform: translate(-100%, 0); } }

@media only screen and (min-width: 1024px) {
  .product-whats-inside-kit__info-detail {
    display: none; }
    .product-whats-inside-kit__info-detail.active {
      display: block; }
    .product-whats-inside-kit__info-detail.inactive {
      display: none; } }

.product-whats-inside-kit__info-detail .icon--cross {
  position: absolute;
  top: 12px;
  right: 10px;
  opacity: 0.5; }
  @media screen and (min-width: 1024px) {
    .product-whats-inside-kit__info-detail .icon--cross {
      display: none; } }

.product-whats-inside-kit__info-list-item__content {
  height: 100%;
  padding: 10px 0 100px;
  font-size: 16px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden; }
  @media screen and (min-width: 1024px) {
    .product-whats-inside-kit__info-list-item__content {
      padding: 30px 0; } }
  .product-whats-inside-kit__info-list-item__content ul {
    width: 100%;
    list-style: none;
    padding: 0 10px 0 20px;
    line-height: 1.5;
    margin: 0; }
    @media screen and (min-width: 1024px) {
      .product-whats-inside-kit__info-list-item__content ul {
        height: 460px;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0; } }
    .product-whats-inside-kit__info-list-item__content ul li {
      cursor: pointer;
      padding: 7px 0;
      border-bottom: 1px solid #EEEEEE;
      background-image: url(/images/icons/arrow-right-brand.svg);
      background-repeat: no-repeat;
      background-position: right 5px center; }
      @media screen and (min-width: 1024px) {
        .product-whats-inside-kit__info-list-item__content ul li {
          padding: 1px 0;
          background: none;
          border: none; } }
      .product-whats-inside-kit__info-list-item__content ul li:hover {
        text-decoration: underline;
        color: #BD8BCA; }
  .product-whats-inside-kit__info-list-item__content p,
  .product-whats-inside-kit__info-list-item__content a {
    font-size: 14px;
    margin-bottom: 10px; }
    @media screen and (min-width: 1024px) {
      .product-whats-inside-kit__info-list-item__content p,
      .product-whats-inside-kit__info-list-item__content a {
        font-size: 16px;
        margin-bottom: 15px; } }

.product-whats-inside-kit__info-list-item__inner {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 60px);
  padding: 20px 20px 100px; }
  @media screen and (min-width: 1024px) {
    .product-whats-inside-kit__info-list-item__inner {
      padding: 30px 0 0;
      height: auto;
      flex-direction: row; } }
  .product-whats-inside-kit__info-list-item__inner .product-whats-inside-kit__pic {
    order: 1;
    text-align: center;
    padding: 20px 0 40px;
    max-width: 280px; }
    @media screen and (min-width: 1024px) {
      .product-whats-inside-kit__info-list-item__inner .product-whats-inside-kit__pic {
        order: 2;
        padding: 0;
        min-width: 220px; } }
    .product-whats-inside-kit__info-list-item__inner .product-whats-inside-kit__pic img {
      max-width: 100%; }

.product-whats-inside-kit__info-list-item__copy {
  display: flex;
  flex-direction: column;
  order: 2; }
  @media screen and (min-width: 1024px) {
    .product-whats-inside-kit__info-list-item__copy {
      order: 1;
      flex-direction: row; } }
  .product-whats-inside-kit__info-list-item__copy--column {
    flex: 1;
    padding: 0 0 30px 0; }
    @media screen and (min-width: 1024px) {
      .product-whats-inside-kit__info-list-item__copy--column {
        padding: 0 5% 0 0; } }
  .product-whats-inside-kit__info-list-item__copy ul.custom-list {
    margin: 0; }
  .product-whats-inside-kit__info-list-item__copy ul.custom-list li::before {
    background: #BD8BCA !important; }
  .product-whats-inside-kit__info-list-item__copy .body-system-list__item {
    margin-bottom: 30px; }

@media only screen and (max-width: 1023px) {
  .product-whats-inside-kit__info-list-item__pane__detail {
    transform: translate(100%, 0);
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: transform .3s ease-in-out; }
    .product-whats-inside-kit__info-list-item__pane__detail.active {
      transform: translate(0, 0); } }

@media only screen and (min-width: 1024px) {
  .product-whats-inside-kit__info-list-item__pane__detail {
    display: none; }
    .product-whats-inside-kit__info-list-item__pane__detail.active {
      display: block; } }

.product-whats-inside-kit__info-list-item__pane__detail .icon--cross {
  position: absolute;
  top: 12px;
  right: 10px;
  opacity: 0.5; }
  @media screen and (min-width: 1024px) {
    .product-whats-inside-kit__info-list-item__pane__detail .icon--cross {
      display: none; } }

.product-whats-inside-kit__info-detail-more {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  margin-top: 30px !important;
  display: none; }
  @media screen and (min-width: 1024px) {
    .product-whats-inside-kit__info-detail-more {
      display: block; } }
  .product-whats-inside-kit__info-detail-more:hover {
    text-decoration: underline; }
  .product-whats-inside-kit__info-detail-more.button {
    width: 271px;
    margin: 30px auto !important;
    display: block !important; }
    @media screen and (min-width: 1024px) {
      .product-whats-inside-kit__info-detail-more.button {
        display: none !important; } }

.product-whats-inside-kit__footer {
  background: #BD8BCA; }
  .product-whats-inside-kit__footer__inner {
    padding: 30px 0;
    margin: 20px 0;
    color: #fff;
    text-align: center;
    align-items: center; }
    @media screen and (min-width: 1024px) {
      .product-whats-inside-kit__footer__inner {
        margin: 0;
        display: flex;
        text-align: left; } }
  .product-whats-inside-kit__footer__title {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 1.1;
    white-space: nowrap; }
    @media screen and (min-width: 1024px) {
      .product-whats-inside-kit__footer__title {
        font-size: 30px; } }
  .product-whats-inside-kit__footer__subtitle {
    font-weight: 500;
    font-size: 22px;
    font-style: italic;
    display: block; }
    @media screen and (min-width: 1024px) {
      .product-whats-inside-kit__footer__subtitle {
        font-size: 30px; } }
  .product-whats-inside-kit__footer__text {
    padding: 20px 0 0; }
    @media screen and (min-width: 1024px) {
      .product-whats-inside-kit__footer__text {
        padding: 0 20% 0 60px; } }
