.promo__image {
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 15px 0 rgba(51, 51, 51, 0.2);
  margin-bottom: 20px;
  display: flex; }
  @media screen and (min-width: 768px) {
    .promo__image {
      border-radius: 5px;
      margin-bottom: 0; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .promo__image {
      margin-bottom: 20px; } }
  .promo__image .promo__item-block {
    margin-bottom: 0;
    min-height: 300px; }
    @media screen and (min-width: 1440px) {
      .promo__image .promo__item-block {
        min-height: 400px; } }
  .promo__image .promo__image__image {
    transition: transform .2s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center; }
  .promo__image .promo__item__link {
    display: block;
    width: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    border-radius: 5px; }
  .promo__image .promo__item-block-body {
    z-index: 10;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    flex: 1; }
  .promo__image .promo__item-title {
    width: 100%;
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 25px; }
    @media screen and (min-width: 480px) {
      .promo__image .promo__item-title {
        font-size: 38px; } }
    @media screen and (min-width: 1024px) {
      .promo__image .promo__item-title {
        font-size: 48px; } }
  .promo__image .ui.button.basic.white {
    background-color: transparent !important; }
    .promo__image .ui.button.basic.white:hover, .promo__image .ui.button.basic.white:active, .promo__image .ui.button.basic.white:focus {
      background-color: transparent !important;
      color: white !important;
      border-color: white !important; }

.promo__image--zoom:hover {
  cursor: pointer; }
  .promo__image--zoom:hover .promo__image__image {
    transform: scale(1.05); }
