.promo {
  margin-bottom: 30px; }
  @media screen and (max-width: 767px) {
    .promo .ui.container {
      margin-left: 0 !important;
      margin-right: 0 !important; } }
  @media screen and (min-width: 768px) {
    .promo {
      margin-bottom: 2%;
      margin-top: 30px;
      position: relative;
      z-index: 10; } }
  .promo--pull-up {
    margin-top: -40px; }
  .promo__wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
    @media screen and (min-width: 1024px) {
      .promo__wrap {
        flex-direction: row; } }
    .promo__wrap .tracking {
      width: calc(50% - 10px); }
    .promo__wrap .countdown {
      width: calc(50% - 10px); }
    .promo__wrap + .promo__wrap {
      margin-top: 20px; }
  .promo__item-drop-title-amnt {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 8px; }
    @media screen and (min-width: 480px) {
      .promo__item-drop-title-amnt {
        flex-direction: row; } }
    @media screen and (min-width: 768px) {
      .promo__item-drop-title-amnt {
        padding-top: 0; } }
  .promo__item-label {
    display: none; }
    @media screen and (min-width: 768px) {
      .promo__item-label {
        display: block; } }
  .promo__item-title {
    font-size: 20px; }
    @media screen and (min-width: 768px) {
      .promo__item-title {
        font-size: 30px; } }
  .promo__item-progress {
    max-width: 100%;
    width: 310px;
    margin: auto;
    margin: 20px auto 25px; }
    @media screen and (min-width: 480px) {
      .promo__item-progress {
        margin: 30px auto 15px; } }
  .promo__item-progress-bar {
    height: 44px;
    border-radius: 20px;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border: solid 2px rgba(149, 192, 241, 0.5);
    background-color: #f5f5f5;
    overflow: hidden;
    position: relative; }
  .promo__item-progress-bar-lvl {
    transition: all ease-in-out 0.3s;
    background: #BD8BCA;
    height: 40px;
    border-radius: 20px;
    margin-left: -2px; }
  .promo__item-progress-bar-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; }
    .promo__item-progress-bar-data .icon--rewards {
      margin-left: 4px; }
  .promo__item-progress-bar-stat {
    background: #FFFFFF;
    height: 32px;
    width: 32px;
    border-radius: 100%;
    margin-right: 4px;
    font-size: 12px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    color: #BD8BCA;
    opacity: 0.5; }
    .promo__item-progress-bar-stat--complete {
      opacity: 1;
      position: absolute;
      left: 65%;
      transform: translateX(-38px); }
      .promo__item-progress-bar-stat--complete > span {
        height: 32px;
        width: 32px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center; }
  .promo__item-progress-bar-stat-icon {
    position: absolute;
    top: 0;
    right: 0; }
    .promo__item-progress-bar-stat-icon::before {
      font-size: 4px;
      width: 10px;
      height: 10px;
      background-color: #7BB739;
      border-radius: 100%;
      border: 1px solid #FFFFFF;
      position: absolute;
      top: 0;
      right: 0; }
  .promo__item-block {
    background: #FFFFFF;
    box-shadow: 0 2px 15px 0 rgba(51, 51, 51, 0.2);
    display: flex;
    padding: 20px 20px 30px;
    justify-content: space-between;
    position: relative;
    height: 100%;
    flex-direction: column;
    margin-bottom: 20px;
    transition: all 0.3s; }
    @media screen and (min-width: 480px) {
      .promo__item-block {
        border-radius: 5px; } }
    @media screen and (min-width: 768px) {
      .promo__item-block {
        padding: 20px;
        flex-direction: row;
        min-width: calc(50% - 10px); } }
    @media screen and (min-width: 1024px) {
      .promo__item-block {
        margin-bottom: 0; } }
    .promo__item-block--fw {
      width: 100%; }
    .promo__item-block--auto-height {
      height: auto; }
    .promo__item-block--title-push .promo__item-title.promo__item-title--define {
      margin: 0 0 30px; }
    .promo__item-block--bg-shape {
      background-position: top center;
      background-repeat: no-repeat;
      background-color: white; }
    @media screen and (min-width: 768px) {
      .promo__item-block--w50dt {
        width: 50%; } }
    .promo__item-block:hover {
      box-shadow: 0 2px 15px 0 rgba(51, 51, 51, 0.3); }
  .promo__item-drop-results {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px; }
    @media screen and (min-width: 768px) {
      .promo__item-drop-results {
        margin-bottom: 70px; } }
  .promo__item-drop-result {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 7px; }
    @media screen and (max-width: 320px) {
      .promo__item-drop-result {
        flex-wrap: wrap;
        margin-bottom: 15px; } }
    @media screen and (min-width: 768px) {
      .promo__item-drop-result {
        margin-top: 10px;
        margin-bottom: 0; } }
  .promo__item-drops {
    display: flex;
    justify-content: flex-end; }
    @media screen and (max-width: 320px) {
      .promo__item-drops {
        justify-content: flex-start; } }
    @media screen and (min-width: 768px) {
      .promo__item-drops {
        margin-right: 0; } }
  .promo__item-block-body {
    padding: 20px 0 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 768px) {
      .promo__item-block-body {
        padding: 20px 60px; } }
    @media screen and (min-width: 768px) {
      .promo__item-block-body--padding-small {
        padding: 40px 40px 20px; } }
  .promo__item-block-pic {
    width: 100%;
    position: relative;
    display: flex;
    min-height: 350px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    @media screen and (min-width: 768px) {
      .promo__item-block-pic {
        min-height: auto;
        width: 50%;
        width: calc(50% - 10px); } }
    .promo__item-block-pic--blue {
      background: rgba(98, 180, 230, 0.1) !important; }
    .promo__item-block-pic--orange {
      background: rgba(239, 158, 31, 0.1) !important; }
  .promo__item-inner-pic {
    margin-top: 45px; }
    @media screen and (min-width: 768px) {
      .promo__item-inner-pic {
        margin-top: 55px; } }
  .promo__item-inner-img {
    max-height: 200px; }
  .promo__item-title {
    font-weight: 500;
    text-align: center;
    font-size: 6vw;
    line-height: 1.13;
    margin-top: 20px;
    margin-bottom: 10px; }
    @media screen and (min-width: 768px) {
      .promo__item-title {
        margin-top: 20px;
        font-size: 30px; } }
    .promo__item-title--define {
      font-weight: 800; }
    .promo__item-title--bold {
      font-weight: 800 !important; }
    .promo__item-title--bold-red strong {
      color: #DE6C6C !important;
      font-weight: 800; }
  .promo__item-pic {
    margin-top: 20px;
    text-align: center; }
    .promo__item-pic img {
      max-height: 100%;
      height: auto; }
      @media screen and (min-width: 768px) {
        .promo__item-pic img {
          max-width: 340px;
          max-height: 300px; } }
  .promo__item-pic--grayscale img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.5; }
  .promo__item-toggler {
    text-align: center; }
  .promo__item-block-pic-icon {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 40px;
    height: 40px;
    z-index: 50;
    background: #BD8BCA;
    border-radius: 80px; }
    .promo__item-block-pic-icon span {
      left: 0;
      top: 1px; }
  .promo__item-block-pic-details {
    display: flex;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    padding-bottom: 35px;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column; }
  .promo__item-block-pic-details-row {
    color: #354657;
    font-weight: 700; }
    @media screen and (min-width: 768px) {
      .promo__item-block-pic-details-row {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px; } }
    .promo__item-block-pic-details-row:first-child {
      font-weight: 600; }
    .promo__item-block-pic-details-row--lt {
      text-decoration: line-through; }
    .promo__item-block-pic-details-row--it {
      font-style: italic; }
    .promo__item-block-pic-details-row--fwsb {
      font-weight: 600; }
  .promo__block-content {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #354657; }
    .promo__block-content:hover, .promo__block-content:active, .promo__block-content:focus {
      text-decoration: none;
      color: #354657; }
  .promo__item-badge {
    position: absolute;
    left: 0;
    height: 34px;
    width: 100px;
    background: url("/images/promo-tag-notext.svg") top right no-repeat transparent;
    background-size: contain;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    top: 20px; }
    @media screen and (min-width: 768px) {
      .promo__item-badge {
        top: 20px; } }
  .promo__item-badge-text {
    position: relative;
    left: -5px;
    font-size: 14px;
    font-weight: 800; }
  .promo__item-copy {
    text-align: center;
    font-size: 16px;
    margin-top: auto;
    margin-bottom: 10px; }
    @media screen and (min-width: 768px) {
      .promo__item-copy {
        line-height: 1.6;
        font-size: 20px;
        margin-bottom: 20px; } }
    .promo__item-copy--margin-standard {
      margin-top: 20px;
      margin-bottom: 20px; }
    .promo__item-copy--sm {
      font-size: 16px; }
    .promo__item-copy--mt {
      margin-top: 20px; }
    .promo__item-copy + div {
      margin-top: 15px; }
      @media screen and (min-width: 768px) {
        .promo__item-copy + div {
          margin-top: 25px; } }
  .promo__item-copy-ctas {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    align-self: center; }
    .promo__item-copy-ctas a.ui.button {
      width: auto;
      margin-bottom: 15px; }
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
      .promo__item-copy-ctas .multi-loyalty-order {
        /* IE10+ specific styles */
        left: -45px !important; } }
  .promo__item-copy-strong {
    color: #7BB739;
    font-weight: 700; }
  .promo__item-copy-block {
    display: block; }
  .promo__item-copy-price {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    margin-left: -15px; }
    .promo__item-copy-price--retail {
      font-weight: 500; }
    .promo__item-copy-price--wholesale {
      font-weight: 700; }
    .promo__item-copy-price--mgb {
      margin-bottom: 10px; }
    .promo__item-copy-price--pv {
      color: #A25EB5;
      font-weight: 500;
      font-size: 16px !important;
      margin-bottom: 20px;
      margin: 5px 0 15px;
      width: 100%; }
      .promo__item-copy-price--pv .promo__item-copy-price-label {
        width: 100%;
        text-align: center;
        padding: 0; }
  .promo__item-copy-price-strike {
    text-decoration: line-through; }
  .promo__item-copy-price-label {
    min-width: 100px;
    padding-right: 15px;
    text-align: right; }
    .promo__item-copy-price-label--bold {
      font-weight: 700; }
    .promo__item-copy-price-label--regular {
      font-weight: 500; }
  .promo__item-copy-price-value--bold {
    font-weight: 700; }
  .promo__item-copy-price-value--regular {
    font-weight: 500; }
  .promo__item-copy-price-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .promo__item-ctas {
    text-align: center;
    margin-top: auto;
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center; }
    .promo__item-ctas a.ui.button {
      min-width: initial !important;
      max-width: 100%;
      margin-bottom: 0; }
      @media screen and (min-width: 1024px) {
        .promo__item-ctas a.ui.button {
          min-width: 220px !important; } }
    .promo__item-ctas--btn-fixed a.ui.button {
      min-width: 220px !important; }
  .promo__item-icons {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
  .promo__item-slider .ui.toggle.checkbox label {
    padding-left: 0;
    padding-right: 4em; }
  .promo__item-slider .ui.checkbox input,
  .promo__item-slider .ui.toggle.checkbox label:before {
    left: auto;
    padding-top: 2px;
    right: 0;
    font-size: xx-small;
    content: attr(data-content); }
  .promo__item-slider .ui.checkbox input,
  .promo__item-slider .ui.toggle.checkbox label.up:before {
    padding-left: 5px;
    color: white; }
  .promo__item-slider .ui.checkbox input,
  .promo__item-slider .ui.toggle.checkbox label.dn:before {
    padding-left: 24px;
    color: black; }
  .promo__item-slider .ui.toggle.checkbox label:after {
    left: auto;
    right: 1.75em;
    transition: background 0.3s ease 0s, right 0.3s ease 0s;
    margin-left: 3.2rem; }
  .promo__item-slider .ui.toggle.checkbox input:checked + label:after {
    left: auto;
    right: 0.5em;
    transition: background 0.3s ease 0s, right 0.3s ease 0s;
    margin-right: -0.5rem; }
  .promo__item-block--alt .promo__item-title {
    margin-top: 40px; }
    @media screen and (min-width: 768px) {
      .promo__item-block--alt .promo__item-title {
        margin-top: 20px; } }
  .promo__item-pom {
    position: relative;
    width: 300px;
    margin: 30px auto 30px; }
    @media screen and (min-width: 768px) {
      .promo__item-pom {
        margin: 30px auto 30px; } }
    .promo__item-pom-icon {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%); }
    .promo__item-pom-heading {
      margin-left: 80px;
      font-size: 20px;
      font-weight: bold;
      line-height: 1; }
    .promo__item-pom-copy {
      margin-left: 80px;
      font-size: 16px; }
  .promo__item-list {
    padding: 0;
    margin: 20px auto;
    max-width: 320px; }
    .promo__item-list-item {
      padding-left: 60px;
      font-size: 16px;
      font-weight: bold;
      list-style-type: none;
      position: relative;
      margin-bottom: 30px; }
      .promo__item-list-item span {
        display: flex;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        font-weight: 800;
        font-size: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0; }
        .promo__item-list-item span.circle--purple {
          border-radius: 20px;
          border: 2px solid #A25EB5;
          color: #A25EB5; }
        .promo__item-list-item span.circle--dark {
          border-radius: 20px;
          border: 2px solid #354657;
          color: #354657; }
        .promo__item-list-item span.unavailable {
          color: #D1D1D1; }
  .promo__item-date {
    width: 180px;
    height: 180px;
    margin: 0 auto 50px;
    position: relative; }
    .promo__item-date-icon {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      font-size: 6rem; }
    .promo__item-date-text {
      font-size: 60px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 2;
      font-weight: 800; }
  .promo__item {
    width: 100%;
    display: flex; }
    @media screen and (min-width: 1024px) {
      .promo__item {
        width: 50%;
        width: calc(50% - 10px);
        display: flex; } }
    @media screen and (min-width: 1024px) {
      .promo__item--lg {
        width: 70%; } }
    .promo__item--fw {
      width: 100%; }
    .promo__item--nds .promo__item-block {
      box-shadow: none; }
    .promo__item--alt1 .promo__item-badge {
      top: 30px; }
      @media screen and (min-width: 768px) {
        .promo__item--alt1 .promo__item-badge {
          top: 20px; } }
    .promo__item--alt1 .promo__item-block-pic {
      order: 1; }
      @media screen and (min-width: 768px) {
        .promo__item--alt1 .promo__item-block-pic {
          order: 2; } }
    .promo__item--alt1 .promo__item-block-body {
      width: 100%;
      order: 2; }
      @media screen and (min-width: 768px) {
        .promo__item--alt1 .promo__item-block-body {
          order: 1;
          width: 50%;
          padding: 20px 2%; } }
    .promo__item--alt1 .promo__item-title {
      font-weight: 500;
      text-align: left;
      margin-top: 10px; }
      @media screen and (min-width: 768px) {
        .promo__item--alt1 .promo__item-title {
          margin-top: 45px; } }
    .promo__item--alt1 .promo__item-copy {
      text-align: left; }
    .promo__item--alt1 .promo__item-pic {
      text-align: center; }
    .promo__item--alt1 .promo__item-toggler {
      text-align: center; }
    .promo__item--alt1 .promo__item-copy-strong {
      color: #A25EB5; }
    @media screen and (min-width: 1024px) {
      .promo__item--alt1 .promo__item-ctas {
        text-align: left; } }
    .promo__item--loyalty .promo__item-block-body {
      padding-left: 0;
      padding-right: 0; }
      @media screen and (min-width: 768px) {
        .promo__item--loyalty .promo__item-block-body {
          padding-left: 10px;
          padding-right: 10px; } }
    .promo__item--loyalty .promo__products {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px 0 10px;
      margin-bottom: -20px; }
      @media screen and (min-width: 768px) {
        .promo__item--loyalty .promo__products {
          flex-direction: row;
          margin-bottom: 0;
          padding-top: 35px; } }
    .promo__item--loyalty .promo__product {
      border: 2px solid #EEEEEE;
      border-radius: 5px;
      padding: 10px;
      position: relative;
      margin-bottom: 20px; }
      @media screen and (min-width: 768px) {
        .promo__item--loyalty .promo__product {
          width: 48%;
          padding: 15px 10px;
          margin-bottom: 0; } }
    .promo__item--loyalty .promo__success {
      position: absolute;
      top: -12px;
      right: -12px;
      width: 38px;
      height: 38px;
      z-index: 50;
      border-radius: 100%;
      background-color: #7BB739; }
      .promo__item--loyalty .promo__success [class*="icon--"] {
        font-size: 20px; }
    .promo__item--loyalty .promo__item-title {
      font-size: 20px;
      line-height: 28px;
      margin-top: 0;
      padding-right: 5px;
      padding-left: 5px; }
    .promo__item--loyalty .promo__item-pic > img {
      max-width: 175px;
      margin-left: auto;
      margin-right: auto; }
    .promo__item--loyalty .promo__item-copy-highlight {
      color: #A25EB5; }
  @media screen and (min-width: 1024px) {
    .promo__item--recipe {
      width: calc(50% - 10px);
      min-width: calc(50% - 10px); } }
  @media screen and (min-width: 768px) {
    .promo__item--recipe .promo__item-label {
      margin-top: 40px; } }
  .promo__item--recipe .promo__item-block,
  .promo__item--recipe .promo__item-block-body {
    width: 100%;
    padding-top: 40px; }
    @media screen and (min-width: 768px) {
      .promo__item--recipe .promo__item-block,
      .promo__item--recipe .promo__item-block-body {
        padding-top: 0;
        padding: 0 20px; } }
  .promo__item--recipe .promo__item-title {
    text-align: left;
    margin-top: 0;
    font-weight: 800; }
  .promo__item--recipe .promo__item-copy {
    text-align: left; }
  .promo__item--recipe .promo__block-content {
    color: #FFFFFF; }
  .promo__item--recipe .promo__item-drops {
    width: 122px; }
    @media screen and (max-width: 320px) {
      .promo__item--recipe .promo__item-drops {
        width: 100%; } }
  .promo__item--recipe .promo__item-drop {
    display: flex;
    align-items: center; }
  .promo__item--recipe .promo__item-drop-title {
    min-width: auto;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    align-items: center;
    padding-right: 10px; }
    @media screen and (min-width: 768px) {
      .promo__item--recipe .promo__item-drop-title {
        padding-left: 10px; } }
  .promo__item--recipe .promo__item-drop-amnt {
    font-size: 20px;
    font-style: italic;
    display: flex;
    align-items: center; }
  .promo__item-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
  .promo__rewards-header {
    display: flex;
    justify-content: space-between; }
  .promo__rewards-heading {
    display: inline-block; }
  .promo__rewards-link {
    display: inline;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none; }
    .promo__rewards-link:hover {
      text-decoration: underline; }
  .promo__rewards-wrap {
    width: 100%;
    border: 2px solid #A25EB5;
    border-radius: 5px;
    overflow: hidden; }
  .promo__rewards-block {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px; }
    .promo__rewards-block-heading {
      color: #FFFFFF;
      font-weight: 800;
      line-height: 1;
      margin-bottom: 10px;
      font-size: 38px; }
      @media screen and (min-width: 480px) {
        .promo__rewards-block-heading {
          font-size: 48px; } }
    .promo__rewards-block-subheading {
      color: #FFFFFF;
      font-weight: bold; }
    .promo__rewards-block-copy {
      color: #FFFFFF;
      font-size: 14px; }
    .promo__rewards-block--primary {
      background-color: #A25EB5;
      color: #FFFFFF;
      float: left;
      height: 100%; }
      .promo__rewards-block--primary .promo__rewards-block-heading {
        color: #FFFFFF; }
      .promo__rewards-block--primary .promo__rewards-block-subheading {
        color: #FFFFFF; }
      .promo__rewards-block--primary .promo__rewards-block-copy {
        color: #FFFFFF; }
    .promo__rewards-block--secondary {
      float: right;
      color: #A25EB5; }
      .promo__rewards-block--secondary .promo__rewards-block-heading {
        color: #A25EB5; }
      .promo__rewards-block--secondary .promo__rewards-block-subheading {
        color: #A25EB5; }
      .promo__rewards-block--secondary .promo__rewards-block-copy {
        color: #A25EB5; }
  .promo__rewards-image {
    margin: 20px auto; }
  .promo__rewards-disclaimer {
    color: #354657;
    font-style: italic;
    font-size: 14px;
    text-align: center; }
    .promo__rewards-disclaimer em {
      color: #A25EB5; }
  .promo__rewards-progress {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow-x: scroll; }
    @media screen and (min-width: 768px) {
      .promo__rewards-progress {
        overflow-x: initial; } }
  .promo__rewards-progress-item {
    border-radius: 5px;
    flex: 1;
    line-height: 1;
    border: 2px solid transparent;
    border-right: 2px solid #EEEEEE;
    margin-bottom: 10px;
    min-width: 37%; }
    @media screen and (min-width: 768px) {
      .promo__rewards-progress-item {
        min-width: initial;
        margin-bottom: 0; } }
    .promo__rewards-progress-item--active {
      border: 2px solid #A25EB5;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-left-width: 1px;
      border-right-width: 1px; }
      .promo__rewards-progress-item--active .promo__rewards-progress-head {
        color: #A25EB5; }
    .promo__rewards-progress-item--active-current {
      border: 2px solid #A25EB5;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-left-width: 1px; }
    .promo__rewards-progress-item--featured {
      height: 100%; }
      .promo__rewards-progress-item--featured .promo__rewards-progress-icon {
        width: 40px;
        height: 40px; }
      .promo__rewards-progress-item--featured .promo__rewards-progress-body {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-around; }
    .promo__rewards-progress-item:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-left-width: 2px; }
    .promo__rewards-progress-item:last-child {
      border-right: 2px solid transparent;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
      .promo__rewards-progress-item:last-child.promo__rewards-progress-item--active-current {
        border-right: 2px solid #A25EB5; }
  .promo__rewards-progress-head {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #C1C7CD;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 16px; }
    @media screen and (min-width: 480px) {
      .promo__rewards-progress-head {
        font-size: 20px; } }
  .promo__rewards-progress-body {
    display: flex;
    align-items: flex-start;
    justify-content: space-around; }
  .promo__rewards-progress-step {
    text-align: center; }
  .promo__rewards-progress-icon {
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media screen and (min-width: 480px) {
      .promo__rewards-progress-icon {
        width: 20px;
        height: 20px; } }
  .promo__rewards-progress-status {
    font-size: 14px;
    line-height: 1.43;
    font-weight: 700;
    color: #C1C7CD;
    padding-bottom: 10px; }
    .promo__rewards-progress-status--active {
      color: #A25EB5; }
  .promo--alt {
    background-color: #F5EEF7;
    padding-top: 20px;
    padding-bottom: 20px; }
    @media screen and (min-width: 768px) {
      .promo--alt {
        padding-top: 40px;
        padding-bottom: 40px; } }

.promo__item-complete {
  display: flex;
  align-items: center;
  margin: 10px auto 0;
  padding: 10px 0; }
  @media screen and (min-width: 768px) {
    .promo__item-complete {
      margin: 30px auto 0;
      padding: 10px 15px; } }
  .promo__item-complete__badge {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A25EB5;
    border: 2px solid #F5EEF7;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 100%;
    padding: 5px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    position: relative;
    margin-right: 20px; }
    @media screen and (min-width: 768px) {
      .promo__item-complete__badge {
        width: 80px;
        height: 80px;
        font-size: 30px; } }
  .promo__item-complete__badge-icon {
    position: absolute;
    top: -5px;
    right: -5px; }
    .promo__item-complete__badge-icon::before {
      font-size: 3px;
      width: 20px;
      height: 20px;
      background-color: #7BB739;
      border-radius: 100%;
      border: 1px solid #FFFFFF;
      position: absolute;
      top: 0;
      right: 0; }
      @media screen and (min-width: 768px) {
        .promo__item-complete__badge-icon::before {
          font-size: 3px;
          width: 30px;
          height: 30px; } }
  @media screen and (min-width: 768px) {
    .promo__item-complete__content {
      padding: 0 0 0 15px;
      max-width: 280px;
      width: 100%; } }
  .promo__item-complete__heading {
    color: #BD8BCA;
    font-size: 16px;
    font-style: italic;
    margin: 0;
    line-height: 1.3; }
    @media screen and (min-width: 768px) {
      .promo__item-complete__heading {
        line-height: 1.4;
        font-size: 20px; } }
  .promo__item-complete__text {
    font-size: 13px;
    line-height: 1.35; }
    @media screen and (min-width: 768px) {
      .promo__item-complete__text {
        font-size: 16px;
        line-height: 1.38; } }

.promo__item--theme-success .promo__item-block-pic-icon {
  background-color: #7BB739; }

.promo__item--theme-success .promo__item-copy-strong {
  color: #7BB739; }

.promo__item--theme-alert .promo__item-block-pic-icon {
  background-color: #fff; }

.promo__item--theme-alert .promo__item-copy-strong {
  color: #DE6C6C; }

.promo__item--theme-blue .promo__item-title strong {
  color: #5597E2; }

.promo__item--theme-blue .promo__item-progress-bar-lvl {
  background: #5597E2; }

.promo__item--theme-blue .promo__item-badge {
  background-image: url("/images/promo-tag-notext-blue.svg"); }

.promo__item--theme-blue .promo__item-progress-bar-stat {
  color: #5597E2; }

.promo__item--theme-blue .promo__item-progress-bar-data .icon--bag {
  left: 6px; }

.promo__item--theme-blue .promo__item-copy-highlight {
  color: #5597E2; }

.promo__item--theme-blue .promo__item-complete__badge {
  background-color: #5597E2;
  border-color: #F4F8FD; }

.promo__item--theme-blue .promo__item-complete__heading {
  color: #5597E2; }

.promo__item--theme-brand .promo__item-title strong {
  color: #BD8BCA; }

.promo__item--theme-brand .promo__item-progress-bar-lvl {
  background-image: linear-gradient(to right, #BD8BCA, #ac6ac1); }

.promo__item--theme-brand .promo__item-progress-bar-stat {
  color: #BD8BCA; }

.promo__item--theme-brand .promo__item-progress-bar-data .icon--bag {
  left: 6px; }

.promo__item--process-theme-white .promo__item-block {
  background: #ecebec url("/images/calendar-grey-bg.png");
  background-size: cover; }

.promo__item--process-theme-white .promo__item-ctas .ui.button.primary.basic, .promo__item--process-theme-white .promo__item-ctas .ui.button.primary.basic:hover, .promo__item--process-theme-white .promo__item-ctas .ui.button.primary.basic:focus {
  border-color: #DE6C6C !important;
  color: #DE6C6C !important; }

.promo__item--process-theme-white .promo__item-copy + div {
  margin-top: 0;
  padding-top: 0; }

.promo__item--process-theme-blue .promo__item-block {
  background: #95c0f1 url("/images/calendar-blue-bg.png");
  background-size: cover;
  color: #FFFFFF; }

.promo__item--process-theme-blue .promo__item-copy {
  color: #FFFFFF; }

.promo__item--process-theme-blue .promo__item-date-text {
  color: #FFFFFF; }

.promo__item--process-theme-blue .promo__item-ctas .ui.button.primary.basic, .promo__item--process-theme-blue .promo__item-ctas .ui.button.primary.basic:hover, .promo__item--process-theme-blue .promo__item-ctas .ui.button.primary.basic:focus {
  border-color: #FFFFFF !important;
  color: #FFFFFF !important; }

.promo__item--process-theme-blue .promo__item-copy + div {
  margin-top: 0;
  padding-top: 0; }

.owl-carousel .owl-stage-outer .promo__rewards-progress-item {
  min-width: initial; }
  .owl-carousel .owl-stage-outer .promo__rewards-progress-item:last-child {
    flex: initial;
    padding-left: 7px; }

@media screen and (min-width: 768px) {
  .promo__wrap > .promo__item-block.promo__item-block--bg-shape {
    max-width: calc(50% - 10px); } }

@media (min-width: 768px) and (max-width: 1023px) {
  .promo__wrap > .promo__item-block.promo__item-block--bg-shape {
    max-width: 100%; } }

.promo__rewards-progress::-webkit-scrollbar {
  display: none; }

.promo-banner {
  position: relative;
  background-color: #F5EEF7;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  border: solid 2px rgba(189, 139, 202, 0.1);
  padding: 15px 9px 15px 10px;
  min-height: 85px; }
  @media screen and (min-width: 768px) {
    .promo-banner {
      padding: 25px 20px;
      min-height: 95px;
      align-items: center; } }
  .promo-banner__ribbon {
    left: 25px;
    position: absolute;
    top: 0; }
    @media screen and (min-width: 480px) {
      .promo-banner__ribbon {
        left: 30px; } }
    @media screen and (min-width: 768px) {
      .promo-banner__ribbon {
        left: 39px; } }
    .promo-banner__ribbon.ribbon {
      z-index: 999;
      display: flex;
      align-items: center;
      position: absolute;
      left: 45px; }
      @media screen and (min-width: 768px) {
        .promo-banner__ribbon.ribbon {
          position: relative;
          margin-left: -20px;
          left: 30px; } }
      .promo-banner__ribbon.ribbon .ribbon__text {
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
        padding-top: 3px;
        padding-bottom: 3px;
        max-width: 115px; }
        @media screen and (min-width: 768px) {
          .promo-banner__ribbon.ribbon .ribbon__text {
            max-width: 225px;
            min-width: 105px; } }
        @media screen and (min-width: 1024px) {
          .promo-banner__ribbon.ribbon .ribbon__text {
            min-width: auto; } }
  .promo-banner__heading {
    font-size: 14px;
    line-height: 18px;
    margin-right: 20px;
    margin-bottom: 0;
    margin-left: 40px;
    text-align: left;
    font-weight: 700;
    position: relative;
    margin-left: 53px;
    margin-right: 80px;
    align-self: center; }
    @media screen and (min-width: 768px) {
      .promo-banner__heading {
        margin: 0;
        font-size: 20px;
        line-height: 28px;
        margin-right: 160px;
        margin-left: 20px; } }
    @media screen and (min-width: 1024px) {
      .promo-banner__heading {
        margin-left: 40px; } }
  .promo-banner__actions {
    position: absolute;
    right: 10px;
    z-index: 999;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center; }
  .promo-banner__btn.ui.button {
    margin-right: 0 !important;
    margin-bottom: 0 !important; }
    @media screen and (max-width: 767px) {
      .promo-banner__btn.ui.button {
        font-size: 12px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        min-width: 0 !important;
        width: 70px !important; } }
    @media screen and (min-width: 768px) {
      .promo-banner__btn.ui.button {
        min-width: 150px !important; } }
    @media (max-width: 374px) {
      .promo-banner__btn.ui.button {
        min-width: auto !important;
        padding-right: 10px !important;
        padding-left: 10px !important; } }
  .promo-banner--small {
    padding: 10px;
    padding-top: 0; }
    @media screen and (min-width: 768px) {
      .promo-banner--small {
        padding: 15px;
        padding-top: 0; } }
    .promo-banner--small .promo-banner__heading {
      margin-right: 80px; }
      @media screen and (min-width: 768px) {
        .promo-banner--small .promo-banner__heading {
          margin-left: 0;
          font-size: 16px;
          line-height: 20px; } }
    .promo-banner--small .promo-banner__btn.ui.button.small {
      font-size: 12px !important;
      padding-top: 6px !important;
      padding-bottom: 6px !important; }
      @media screen and (min-width: 768px) {
        .promo-banner--small .promo-banner__btn.ui.button.small {
          min-width: auto !important; } }
  @media screen and (max-width: 767px) {
    .promo-banner--toedge-xs {
      border-radius: 0;
      border-left: 0;
      border-right: 0; } }
  .promo-banner--mg {
    margin: 15px 10px; }
    @media screen and (min-width: 768px) {
      .promo-banner--mg {
        margin: 0 0 40px 0; } }
  .promo-banner--rotate-ribbon-dt {
    justify-content: flex-start; }
    @media screen and (min-width: 768px) {
      .promo-banner--rotate-ribbon-dt .promo-banner__ribbon {
        transform: rotate(0deg);
        left: -1px;
        top: calc(50% - 12px); } }

@media (max-width: 374px) {
  .mobile-menu .promo-banner__heading {
    margin-left: 40px; } }

.mobile-menu .promo-banner {
  align-items: flex-start; }

.mini-cart .promo-banner {
  align-items: flex-start; }

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  .promo__item-ctas {
    flex: auto !important; } }
