.shop-bysystem {
  padding-top: 25px; }
  @media screen and (min-width: 768px) {
    .shop-bysystem {
      padding-bottom: 2%;
      padding-top: 35px; } }
  .shop-bysystem__title {
    font-size: 26px;
    line-height: 28px;
    text-align: center;
    font-weight: 800;
    margin-bottom: 40px; }
    @media screen and (min-width: 768px) {
      .shop-bysystem__title {
        margin-bottom: 60px;
        font-size: 48px;
        line-height: 50px; } }
  .shop-bysystem__results {
    flex-wrap: wrap;
    margin: 40px 0 0;
    display: flex;
    justify-content: center;
    align-items: center; }
  .shop-bysystem__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    width: 33.33%;
    color: #354657;
    text-decoration: none; }
    @media screen and (min-width: 768px) {
      .shop-bysystem__item {
        flex: 0 0 calc(20% - 20px);
        min-height: 85px; } }
    .shop-bysystem__item:hover {
      color: #354657; }
      .shop-bysystem__item:hover .shop-bysystem__item-img {
        transform: scale(1.1) !important; }
  .shop-bysystem__item-img {
    width: 95px;
    text-align: center;
    min-height: 50px;
    transition: all .3s; }
    @media screen and (min-width: 768px) {
      .shop-bysystem__item-img {
        min-height: 100%; } }
    @media screen and (max-width: 767px) {
      .shop-bysystem__item-img [class*="icon--"] {
        font-size: 32px; } }
  .shop-bysystem__item-label {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    font-family: "rawline", sans-serif;
    margin-top: auto; }
    @media screen and (min-width: 768px) {
      .shop-bysystem__item-label {
        font-size: 20px; } }

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  .shop-bysystem__item {
    flex: 20% !important; } }
